<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    
   	<!--     提现申请 -->
    <!-- 声明需要暴露的服务接口  -->  
    <dubbo:service interface="com.rongyi.rss.tms.DebitNoteUploadService"  version="${dubbo.version}" ref="tmsDebitNoteUploadService" />  
    <!-- 和本地bean一样实现服务  -->  
    <bean id="tmsDebitNoteUploadService" class="com.rongyi.tms.service.impl.DebitNoteUploadServiceImpl" />  
     
    <dubbo:service interface="com.rongyi.rss.tms.AccountInfoService"  version="${dubbo.version}" ref="tmsAccountInfoService" />  
    <bean id="tmsAccountInfoService" class="com.rongyi.tms.service.impl.AccountInfoServiceImpl" />

    <dubbo:service interface="com.rongyi.rss.tms.DrawApplySearchService"  version="${dubbo.version}" ref="tmsDrawApplySearchService" />  
    <bean id="tmsDrawApplySearchService" class="com.rongyi.tms.service.impl.DrawApplySearchServiceImpl" />

    <dubbo:service interface="com.rongyi.rss.service.trigger.ISalesCommissionTrigger"  version="${dubbo.version}" ref="salesCommissionTrigger" />  
    <bean id="salesCommissionTrigger" class="com.rongyi.tms.service.impl.SalesCommissionTrigger" />

    <dubbo:service interface="com.rongyi.rss.service.trigger.ICommissionOverLimitCheckTrigger"  version="${dubbo.version}" ref="commissionOverLimitCheckTrigger" />
    <bean id="commissionOverLimitCheckTrigger" class="com.rongyi.tms.service.impl.CommissionOverLimitCheckTrigger" />
</beans>  