<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.tms.entity.xml.DrawVerifyLogMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.tms.entity.DrawVerifyLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="operate_biz" property="operateBiz" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="draw_apply_id" property="drawApplyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_at, create_name, operate_biz, memo, draw_apply_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from draw_verify_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByApplyId" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
  	<include refid="Base_Column_List" />
  	from draw_verify_log
  	where draw_apply_id=#{applyId,jdbcType=INTEGER} and memo is not null
  	
  </select>

  <select id="selectLatestByApplyId" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from draw_verify_log
    where draw_apply_id=#{applyId,jdbcType=INTEGER}
    order by create_at desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from draw_verify_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.tms.entity.DrawVerifyLog" useGeneratedKeys="true" keyProperty="id" >
    insert into draw_verify_log (create_at, create_name, operate_biz, 
      memo, draw_apply_id)
    values (#{createAt,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, #{operateBiz,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{drawApplyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.tms.entity.DrawVerifyLog" useGeneratedKeys="true" keyProperty="id" >
    insert into draw_verify_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      create_at,
      create_name,
      operate_biz,
      memo,
      draw_apply_id,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{createAt,jdbcType=TIMESTAMP},
      #{createName,jdbcType=VARCHAR},
      #{operateBiz,jdbcType=VARCHAR},
      #{memo,jdbcType=VARCHAR},
      #{drawApplyId,jdbcType=INTEGER},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.tms.entity.DrawVerifyLog" >
    update draw_verify_log
    <set >
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="operateBiz != null" >
        operate_biz = #{operateBiz,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="drawApplyId != null" >
        draw_apply_id = #{drawApplyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.tms.entity.DrawVerifyLog" >
    update draw_verify_log
    set create_at = #{createAt,jdbcType=TIMESTAMP},
      create_name = #{createName,jdbcType=VARCHAR},
      operate_biz = #{operateBiz,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      draw_apply_id = #{drawApplyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>