<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.tms.mapper.xml.SalesCommissionAuditLogMapper">
	<resultMap id="BaseResultMap" type="com.rongyi.easy.tms.entity.SalesCommissionAuditLog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sales_commission_id" property="salesCommissionId" jdbcType="INTEGER" />
		<result column="audit_user_id" property="auditUserId" jdbcType="VARCHAR" />
		<result column="operate_biz" property="operateBiz" jdbcType="INTEGER" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.rongyi.easy.tms.entity.SalesCommissionAuditLog" extends="BaseResultMap">
		<result column="memo" property="memo" typeHandler="com.rongyi.core.common.util.ConvertBlobTypeHandler" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sales_commission_id, audit_user_id, operate_biz, create_at
	</sql>
	<sql id="Blob_Column_List">
		memo
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from sales_commission_audit_log
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByCommissionId" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from sales_commission_audit_log
		where sales_commission_id = #{commissionId,jdbcType=INTEGER} and operate_biz=#{operate,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sales_commission_audit_log
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.rongyi.easy.tms.entity.SalesCommissionAuditLog"
		useGeneratedKeys="true" keyProperty="id">
		insert into sales_commission_audit_log (sales_commission_id, audit_user_id,
		operate_biz,
		create_at, memo)
		values (#{salesCommissionId,jdbcType=INTEGER},
		#{auditUserId,jdbcType=VARCHAR}, #{operateBiz,jdbcType=INTEGER},
		#{createAt,jdbcType=TIMESTAMP}, #{memo,jdbcType=LONGVARBINARY})
	</insert>
	<insert id="insertSelective" parameterType="com.rongyi.easy.tms.entity.SalesCommissionAuditLog"
		useGeneratedKeys="true" keyProperty="id">
		insert into sales_commission_audit_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			sales_commission_id,
			audit_user_id,
			operate_biz,
			create_at,
			memo,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{salesCommissionId,jdbcType=INTEGER},
			#{auditUserId,jdbcType=VARCHAR},
			#{operateBiz,jdbcType=INTEGER},
			#{createAt,jdbcType=TIMESTAMP},
			#{memo,jdbcType=LONGVARBINARY},
		</trim>
	</insert>
	<insert id="batchInsert" parameterType="java.util.List">
		insert into sales_commission_audit_log 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			sales_commission_id,
			audit_user_id,
			operate_biz,
			create_at,
			memo
		</trim>
		values
		<foreach collection="ids" item="item" index="index" separator="," >  
        (
        #{item,jdbcType=INTEGER},
        #{createUser,jdbcType=VARCHAR},
        #{operate,jdbcType=TINYINT},
        NOW(),
      
        #{memo,jdbcType=LONGVARBINARY}
        )  
    </foreach> 
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.tms.entity.SalesCommissionAuditLog">
		update sales_commission_audit_log
		<set>
			<if test="salesCommissionId != null">
				sales_commission_id = #{salesCommissionId,jdbcType=INTEGER},
			</if>
			<if test="auditUserId != null">
				audit_user_id = #{auditUserId,jdbcType=VARCHAR},
			</if>
			<if test="operateBiz != null">
				operate_biz = #{operateBiz,jdbcType=INTEGER},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=LONGVARBINARY},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rongyi.easy.tms.entity.SalesCommissionAuditLog">
		update sales_commission_audit_log
		set sales_commission_id = #{salesCommissionId,jdbcType=INTEGER},
		audit_user_id = #{auditUserId,jdbcType=VARCHAR},
		operate_biz = #{operateBiz,jdbcType=INTEGER},
		create_at = #{createAt,jdbcType=TIMESTAMP},
		memo = #{memo,jdbcType=LONGVARBINARY}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rongyi.easy.tms.entity.SalesCommissionAuditLog">
		update sales_commission_audit_log
		set sales_commission_id = #{salesCommissionId,jdbcType=INTEGER},
		audit_user_id = #{auditUserId,jdbcType=VARCHAR},
		operate_biz = #{operateBiz,jdbcType=INTEGER},
		create_at = #{createAt,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectFailedLog" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM sales_commission_audit_log
		WHERE sales_commission_id = #{salesCommissionId}
		ORDER BY create_at DESC;
	</select>

	<select id="selectLatestLogWithCommissionId" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		FROM sales_commission_audit_log
		WHERE sales_commission_id = #{salesCommissionId,jdbcType=INTEGER}
		ORDER BY create_at DESC;
	</select>
</mapper>