<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.tms.mapper.xml.TradeMapper">
	<resultMap id="BaseResultMap" type="com.rongyi.easy.tms.vo.TradeVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="draw_user_id" property="drawUserId" jdbcType="VARCHAR" />
		<result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="pay_no" property="payNo" jdbcType="VARCHAR" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
		<result column="transaction_id" property="transactionId"
			jdbcType="VARCHAR" />
		<result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
		<result column="shop_id" property="shopId" jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
		<result column="mall_id" property="mallId" jdbcType="VARCHAR" />
		<result column="mall_name" property="mallName" jdbcType="VARCHAR" />
		<result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
		<result column="seller_account" property="sellerAccount"
			jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="trade_type" property="tradeType" jdbcType="INTEGER" />
		<result column="pay_channel" property="payChannel" jdbcType="INTEGER" />
		<result column="seller_pay_type" property="sellerPayType"
			jdbcType="INTEGER" />
		<result column="seller_pay_account" property="sellerPayAccount"
			jdbcType="VARCHAR" />
		<result column="seller_pay_name" property="sellerPayName"
			jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="coupon_code" property="orderCouponCode" jdbcType="VARCHAR" />
		<result column="order_discount_info" property="orderDiscountInfo" jdbcType="VARCHAR" />
		<result column="cash_coupon_code" property="couponCashCouponCode" jdbcType="VARCHAR" />
		<result column="coupon_discunt_info" property="couponDiscuntInfo" jdbcType="VARCHAR" />
		
	</resultMap>

	<resultMap id="TradeDetailCountResultMap" type="com.rongyi.tms.moudle.vo.TradeDetailCount">
		<result column="total_count" property="totalCount" jdbcType="DECIMAL" />
		<result column="amount_count" property="amountCount" jdbcType="DECIMAL" />
		<result column="trade_type" property="tradeType" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, order_time, `status`, draw_user_id, order_price,
		order_no, pay_no,
		trade_no,
		transaction_id, trade_time, shop_id,
		shop_name, mail_id, mall_name, buyer_id,
		seller_account,
		seller_name,trade_type,pay_channel,seller_pay_type,seller_pay_account,seller_pay_name,order_type,coupon_code,order_discount_info,cash_coupon_code,coupon_discunt_info
	</sql>
	<sql id="trade_list_where_clause">
		<!-- 交易流水号 -->
		<if test="tradeNo != null and tradeNo != ''">
			AND trade_no = #{tradeNo}
		</if>
		<!-- 订单号 -->
		<if test="orderNo != null and orderNo != ''">
			AND order_no = #{orderNo}
		</if>
		<!-- 商场名称 -->
		<if test="mallName != null and mallName != ''">
			AND mall_name like
			concat('%',#{mallName,jdbcType=VARCHAR},'%')
		</if>
		<!-- 店铺名称 -->
		<if test="shopName != null and shopName != ''">
			AND shop_name like
			concat('%',#{shopName,jdbcType=VARCHAR},'%')
		</if>
		<!-- 买家id集合 -->
		<if test="buyerIds != null and buyerIds != ''">
			AND buyer_id in
			<foreach collection="buyerIds" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<!-- 卖家姓名 -->
		<if test="sellerName != null and sellerName != ''">
			AND seller_name like
			concat('%',#{sellerName,jdbcType=VARCHAR},'%')
		</if>
		<!-- 收支类型 -->
		<!-- 收入 -->
		<if test="tradeType == 0">
			AND trade_type = 0
		</if>
		<!-- 支出 -->
		<if test="tradeType == 1 or tradeType == 4">
			AND (trade_type = 1 or trade_type = 4)
		</if>

		<if test="tradeType == null or tradeType == ''">
			AND (trade_type = 0 or trade_type = 1 or trade_type = 4)
		</if>
		<!-- 打款方式 -->
		<if test="payChannel != null and payChannel != ''">
			AND pay_channel = #{payChannel}
		</if>

		<!-- 交易时间 -->
		<if test="tradeStartTime != null and tradeStartTime != ''">
			AND trade_time >= #{tradeStartTime}
		</if>
		<if test="tradeEndTime != null and tradeEndTime != ''">
			AND #{tradeEndTime} >= trade_time
		</if>
		<!-- 交易金额 -->
		<if test="minTotalPrice != null and minTotalPrice != ''">
			AND order_price >= #{minTotalPrice}
		</if>
		<if test="maxTotalPrice != null and maxTotalPrice != ''">
			AND #{maxTotalPrice} >= order_price
		</if>
		
		<!-- 订单类型 -->
		<if test="orderType != null and orderType != ''">
			AND order_type = #{orderType}	
		</if>
		<!-- 优惠方式 -->
		<if test="favorType != null and favorType != ''">
			<!-- 未使用积分和红包 -->
			<if test="favorType == 0">
				<!-- 商品 -->
				AND (((order_discount_info NOT LIKE '%score%' OR order_discount_info IS NULL)
				AND (coupon_code IS NULL OR coupon_code = '')) AND
				<!-- 优惠券 -->
				((coupon_discunt_info NOT LIKE '%score%' OR coupon_discunt_info IS NULL) 
				AND (cash_coupon_code IS NULL OR cash_coupon_code = '')))  
			</if>
				<!-- 使用红包 -->
			<if test="favorType == 1">
				<!-- 商品 -->
				AND (((order_discount_info NOT LIKE '%score%' OR order_discount_info IS NULL)
				AND (coupon_code IS NOT NULL AND coupon_code != '')) OR
				<!-- 优惠券 -->
				((coupon_discunt_info NOT LIKE '%score%' OR coupon_discunt_info IS NULL) 
				AND cash_coupon_code IS NOT NULL AND cash_coupon_code != ''))
				 
			</if>
				<!-- 使用积分 --> 
			<if test="favorType == 2">
				<!-- 商品 -->
				AND (((order_discount_info LIKE '%score%')
				AND (coupon_code IS NULL OR coupon_code = '')) OR
				<!-- 优惠券 -->
				(coupon_discunt_info LIKE '%score%' 
				AND (cash_coupon_code IS NULL OR cash_coupon_code = '')))  
			</if>
				<!-- 使用积分和红包 -->
			<if test="favorType == 3">
				<!-- 商品 -->
				AND (((order_discount_info LIKE '%score%')
				AND (coupon_code IS NOT NULL AND coupon_code != '')) OR
				<!-- 优惠券 -->
				((coupon_discunt_info LIKE '%score%') 
				AND cash_coupon_code IS NOT NULL AND cash_coupon_code != ''))  
			</if>
		</if>
		
	</sql>
	<select id="selectTradePageList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from trade_view
		<where>
			<include refid="trade_list_where_clause" />
		</where>
		<if test="orderby != null">
			order by ${orderby} ${orderVa}
		</if>

		<if test="orderby == null">
			order by trade_time desc
		</if>
		<if test="currentPage != null">
			limit
			#{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectTradePageListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select
		count(id)
		from trade_view
		<where>
			<include refid="trade_list_where_clause" />
		</where>
	</select>

	<select id="selectTradeCount" resultMap="TradeDetailCountResultMap"
		parameterType="java.util.Map">
		select sum(order_price) amount_count,count(id) total_count,trade_type
		from trade_view
		<where>
			<include refid="trade_list_where_clause" />
		</where>
	</select>


	<select id="selectById" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from trade_view where
		id = #{id}
	</select>
</mapper>
