<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.tms.mapper.xml.TradeMapper">
	<resultMap id="BaseResultMap" type="com.rongyi.easy.tms.vo.TradeVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="draw_user_id" property="drawUserId" jdbcType="VARCHAR" />
		<result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="pay_no" property="payNo" jdbcType="VARCHAR" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
		<result column="transaction_id" property="transactionId"
			jdbcType="VARCHAR" />
		<result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
		<result column="buyer_email" property="buyerPayAccount" jdbcType="TIMESTAMP" />
		<result column="shop_id" property="shopId" jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName" jdbcType="VARCHAR" />
		<result column="mall_id" property="mallId" jdbcType="VARCHAR" />
		<result column="mall_name" property="mallName" jdbcType="VARCHAR" />
		<result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
		<result column="seller_account" property="sellerAccount"
			jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="trade_type" property="tradeType" jdbcType="INTEGER" />
		<result column="pay_channel" property="payChannel" jdbcType="INTEGER" />
		<result column="seller_pay_type" property="sellerPayType"
			jdbcType="INTEGER" />
		<result column="seller_pay_account" property="sellerPayAccount"
			jdbcType="VARCHAR" />
		<result column="seller_pay_name" property="sellerPayName"
			jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="coupon_code" property="orderCouponCode"
			jdbcType="VARCHAR" />
		<result column="order_discount_info" property="orderDiscountInfo"
			jdbcType="VARCHAR" />
		<result column="cash_coupon_code" property="couponCashCouponCode"
			jdbcType="VARCHAR" />
		<result column="coupon_discunt_info" property="couponDiscuntInfo"
			jdbcType="VARCHAR" />
		<result column="coupon_buyer_id" property="couponBuyerId"
			jdbcType="VARCHAR" />
		<result column="coupon_buyer_account" property="couponBuyerAccount"
			jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="hb_discount" property="hbDiscount" jdbcType="INTEGER" />
		<result column="rebate_discount" property="couponDiscountInt" jdbcType="INTEGER" />
		<result column="guide_type" property="guideType" jdbcType="INTEGER" />
		<result column="rebate_type" property="rebateType" jdbcType="INTEGER" />

	</resultMap>

	<resultMap id="TradeDetailCountResultMap" type="com.rongyi.tms.moudle.vo.TradeDetailCount">
		<result column="total_count" property="totalCount" jdbcType="DECIMAL" />
		<result column="amount_count" property="amountCount" jdbcType="DECIMAL" />
		<result column="trade_type" property="tradeType" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		payment_event.id id,
		payment_event.trade_no,
		payment_event.transaction_id,
		payment_event.time_end AS trade_time,
		payment_event.event_type,
		payment_event.buyer_email,
		payment_order.create_at AS order_time,
		payment_order.`status`,
		payment_order.draw_user_id,
		payment_order.pay_amount AS order_price,
		payment_order.order_no,
		payment_order.order_type,
		payment_order.pay_no,
		payment_order.trade_type,
		payment_order.pay_channel,
		trade_order.hb_code AS cash_coupon_code,
		trade_order.user_id AS coupon_buyer_id,
		trade_order.user_phone AS coupon_buyer_account,
		trade_order.score,
		trade_order.hb_discount,
		trade_order.rebate_discount,
		CASE WHEN
		left(ry_rpb.payment_order.order_no,1) = 4
		THEN
		cart_form.buyer_id
		else
		order_form.buyer_id
		END as buyer_id,
		CASE
		WHEN
		left(ry_rpb.payment_order.order_no,1) = 4
		THEN
		cart_form.rebate_code
		else
		order_detail_form.coupon_id
		END as coupon_code,
		CASE
		WHEN
		left(ry_rpb.payment_order.order_no,1) = 4
		THEN
		cart_form.discount_info
		else
		order_form.discount_info
		END as order_discount_info,
		CASE
		WHEN
		left(ry_rpb.payment_order.order_no,1) = 4  and cart_form.rebate_type >= 0
		THEN
		0
		WHEN left(ry_rpb.payment_order.order_no,1) = 4  and cart_form.rebate_amount &lt; cart_form.discount_amount and cart_form.rebate_type = -1
		THEN 1
		WHEN left(ry_rpb.payment_order.order_no,1) = 1  and cart_form.rebate_type >= 0
		THEN 0
		WHEN left(ry_rpb.payment_order.order_no,1) = 1  and order_detail_form.coupon_id IS
		NOT NULL AND order_detail_form.coupon_id != ''
		THEN 1
		WHEN payment_order.order_type = 1 and trade_order.rebate_code != '' and trade_order.hb_type = 0
		THEN 0
		WHEN payment_order.order_type = 1 and trade_order.hb_code != ''
		THEN 1
		else
		-1
		END as rebate_type
	</sql>

	<sql id="Base_from">
		ry_rpb.payment_event AS payment_event
		LEFT JOIN ry_rpb.payment_order AS payment_order ON payment_event.out_trade_no = payment_order.pay_no
		LEFT JOIN ry_osm.order_cart_form AS cart_form ON payment_order.order_no = cart_form.order_no and left(payment_order.order_no,1) = 4
		LEFT JOIN ry_osm.order_form AS order_form ON payment_order.order_no = order_form.order_no and left(payment_order.order_no,1) != 4
		LEFT JOIN ry_osm.order_detail_form AS order_detail_form ON order_form.order_no = order_detail_form.order_no
		LEFT JOIN ry_trade.trade_order AS trade_order ON trade_order.order_no = payment_order.order_no
	</sql>


	<sql id="Base_group_by">
		GROUP BY payment_event.id
	</sql>
	<sql id="trade_list_where_clause">
		(payment_event.trade_type = payment_order.trade_type or
		payment_event.trade_type is null)
		and payment_order.status=2
		<!-- 交易流水号 -->
		<if test="tradeNo != null and tradeNo != ''">
			AND payment_event.trade_no = #{tradeNo}
		</if>
		<!-- 付款单号 -->
		<if test="payNo != null and payNo != ''">
			AND payment_order.pay_no = #{payNo}
		</if>
		<!-- 订单号 -->
		<if test="orderNo != null and orderNo != ''">
			AND payment_order.order_no = #{orderNo}
		</if>
		<!--&lt;!&ndash; 商场名称 &ndash;&gt;
		<if test="mallName != null and mallName != ''">
			AND mall_cooperate.mall_name like
			concat('%',#{mallName,jdbcType=VARCHAR},'%')
		</if>
		&lt;!&ndash; 店铺名称 &ndash;&gt;
		<if test="shopName != null and shopName != ''">
			AND shop_info.shop_name like
			concat('%',#{shopName,jdbcType=VARCHAR},'%')
		</if>-->
		<if test="buyerAccount != null and buyerAccount != ''">
			AND (trade_order.user_phone=#{buyerAccount}
			<!-- 买家id集合 -->
			<if test="buyerIds != null and buyerIds != ''">
				OR order_form.buyer_id in
				<foreach collection="buyerIds" index="index" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			)
		</if>
		<!--&lt;!&ndash; 卖家姓名 &ndash;&gt;
		<if test="sellerName != null and sellerName != ''">
			AND rmmm_user_info.user_name like
			concat('%',#{sellerName,jdbcType=VARCHAR},'%')
		</if>
		&lt;!&ndash; 卖家账号 &ndash;&gt;
		<if test="sellerAccount != null and sellerAccount != ''">
			AND rmmm_user_info.user_phone like
			concat('%',#{sellerAccount,jdbcType=VARCHAR},'%')
		</if>-->
		<!-- 收支类型 -->
		<!-- 收入 -->
		<if test="tradeType == 0">
			AND (payment_order.trade_type = 0 or
			payment_order.trade_type = 5)
		</if>
		<!-- 支出 -->
		<if test="tradeType == 1 or tradeType == 4">
			AND (payment_order.trade_type = 1 or
			payment_order.trade_type = 4 or payment_order.trade_type = 6)
		</if>

		<if test="tradeType == null or tradeType == ''">
			AND (payment_order.trade_type = 0 or
			payment_order.trade_type = 1 or payment_order.trade_type = 4 or
			payment_order.trade_type = 5 or payment_order.trade_type = 6)
		</if>
		<!-- 打款方式 -->
		<if test="payChannel != null and payChannel != ''">
			AND payment_order.pay_channel = #{payChannel}
		</if>

		<!-- 交易时间 -->
		<if test="tradeStartTime != null and tradeStartTime != ''">
			AND payment_event.time_end >= #{tradeStartTime}
		</if>
		<if test="tradeEndTime != null and tradeEndTime != ''">
			AND #{tradeEndTime} >= payment_event.time_end
		</if>
		<!-- 交易金额 -->
		<if test="minTotalPrice != null and minTotalPrice != ''">
			AND payment_order.pay_amount >= #{minTotalPrice}
		</if>
		<if test="maxTotalPrice != null and maxTotalPrice != ''">
			AND #{maxTotalPrice} >= payment_order.pay_amount
		</if>

		<!-- 订单类型 -->
		<if test="orderType != null and orderType != ''">
			AND payment_order.order_type = #{orderType}
		</if>
		<!-- 优惠方式 -->
		<if test="favorType != null and favorType != ''">
			<!-- 未使用积分和红包/抵扣券 -->
			<if test="favorType == 0">
				<!-- 商品 -->
				AND (((order_form.score_amount is null OR order_form.score_amount &lt;= 0 AND  (order_detail_form.coupon_id IS
				NULL OR order_detail_form.coupon_id = ''))
				AND (cart_form.score_discount is null or cart_form.score_discount &lt;= 0 and cart_form.rebate_type &lt; 0 and cart_form.rebate_amount = cart_form.discount_amount)  AND payment_order.order_type = 0)
				OR
				<!-- 优惠券 -->
				((trade_order.score IS NULL OR 0 >= trade_order.score)
				AND (trade_order.hb_type = -1))  AND payment_order.order_type = 1)
			</if>
			<!-- 使用红包 -->
			<if test="favorType == 1">
				<!-- 商品 -->
				AND (((order_form.score_amount &lt;= 0 AND  (order_detail_form.coupon_id IS
				NOT NULL AND order_detail_form.coupon_id != ''))
				OR (cart_form.score_discount &lt;= 0 and cart_form.rebate_amount &lt; cart_form.discount_amount and cart_form.rebate_type = -1))
				OR
				<!-- 优惠券 -->
				((trade_order.score IS NULL OR 0 >= trade_order.score)
				AND (trade_order.hb_type > 0 AND trade_order.hb_code IS NOT NULL AND trade_order.hb_code != '')))
			</if>
			<!-- 使用积分 -->
			<if test="favorType == 2">
				<!-- 商品 -->
				AND ((((order_form.rebate_amount > order_form.score_amount)  AND order_form.coupon_type &lt; 0)
				OR (cart_form.score_discount > 0 AND cart_form.rebate_type &lt; 0 and cart_form.rebate_amount = cart_form.discount_amount))
				OR
				<!-- 优惠券 -->
				((trade_order.score > 0)
				AND (trade_order.hb_type = -1)))
			</if>
			<!-- 使用积分和红包 -->
			<if test="favorType == 3">
				<!-- 商品 -->
				AND ((((order_form.rebate_amount > order_form.score_amount)  AND  (order_detail_form.coupon_id IS
				NOT NULL AND order_detail_form.coupon_id != ''))
				OR (cart_form.score_discount > 0 AND cart_form.rebate_type &lt; 0 and cart_form.rebate_amount &lt; cart_form.discount_amount))
				OR
				<!-- 优惠券 -->
				((trade_order.score > 0)
				AND (trade_order.hb_type > 0 AND trade_order.hb_code IS NOT NULL AND trade_order.hb_code != '')))
			</if>
			<!-- 使用抵扣券 -->
			<if test="favorType == 4">
				<!-- 商品 -->
				AND (((order_form.score_amount &lt;= 0 AND order_form.coupon_type > 0)
				OR (cart_form.score_discount  &lt;=  0 AND cart_form.rebate_type >= 0))
				OR
				<!-- 优惠券 -->
				((trade_order.score  &lt;= 0)
				AND (trade_order.rebate_code IS NOT NULL AND trade_order.rebate_code != '')))
			</if>
			<!-- 使用积分和抵扣券 -->
			<if test="favorType == 5">
				<!-- 商品 -->
				AND ((((order_form.rebate_amount > order_form.score_amount)  AND order_form.coupon_type > 0)
				OR (cart_form.score_discount  >  0 AND cart_form.rebate_type >= 0))
				OR
				<!-- 优惠券 -->
				((trade_order.score  > 0)
				AND (trade_order.rebate_code IS NOT NULL AND trade_order.rebate_code != '')))
			</if>
		</if>
			<!-- 导购类型 -->
		<if test="guideType != null and guideType != ''">
			AND order_form.guide_type = #{guideType}
		</if>
		<!-- 支付账号 -->
		<if test="buyerPayAccount != null and buyerPayAccount != ''">
			AND payment_event.buyer_email = #{buyerPayAccount}
		</if>
		<!-- 加上会导致总记录数错误，无重复数据不加 -->
		<!-- <include refid="Base_group_by" /> -->		
	</sql>
	<select id="selectTradePageList" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_from" />
		<where>
			<include refid="trade_list_where_clause" />
		</where>
		<if test="orderby != null">
			order by ${orderby} ${orderVa}
		</if>

		<if test="orderby == null">
			order by trade_time desc
		</if>
		<if test="currentPage != null">
			limit
			#{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectTradePageListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select
		count(payment_event.id)
		from
		<include refid="Base_from" />
		<where>
			<include refid="trade_list_where_clause" />
		</where>
	</select>

	<select id="selectTradeCount" resultMap="TradeDetailCountResultMap"
		parameterType="java.util.Map">
		select sum(payment_order.pay_amount)
		amount_count,count(payment_event.id)
		total_count,payment_order.trade_type
		from
		<include refid="Base_from" />
		<where>
			<include refid="trade_list_where_clause" />
		</where>
	</select>


	<select id="selectById" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_from" />
		where
		payment_event.id = #{id}
	</select>
</mapper>
