<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.applicationName}" />
    <dubbo:registry address="${dubbo.address}" file="${dubbo.applicationName}/dubbo.cache"/>
    <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" dispatcher="all" threadpool="fixed" threads="800"/>
    <!-- 配置超时时间 -->
    <dubbo:consumer timeout="${dubbo.timeout}" />
    <dubbo:monitor protocol="registry"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.rongyi.rss.settle.PaymentStatementGenerateService" version="${dubbo.version}" ref="paymentStatementGenerateService" retries="0" />
    <bean id="paymentStatementGenerateService" class="com.rongyi.settle.service.impl.PaymentStatementGenerateServiceImpl"/>

    <!--是否打款验证接口-->
    <dubbo:service interface="com.rongyi.rss.settle.GoodPayService" version="${dubbo.version}" ref="goodPayService" retries="0" />
    <bean id="goodPayService" class="com.rongyi.settle.service.dubbo.GoodPayServiceImpl"/>
    
    <!--生成分账账单-->
    <dubbo:service interface="com.rongyi.rss.settle.DivideAccountService" version="${dubbo.version}" ref="divideAccountService" retries="0" />
    <bean id="divideAccountService" class="com.rongyi.settle.service.dubbo.DivideAccountServiceImpl"/>
</beans>  