<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  

    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
    <dubbo:reference interface="com.rongyi.rss.solr.MallService" id="solrMallService"  version="${dubbo.version}" check="false"/>
    <!-- 查询买家信息 -->
    <dubbo:reference interface="com.rongyi.rss.malllife.roa.user.ROAMalllifeUserService" id="rOAMallLifeUserService"  version="${dubbo.version}" check="false"/>
    <!-- 查询卖家信息 -->    
    <dubbo:reference interface="com.rongyi.rss.mallshop.user.ROAUserService" id="rOAUserService"  version="${dubbo.version}" check="false"/>    
  
  	<!-- redis -->
	<dubbo:reference interface="com.rongyi.rss.malllife.roa.ROARedisService" id="rOARedisService" version="${dubbo.version}" check="false" />

    <!-- 支付账单系统接口 -->
	<dubbo:reference interface="com.rongyi.rss.rpb.IRpbService" id="iRpbService" version="${dubbo.version}" check="false" />

    <!-- mongo shop查询 -->
	<dubbo:reference interface="com.rongyi.rss.roa.ROAShopService" id="roaShopService" version="${dubbo.version}" check="false" />

    <!-- 大运营后台用户权限查询 -->
    <dubbo:reference interface="com.rongyi.rss.ryoms.ROARyUserService" id="ryUserService" version="${dubbo.version}" check="false" />

    <!-- 商家后台用户权限查询 -->
    <dubbo:reference interface="com.rongyi.rss.roa.ROAUserInfoService" id="userInfoService" version="${dubbo.version}" check="false" />
    <!-- 商家账号查询 -->
    <dubbo:reference interface="com.rongyi.rss.bsoms.IUserInfoService" id="iUserInfoService" version="${dubbo.version}" check="false" />

    <!-- 关联集团接口 -->
    <dubbo:reference id="roaMallGroupService" interface="com.rongyi.rss.roa.ROAMallGroupService" version="${dubbo.version}" check="false" />

    <!-- 关联品牌接口 -->
    <dubbo:reference id="roaBrandService" interface="com.rongyi.rss.roa.RoaBrandService" version="${dubbo.version}" check="false" />
    <!-- 关联品牌接口 -->
    <dubbo:reference id="rOAAreaService" interface="com.rongyi.rss.roa.ROAAreaService" version="${dubbo.version}" check="false" />

    <!-- 关联分公司接口 -->
    <dubbo:reference id="rOAFilialeService" interface="com.rongyi.rss.roa.ROAFilialeService" version="${dubbo.version}" check="false" />
    <dubbo:reference id="rOAMallService" interface="com.rongyi.rss.roa.ROAMallService" version="${dubbo.version}" check="false"/>


    <dubbo:reference id="iShopService" interface="com.rongyi.rss.shop.IShopService" version="${dubbo.version}" check="false"/>

    <dubbo:reference interface="com.rongyi.rss.rpb.OrderNoGenService" id="orderNoGenService"  version="${dubbo.version}" check="false"/>    
    
    <dubbo:reference interface="com.rongyi.rss.coupon.merchant.TradeCouponService" id="tradeCouponService"  version="${dubbo.version}" check="false"/>
       
    <dubbo:reference interface="com.rongyi.rss.bdata.ShopService" id="bdatashopService"  version="${dubbo.version}" check="false"/>    
    <dubbo:reference interface="com.rongyi.rss.bdata.MallService" id="bdataMallService"  version="${dubbo.version}" check="false"/>    
</beans>
