<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    
    <dubbo:application name="${dubbo.applicationName}"  />
    <!--  使用zookeeper注册中心暴露服务地址 测试上用   用dubbo协议在20881端口暴露服务  
    	host="192.168.1.173"指定服务器地址，运行cmc的服务器 -->
    <dubbo:registry address="${dubbo.address}" file="${dubbo.applicationName}/dubbo.cache"/>  
    <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    
    <!-- 配置超时时间 -->
    <dubbo:consumer timeout="${dubbo.timeout}"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
    <dubbo:reference interface="com.rongyi.rss.solr.MallService" id="solrMallService"  version="${dubbo.version}" check="false"/>
    <!-- 查询买家信息 -->
    <dubbo:reference interface="com.rongyi.rss.malllife.roa.user.ROAMalllifeUserService" id="rOAMallLifeUserService"  version="${dubbo.version}" check="false"/>
    <!-- 查询卖家信息 -->    
    <dubbo:reference interface="com.rongyi.rss.mallshop.user.ROAUserService" id="rOAUserService"  version="${dubbo.version}" check="false"/>    
    <!-- 生成提现流水号 -->    
    <dubbo:reference interface="com.rongyi.rss.rpb.OrderNoGenService" id="orderNoGenService"  version="${dubbo.version}" check="false"/>    
    
    <!--  商场店铺信息-->
 	<dubbo:reference id="mallService" interface="com.rongyi.rss.roa.ROAMallService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="shopService" interface="com.rongyi.rss.roa.ROAShopService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="roaCooperationMallService" interface="com.rongyi.rss.mallshop.shop.ROACooperationMallService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="roaShopService" interface="com.rongyi.rss.mallshop.shop.ROAShopService"  version="${dubbo.version}" check="false"/> 
  	<!-- 根据订单查询买家信息 -->
	<dubbo:reference id="rOACommodityCommissionService" interface="com.rongyi.rss.mallshop.order.ROACommodityCommissionService" version="${dubbo.version}" check="false" />
	<!-- rpb服务接口 -->
	<dubbo:reference interface="com.rongyi.rss.rpb.IRpbService" id="rpbService"  version="${dubbo.version}" check="false"/>
    <!-- 短信管理 -->
    <dubbo:reference id="iSmsSendService" interface="com.rongyi.rss.sms.ISmsSendService" version="${dubbo.version}" check="false"/>

</beans>
