<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.va.entity.VirtualAccountMapper">
	<resultMap id="VirtualAccountMapper"
		type="com.rongyi.easy.va.entity.VirtualAccountEntity"
		extends="com.rongyi.easy.va.entity.VirtualAccountEntityMapper.BaseResultMap">
	</resultMap>
	<parameterMap type="map" id="userParameterMap">
		<parameter property="p_user_id" jdbcType="VARCHAR" mode="IN" />
		<parameter property="p_draw_amount" jdbcType="DECIMAL" mode="IN" />
		<parameter property="p_draw_limit" jdbcType="INTEGER" mode="IN" />
		<parameter property="result" jdbcType="INTEGER" mode="OUT" />
	</parameterMap>

	<sql id="Custom_Column_List">
		id, user_id, user_name, shop_id, shop_name, balance,
		alipay_account,
		is_authenticated, is_suspended, stop_reason, stop_at
	</sql>

	<insert id="insertAndGetId" parameterType="com.rongyi.easy.va.entity.VirtualAccountEntity"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		virtual_account (
		id,
		user_id,
		user_name,
		shop_id,
		shop_name,
		balance,
		alipay_account,
		is_authenticated)
		SELECT
		#{id,jdbcType=INTEGER},
		#{userId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{shopId,jdbcType=VARCHAR},
		#{shopName,jdbcType=VARCHAR},
		#{balance,jdbcType=DECIMAL},
		#{alipayAccount,jdbcType=VARCHAR},
		#{isAuthenticated,jdbcType=BIT}
		FROM dual
		WHERE NOT EXISTS (SELECT *
		FROM virtual_account
		WHERE virtual_account.user_id = #{userId});
	</insert>

	<update id="updateAccountInfo" parameterType="com.rongyi.easy.va.entity.VirtualAccountEntity">
		update
		virtual_account
		set
		user_id = #{userId},
		user_name = #{userName},
		shop_id
		= #{shopId},
		shop_name = #{shopName},
		alipay_account = #{alipayAccount},
		is_authenticated = #{isAuthenticated}
		where id = #{id};
	</update>

	<update id="updateBalance" parameterType="java.util.Map">
		update virtual_account
		set
		balance = balance + #{amount}
		where user_id = #{userId};
	</update>

	<select id="selectByUserId" resultMap="VirtualAccountMapper"
		parameterType="java.util.Map">
		select
		<include refid="Custom_Column_List" />
		from virtual_account
		where user_id = #{userId};
	</select>

	<update id="checkWithdrawPermission" parameterMap="userParameterMap"
		statementType="CALLABLE">
		{CALL check_withdraw_permission(?, ?, ?, ?)}
	</update>

	<update id="updateSuspended" parameterType="java.util.Map">
		update
		virtual_account
		set
		is_suspended = #{isSuspended},
		stop_reason =
		#{stopReason,jdbcType=VARCHAR},
		stop_at = #{stopAt, jdbcType=TIMESTAMP}
		where user_id = #{userId};
	</update>
	<delete id="deleteByDrawNo" parameterType="java.util.Map">
		delete from
		ry_rpb.draw_apply
		where draw_no = #{drawNo};
	</delete>

	<select id="validateWithdrawPermission"  parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT
		(CASE
		WHEN
		(SELECT -SUM(sign) FROM virtual_account_detail WHERE user_id = #{userId}
		AND DATEDIFF(create_at, NOW()) = 0 	AND item_type = 5) >= #{drawTimeLimit}
		THEN 1
		WHEN (SELECT balance FROM virtual_account	WHERE user_id = #{userId}) &lt; #{amount}
		THEN 2
		WHEN NOT EXISTS(SELECT * FROM virtual_account WHERE user_id = #{userId} AND 	is_authenticated = 1 AND is_suspended = 0)
		THEN 3
		ELSE 0
		END)
		as result
	</select>

</mapper>