<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.va.entity.VirtualAccountDetailMapper">
	<resultMap id="VirtualAccountDetailMapper"
		type="com.rongyi.easy.va.entity.VirtualAccountDetailEntity"
		extends="com.rongyi.easy.va.entity.VirtualAccountDetailEntityMapper.BaseResultMap">
	</resultMap>
	<resultMap id="VirtualAccountSum" type="com.rongyi.va.vo.VirtualAccountQuerySumVO">
		<id property="userId" column="user_id" />
		<result property="incomeSum" column="income_total" />
		<result property="commissionSum" column="commission_total" />
		<result property="couponCommissionSum" column="coupon_commission_total" />
		<result property="bonusSum" column="bonus_total" />
		<result property="tradeSum" column="trade_total" />
		<result property="drawSum" column="draw_total" />
		<result property="expandCommissionTotal" column="expand_commission_total" />
		<result property="firstCommissionTotal" column="first_commission_total" />
		<result property="bonusDaily" column="bonus_daily" />
		<result property="tradeDaily" column="trade_daily" />
	</resultMap>
	<insert id="insertAndGetId" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity"
		useGeneratedKeys="true" keyProperty="id">
		    INSERT INTO virtual_account_detail (user_id, amount,
		      sign, item_type, settlement_account_no, 
		      settlement_account_name, application_no, payment_id, 
		      remark, create_at, collected_at, 
		      is_collected,balance_before)
		    VALUES (#{userId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL},
		      #{sign,jdbcType=INTEGER}, #{itemType,jdbcType=INTEGER}, #{settlementAccountNo,jdbcType=VARCHAR}, 
		      #{settlementAccountName,jdbcType=VARCHAR}, #{applicationNo,jdbcType=VARCHAR}, #{paymentId,jdbcType=VARCHAR}, 
		      #{remark,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{collectedAt,jdbcType=TIMESTAMP}, 
		      #{isCollected,jdbcType=BIT},#{balanceBefore,jdbcType=DECIMAL})
	</insert>

	<update id="updateCollectedResult" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity">
		UPDATE virtual_account_detail
		SET
			collected_at = #{totalAmount},
			is_collected = #{disconntFee},
			amount = #{amount},
			payment_id = #{paymentId}
		WHERE application_no = #{applicationNo}
	</update>
	
	<select id="selectAccountSumByUserId" resultMap="VirtualAccountSum" parameterType="java.util.Map">
	SELECT virtual_account.user_id AS user_id, 
			SUM(CASE WHEN (item_type = 1 OR item_type = 2 OR item_type = 3  OR item_type = 6 OR item_type = 7 OR item_type = 8) THEN amount * sign ELSE 0 END) AS income_total,
			SUM(CASE WHEN item_type = 1 THEN amount * sign ELSE 0 END) AS commission_total,
			SUM(CASE WHEN item_type = 2 THEN amount * sign ELSE 0 END) AS bonus_total,
			SUM(CASE WHEN item_type = 3 THEN amount * sign ELSE 0 END) AS trade_total,
			SUM(CASE WHEN item_type = 5 THEN amount * sign ELSE 0 END) AS draw_total,
			SUM(CASE WHEN item_type = 6 THEN amount * sign ELSE 0 END) AS coupon_commission_total,
			SUM(CASE WHEN item_type = 7 THEN amount * sign ELSE 0 END) AS expand_commission_total,
			SUM(CASE WHEN item_type = 8 THEN amount * sign ELSE 0 END) AS first_commission_total,
			SUM(CASE WHEN (item_type = 2 AND DATEDIFF(create_at, NOW()) = 0) THEN amount * sign ELSE 0 END) AS bonus_daily,
			SUM(CASE WHEN (item_type = 3 AND DATEDIFF(create_at, NOW()) = 0) THEN amount * sign ELSE 0 END) AS trade_daily
		FROM virtual_account LEFT JOIN virtual_account_detail
			ON virtual_account.user_id = virtual_account_detail.user_id	
		WHERE virtual_account.user_id = #{userId};
	</select>
	
	<select id="selectBonusByUserId" resultMap="VirtualAccountDetailMapper" parameterType="java.util.Map">
		SELECT * FROM virtual_account_detail
		WHERE user_id = #{userId} AND item_type = #{detailType}
		<if test="dayRange != null">
			AND TO_DAYS(create_at) = TO_DAYS(now())
		</if>
		<if test="weekRange != null">
			AND WEEK(create_at) = WEEK(now())
			AND MONTH(create_at) = MONTH(now())
			AND YEAR(create_at) = YEAR (now())
		</if>
		<if test="monthRange != null">
			AND MONTH(create_at) = MONTH(now())
			AND YEAR(create_at) = YEAR (now())
		</if>
		ORDER BY create_at DESC
		LIMIT #{pageStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="selectBonusPageCount" resultType="int" parameterType="java.util.Map">
		select
		count(1)
		FROM virtual_account_detail
		WHERE user_id = #{userId} AND item_type = #{detailType}
		<if test="dayRange != null">
			AND TO_DAYS(create_at) = TO_DAYS(now())
		</if>
		<if test="weekRange != null">
			AND WEEK(create_at) = WEEK(now())
			AND MONTH(create_at) = MONTH(now())
			AND YEAR(create_at) = YEAR (now())
		</if>
		<if test="monthRange != null">
			AND MONTH(create_at) = MONTH(now())
			AND YEAR(create_at) = YEAR (now())
		</if>

	</select>
</mapper>
