<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
   
    <dubbo:application name="${dubbo.applicationName}"  />
    <!--  使用zookeeper注册中心暴露服务地址 测试上用   用dubbo协议在20881端口暴露服务  
    	host="192.168.1.173"指定服务器地址，运行cmc的服务器 -->
    <dubbo:registry address="${dubbo.address}" file="${dubbo.applicationName}/dubbo.cache"/>  
    <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    
    <!--  使用zookeeper注册中心暴露服务地址  用dubbo协议在20880端口暴露服务   开发地址
    <dubbo:registry address="zookeeper://192.168.1.60:2181" />  
    <dubbo:protocol name="dubbo" port="20880" />-->
   
    <!-- 配置超时时间 -->
    <dubbo:consumer timeout="${dubbo.timeout}"/>
   
	<!-- 提现申请 -->
    <dubbo:service interface="com.rongyi.rss.va.WithdrawApplyService"  version="${dubbo.version}" ref="vaWithdrawApplyService" />  
    <bean id="vaWithdrawApplyService" class="com.rongyi.va.service.impl.WithdrawApplyServiceImpl" />  
     
     <!-- 虚拟账户综合查询 -->
    <dubbo:service interface="com.rongyi.rss.va.VirtualAccountGeneralService"  version="${dubbo.version}" ref="vaVirtualAccountGeneralService" />    
    <bean id="vaVirtualAccountGeneralService" class="com.rongyi.va.service.impl.VirtualAccountGeneralServiceImpl" />
     
     <!-- 虚拟账户管理 -->
    <dubbo:service interface="com.rongyi.rss.va.VirtualAccountAdminService"  version="${dubbo.version}" ref="vaVirtualAccountAdminService" />  
    <bean id="vaVirtualAccountAdminService" class="com.rongyi.va.service.impl.VirtualAccountAdminServiceImpl" />  
    
    <!-- 奖励佣金查询 -->
	<dubbo:service interface="com.rongyi.rss.va.BonusSearchService"  version="${dubbo.version}" ref="vaBonusSearchService" />  
    <bean id="vaBonusSearchService" class="com.rongyi.va.service.impl.BonusSearchServiceImpl" />
</beans>  
