body{padding:0;
   margin:0; 
   font-size: 1em;
   font-family:"Microsoft YaHei" arial;
  }
  p,h1,h2,h3,h4,h5,h6,a,button,div,input,ul,li,img,dl,dt,dd,ol,table,tr,td{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    border:0;
    font-weight: normal;  

  }
  .clearFix{
    overflow: hidden;
    clear: both;
    content: "";
  }
  
  a{
  	text-decoration: none;
  }

/*new1028*/
.market-name{
  overflow: hidden;
  height: 64px;
  /*width: 100%;*/
   margin:0 3.15% 0 3.15%;
}
.market-name>div{
  width:100%;
  position: relative;
  min-height: 20px;
  top: 30px;
}
.market-name>div a{
  width:100%;
  text-decoration: none;
  color:#505050;
  background: url(../img/local.jpg) no-repeat right center;
  display: block;
  background-size:contain; 
  font-size: 0.875em;
}
.market-title{
      overflow: hidden;
      position: relative;
      border-bottom: 1px solid #e0e0e0;
} 
.market-title .pic{
  position: relative;
  display: block;
  overflow:hidden;
}
.pic img{
  max-width: 100%;
}
.market-title .pic h3.pic-overlay{
  position: absolute;
  bottom: 3px;
  height: 26px;
  background: rgba(0,0,0,.9);
  width:100%;
}
.market-name >section{
  position: absolute;
  bottom: 47px;
  width:100%;

}
.market-name .market-title-brand{
  height: 40px;
  width:40px;
  float: left;
  margin-right: 15px;
}
.market-name  >section p{
  float:left;
  font-size: 0.75em;
  color:#969696;
}
.market-name >section h2{
  font-size: 1em;
  color:#fff;
}
.through-line{
  height: 10px;
  width:100%;
 /* border-top:1px solid #e0e0e0;*/
  background: #ebebeb;
}
.mk-block{
  display: block;
  border-bottom: 1px solid #e1e1e1;
  overflow: hidden;
  padding:10px 3.125%;
  color:#505050;
  position: relative;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.left-img{
  float: left;
  display: block;
  height: 43px;
  width: 43px;
  margin-right: 10px;
}
.center-h3{
  /*float: left;*/
  font-size: 0.875em;
}

.center-p{
  display: block;
   font-size: 0.875em;
}
.mk-block a{
 text-decoration: none;
 color:#505050;
 font-size: 0.8125em;
 display: block; 
}
.mk-block a h2{
  display: inline-block;
  font-size: 0.875em;
}
.mk-block span.arrow{
   font-size: 1em;
   transform:rotate(90deg);
   -moz-transform:rotate(90deg); 
   -webkit-transform:rotate(90deg);
   background:url(../img/right-arrow.jpg) center no-repeat;
   display: inline-block;
   height: 17px;
   width:22px;
   background-size:contain;
   position: absolute;
   right: 3.125%;
}
.mk-block .info-bus{
  background:url(../img/bus.jpg) left 0px no-repeat;
  background-size:18px 18px;
  padding-left:30px;
  font-size: 0.875em;
  color: #505050;
}
.mk-block .info-p{
  background:url(../img/p.jpg) left 0px no-repeat;
  background-size:18px 18px;
  padding-left:30px;
  font-size: 0.875em;
  color: #505050;
}
.mk-block .info-clock{
  background:url(../img/clock.jpg) left 0px no-repeat;
  background-size:18px 18px;
  padding-left:30px;
  font-size: 0.875em;
  color: #505050;
}
.mk-block .info-tel{
  background:url(../img/tele.jpg) left 0px no-repeat;
  background-size:18px 18px;
  padding-left:30px;
  overflow: hidden;
  font-size:1em;
  min-height: 20px;
  color: #505050;
}
.mk-block .call-tel{
   background:url(../img/right-arrow.jpg) right no-repeat;
   background-size:9px 15px; 
   font-size: 0.875em;
}
.mk-block .info{
  color:#969696;
  line-height: 1.38;
  font-size:0.8125em;

} 
.function-bar {
  border-bottom: 0;
  text-align: center;
  font-size: 0.75em;
}
.function-bar p{

}
.function-bar .top-arrow{
  background:url(../img/right-arrow.jpg) center no-repeat;
  transform:rotate(-90deg);
  -moz-transform:rotate(-90deg); 
  -webkit-transform:rotate(-90deg);
  display: inline-block;
  text-indent: 9999px;
  width:20px;
  min-height: 20px;
  background-size:contain;
}
/*优惠*/
.normal-block{
  overflow: hidden;
  width: 100%;
  padding:10px 0 0;
}
.normal-block .red-line{
  font-size: 0.75em;
  color:#ef3d4a;
  line-height: 1;
  vertical-align: middle;
}
.normal-block .red-line span{
  background:#ef3d4a;
  width:5px;
  height: 1.75em;
  display: inline-block;
  margin-right:10px;
  vertical-align: middle;
}
.normal-block .yh{
  padding-bottom:5px; 
/*  border-bottom: 1px solid #eee;*/
}
.grey-line{
  height: 1px;
  width:93.75%;
  background:#eee;
  text-align: center;
  margin: 0 auto;
}
.change-ul{
  display: none;
}
.yh-ul{
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.yh-ul li{
  border-bottom: 1px solid #e5e5e5;
}
.yh-ul li:last-child{
  border-bottom: none;
}
.yh-wrap{
  margin:17px 3.125%;
  overflow: hidden;
  min-height: 55px;
}
.yh-wrap img{
  width:33%;
  display: block;
  min-height: 55px;
}
.left-img{
  float: left;
}
.center-text{
  float: left;
}
.center-text p.red-txt{
  font-size: 0.9375em;
  color:#fc4e86;
  padding-bottom: 7px;
}
.center-text i{
  font-style: normal;
  color:#969696;
  font-size:0.75em;
}
.right-icon{
  float: right;
  line-height: 55px;
  background:url(../img/location.png) left center no-repeat;
  background-size: 10px 12px;
  font-size: 0.5625em;
  color: #969696;
  width:40px;
  padding-left:15px;
}
.grey-txt{
  padding-bottom: 7px;
}
.center-text .red-num{
  font-weight: 700;
  color:#fc4e86;
  font-size: 1.25em;
}
.center-text .red-num .small-num{
  font-size:0.6875em; 
  font-weight: normal;
  color:#fc4e86 ;
}
.grey-num{
  color: #b1b1b1;
  text-decoration: line-through;
  font-size: 0.6875em;
  padding-left:10px;
}
.more{
  height: 44px;
  width:100%;
  text-align: center;
  color:#969696;
  font-size: 0.75em; 
  line-height: 44px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.market-bar{
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  overflow: hidden;
}
.market-bar h2{
  height: 44px;
  line-height: 44px;
  color: #969696;
  font-size: 0.875em;
  margin-left:3.125%;
}
.market-bar a{
  position: absolute;
  right: 3.315%;
  background:url(../img/right-arrow.jpg) right no-repeat;
  background-size:9px 15px ;
  text-decoration: none;
  color: #505050;
  font-size: 0.875em;
  padding-right: 20px;
}
.tc-bar{
  overflow: hidden;
}
.link-bar{
  overflow: hidden;
  background:url(../img/right-arrow.jpg) right no-repeat;
  background-size:9px 15px ;
  display: block;
  text-decoration: none;
  margin:10px 3.125%;
}
.tc-bar .black-text{
 color:#505050;
 font-size: 0.875em;
}
.tc-bar .black-text .red-text{
color:#fc4e86;
}
.normal-block .black-text{
  color:#505050;
  font-size:0.875em; 
  padding: 0 0 10px 3.125%;
}
.like-pic{
  overflow:hidden;
  margin:10px 3.125%;
}
.like-pic li{
  float: left;
  width:22%;
  margin-right:4%;
}
.like-pic li a{
  display: inline-block;
}
.like-pic li:last-child{
  margin-right:0;
}
.like-pic li img{
  max-width: 100%;
}
.comment{
  overflow: hidden;
}
.comment .comment-link {
  padding:0 3.125%;
  width: 100%;
  display: block;
   box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  text-decoration: none;
  color: #b4b4b4;
  font-size: 0.75em;
  padding-bottom: 10px;
  position: relative;
}
.comment .comment-link span{
  background:url(../img/comment-icon.jpg) left center no-repeat;
  background-size: 12px 12px;
  padding-left:20px;
}
.comment .comment-link i{
  font-style: normal;
  position: absolute;
  right: 3.125%;
  background:url(../img/right-arrow.jpg) right no-repeat;
  background-size: 9px 15px;
  padding-right:15px;
}

/*yuan*/
.market-comments-content{
      overflow: hidden;
      font-size: 12px;
      color: #2d3e50;
    }
    .market-comments-content li{
     border-bottom: 1px solid #eee;
     padding:10px 8px;
    }
    .market-comments-content li:last-child{
     border-bottom: 0;
    }
    .market-comments-content li h3{ 
      font-size: 12px;
    }
    .head-title{
      overflow: hidden;
    /*  padding-bottom: 10px;*/
    }
    .right-txt{
      padding-top: 12px;
      color: #323232;
    }
     .right-txt .data{
      padding-left: 10px;
      color:#969696;
    }
    .head-title p{
      padding-top: 6px;
      color:#969696;
    }
    .head-title img{
      float: left;
      width: 40px;
      height: 40px;
      margin-right:10px;
    }
    .comments-data{
      float: right;
    }
    .star{
      background: url(../img/stars.png) no-repeat;
      background-size: cover;
      display: inline-block;
      height: 10px;
      width: 60px;
      float: right;
    }
    .star1{
     background-position: left 0px;
    }
    .star2{
     background-position: left -10px;
    }
    .star3{
     background-position: left -21px;
    }
    .star4{
     background-position: left -31px;
    }
    .star5{
     background-position: left -41px;
    }
    .star0{
      background-position: left -51px;
    }
    .head-content{
      padding-left: 50px;
      color:#969696;
    }
    /*楼层导航*/
    .normal-block  .floor-grey{
      color:#969696;
      min-height: 25px;
      line-height: 25px;
    }
    .normal-block  .floor-grey span{
      background: #969696;
      height: 15px;
     }
    .floor-info{
      text-decoration: none;
      color:#999;
      overflow: hidden;
      display: block;
      background: url(../img/right-arrow.jpg) right center no-repeat;
      background-size:9px 15px;
    }

    .floor-left{
      float: left;
      padding-right:12px;
      font-size: 0.9375em;
      font-family: arial;
    }
    .floor-left .floor-num{
      color:#fb4f87;
      font-weight: bold;
      font-size: 1.8em;
      font-family: arial;
      padding-right:5px;
      vertical-align: top;
    }
    .floor-right{
      float: left;
      color: #c0c0c0;
      width:80%;
      font-size: 0.9375em;
    }
    .floor-right h3{
      color:#323232;
      line-height: 1.5;
      font-size: 0.9375em;
      margin-bottom: 5px;
    }
    .floor-right p{
      width:100%; 
      font-size: 0.75em;
      white-space:nowrap; 
      text-overflow:ellipsis; 
      -o-text-overflow:ellipsis; 
      overflow: hidden; 
    }
  .floor-wrap{
    min-height: 30px;
  }
  /*切换*/
  .toggle-change{
    width:100%;
    background: #fff;
    font-size: 0.9375em;
    color:#505050;
  }
  .toggle-change .normal-tit{
    width:50%;
    height: 37px;
    text-align: center;
     border-bottom:1px solid #c8c8c8;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    display: inline-block;
    background: #ebebeb;
    float: left;
    line-height: 37px;
  }
  .toggle-change .normal-tit:first-child{
    border-right:1px solid #dfdfdf;
  }
  .toggle-change .current{
    background:#fff;
    color:#adadad; 
    border-bottom:1px solid #fff;
  }
  .orange-line{
    color: #ffb268;
    font-size: 0.75em;
    line-height: 1;
    vertical-align: middle;
  }
   .orange-line span{
     background:#ffb268;
     width:5px;
     height: 1.75em;
     display: inline-block;
     margin-right:10px;
     vertical-align: middle;
   }
  .center-text p.grey-text{
    color:#505050;
     white-space:nowrap; 
     text-overflow:ellipsis; 
     -o-text-overflow:ellipsis; 
     overflow: hidden;
     width: 60%; 
  }
  .no-left{
    float: none;
  }
#market-info-wrap{
  display: none;
}
/*店铺详情页*/
  .city-shuffling{
    overflow: hidden;
    position: relative;
  }
  .city-shuffling ul{
    display: block;
    width: 100%;
    height: 176px;
  }
  .city-shuffling ul li{
  }
  .city-shuffling ul li img{
    width: 100%;
    height: 180px;
    display: inherit;
  }
  .city-shuffling p{
    position: absolute;
    bottom: 0;
    left: 0;
    height:46px;
    line-height: 46px;
    text-align: left;
    display: table-cell;
    color: #fff;
    width: 100%;
    padding:0px 10px 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -mz-box-sizing:border-box;
    background: rgba(0,0,0,.9);
    font-size: 15px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
   .buy-number{
      color: #fff;
      display: inline-block;
      position: absolute;
      right: 10px;
      top:6px;
      border-radius: 10px;
      font-size: 12px;
      text-align: center;
      padding:2px 5px;
      background-color:rgba(0,0,0,.4);
      overflow: hidden;
    }
    .payment-discount{
      overflow: hidden;
    }
    .payment-discount .all-brand-price{
      font-size: 18px;
      color:#f64e9b;
    }
    .payment-discount .grey-price{
      font-size: 0.9375em;
    }
    .payment-discount .red-price{
      font-size: 2.25em;

    }
    .discount{
      display: inline-block;
      border-radius: 2px;
      background-color: #ff7937;
      color: #fff;
      font-size: 12px;
      padding:2px;
      margin-left: 5px;
    }
    .payment-notic{
      overflow: hidden;
    }
    .payment-notic h2{
      padding: 0 8px 10px;
      color: #808a94;
      font-size: 12px;
      border-bottom: 1px solid #eee;
    }
    .payment-notic p{
      padding: 18px 8px 0;
      font-size: 13px;
      color: #2d3e50;
    }
    .payment-notic p.red-color{
      color: #f64e9b;
      
    }
    .payment-notic p.red-color span{
      background: url(../img/cele.jpg) no-repeat;
      background-size: 14px 13px;
      display: inline-block;
      height: 13px;
      width: 14px;
      background-position:left top ;
      vertical-align: middle;
      margin: -4px 4px 0 0 ;
    }
    .payment-notic p.grey-color{
      color: #808a94;
      font-size: 12px;
    }
    .payment-notic p span{
      color: #808a94;
      font-size: 12px;
    }
    .all-brand-wrap{
    padding:10px 10px 10px 0;
    overflow: hidden;
    border-bottom:1px solid #eee;
   }
    .all-brand-title{
    padding:8px 8px 18px 8px;
    overflow: hidden;
    font-size: 12px;
    color: #808a94;
    border-bottom:1px solid #eee; 
   }
   .all-brand-title h1{
    font-size: 18px;
    color: #f06b75;
    line-height: 1.5;
   }
   .all-brand-notic{
    line-height: 1.5;
    color:#2d3e50;
    font-size: 13px;
    padding:10px 0; 
    border-bottom:1px solid #eee; 
   }
    .all-brand-notic p{
    padding:0 8px;
   }
   .all-brand-notic p{
    padding:0 8px;
   }
   .all-brand-notic p:last-child{
    color: #808a94;
    padding-top: 18px;
   }
   .all-brand-visited{
    padding-top:10px;
   }
   .all-brand-visited h2{
    font-size: 13px;
    color: #2d3e50;
    background: url(../img/foot.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    margin-left: 8px;
    padding-left: 20px;
   }
   .all-brand-list{
    overflow: hidden;
    border-bottom: 10px solid #eee; 
   }
   .all-brand-shop{
    position: relative;
    padding:10px 10px 0 10px;
   }
   .all-brand-shop h2{
    font-size: 12px;
    color: #808a94;
    padding:0 8px 10px;
    border-bottom: 1px solid #eee;
   }
   .link-to{
    position: absolute;
    right: 10px;
    top: 12px;
    text-decoration: none;
    color: #808a94;
    font-size: 12px;
    font-family: arial;
    width: 10px;
    height: 15px;
    background: url(../img/arrow_right.png) 100% 50% no-repeat;
    display: inline-block;
   }
   .all-brand-list-content{
    overflow: hidden;
    position: relative;
    padding:10px 10px 0 10px;
    min-height: 50px;
    font-size: 12px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
   }
   .all-brand-list-content div.pic-place{
    float: left;
    padding-right:10px;
   }
   .all-brand-list-content .pic-place-right{

   }
   .all-brand-list-content .pic-place-right h3{
    color: #2d3e50;
    line-height: 1.5;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:80%;
    padding-right:30px;
    background: url(../img/call-shop.jpg) right center no-repeat;
    background-size:21px 21px; 
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
   }
   .all-brand-list-content .address{
      color:#808a94; 
      vertical-align: text-bottom;
      /*width:70%;*/
      float: left;
   }
   .all-brand-list-content .local{
    background: url(../img/location.png) left center no-repeat;
    background-size: 7px 9px;
    padding-left:10px;
    float: right;
   }
    .all-brand-other-content{
      padding:10px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 50px;
      padding-right:30px;
      
    }
    .all-brand-other-content li{
      overflow: hidden;
      border-bottom: 1px solid #eee;
    }
    .all-brand-other-content li:last-child{
      border-bottom: none;
    }
    .all-brand-other-content h2{
      padding: 0 8px 10px;
      border-bottom: 1px solid #eee;
      font-size: 12px;
      color: #808a94;
    }
    .all-brand-other-content .list-pic{
      overflow: hidden;
      width: 99px;
      height: 54px;
      float: left;
      padding:10px 8px;
      position: relative;
    }
    .all-brand-other-content .list-pic img{
      width: 100%;
      border:1px solid #eee;
    }
    .all-brand-other-content .list-pic span{
      position: absolute;
      background: url(../img/dy.png) no-repeat;
      top: 8px;
      left: 7px;
      display: inline-block;
      width: 35px;
      height: 35px;
      background-size: cover;
    }
    .list-center{
      padding-top:6px; 
      color: #2d3e50;
      font-size: 15px;
    }
    .list-center h3{
       overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    overflow: hidden;
    }
    .list-center h4{
      color: #808a94;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    
    .all-brand-price{
      color: #f06b75;
      font-size: 9px;
      line-height: 1;
      overflow: hidden;
    }
     .all-brand-price .location{
      background: url(../img/location.png) left center no-repeat;
      background-size: 7px 9px;
      float: right;
      padding-left:10px;
      vertical-align:text-bottom;
      margin:6px 3.125% 0 0 ;
     }
    .all-brand-price .red-price{
       color:#f64e9b;
       font-size: 2.25em;
    }
    .all-brand-price .grey-price{
      color: #808a94;
      font-size: 12px;
      text-decoration: line-through;
    }
       .activity-fix{
    position: fixed;
    bottom: 0;
    border-top: 1px solid #eee;
    height: 60px;
    width: 100%;
    background-color:rgba(255,255,255,.9);
    padding:0 18px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -mz-box-sizing:border-box;
   }
   .activity-fix .activity-fix-btn{
    margin-top: 9px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 18px;
    background-color: #f06b75;
    text-align: center;
    border-radius: 5px;
    width: 100%;
   }
   .activity-fix .current{
    background-color: #bbc1cd;
   }
   .activity-fix .activity-fix-btn a:link,.activity-fix .activity-fix-btn a:visited{
    color:#fff;
    text-decoration: none;
   }
   .activity-fix .pink-btn{
     background: #f64e9b;
   }
   .all-brand-price-text{
     overflow: hidden;
     text-overflow:ellipsis;
     white-space: nowrap;
     width: 70%;
     float: left;
   }
   .all-brand-price .location1{
    background: url(../img/location.png) left center no-repeat;
    background-size: 7px 9px;
    float: right;
    padding-left:10px;
    vertical-align:middle;
    padding-right:6px;
   }
   .all-brand-price-center{
    line-height: 1.5;
    padding-top:10px;

   }
   .all-brand-price-top{
    padding-top:5px;
   }
   /*投票*/
   .vote{
  overflow:hidden;
}
.vote div:first-child{
  padding:10px 0;
  margin:0 10px;
  overflow:hidden;
}
.vote h2{
  color:#808a94;
  font-size:12px;
}
.vote .vote-datail{
  border:1px solid #c1cfd9;
  background:#fff;
  margin:0 10px 20px 10px;
}
.vote .vote-datail form{
  display:block;
  padding:10px 10px 0 10px;
  overflow:hidden;
}
.vote progress.check{
  width: 100%;
    height: 5px;
    border:0;  
    background-color:#e6e6e6;
    color: #f06b75; /*IE10*/
  }
.vote progress.check::-moz-progress-bar { background: #f06b75; }
.vote progress.check::-webkit-progress-bar { background: #e6e6e6; }
.vote progress.check::-webkit-progress-value  { background: #f06b75; }
.vote progress {
    width: 100%;
    height: 5px;
    border:0;  
    background-color:#e6e6e6;
    color: #f7b5ba; /*IE10*/
}
.vote progress::-moz-progress-bar { background: #f7b5ba; }
.vote progress::-webkit-progress-bar { background: #e6e6e6; }
.vote progress::-webkit-progress-value  { background: #f7b5ba; }
.vote ul{
  display:block;
  overflow:hidden;
  }
.vote ul li{
  width:100%;
  display:block;
  overflow:hidden;
  margin-bottom:10px;
  position:relative;
  } 
.vote li input{
  display:inline-block;
  float:left;
  }
.vote li input[type="radio"]{
  width:13px;
  height:13px;
    opacity: 0;
  }
.vote li span.radio{
    background:url(../img/radio.png) no-repeat;
  background-position:left -14px;
  background-size:cover;
  width:13px;
  height:13px;
  position:absolute;
  display:inline-block;
  left:0;
}
.vote li span.check{
    background:url(../img/radio.png) no-repeat;
  background-position:left top;
  background-size:cover;
  width:13px;
  height:13px;
  position:absolute;
  display:inline-block;
  left:0;
}
.vote .vote-right{
  float:right;
  width:85%;
    position:relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -mz-box-sizing:border-box;
  -o-box-sizing:border-box;
  overflow:hidden; 
  font-size: 0.75em;
  color:#2d3e50 ;
  }
.vote .vote-right p span{
  position:absolute;
  right:0;
  }
.vote .submit-btn{
  display:block;
  text-align:center;
  margin:0 auto;
  color:#fff;
  background:#be93cf;
  font-size:15px;
  width:73px;
  height:35px;
  line-height:38px;
  border-top-left-radius:48px;
  border-top-right-radius:48px;
  }
.vote .submit-btn-ok{
  background:#cfd3dc;
}
/*new*/
.vote-right .progress{
  width: 100%;
  height: 5px;
  background:#e6e6e6;
  position: relative;
  margin-top: 10px;
}
.vote-right .progress-bar{
   position: absolute;
   left: 0;
   top: 0;
   background:#fcddeb;
   width: 10%;
   height: 5px;
   margin: 0;
   padding:0;
}
.vote-right .progress-bar-less{
  background:#f0559c;
  position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    margin: 0;
    padding:0;
}
.vote-num{
  position: absolute;
  right:0;
  bottom:14px;
}
.signature{
  border-left:3px solid #d1dbdc;
  padding-left:10px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  font-size: 0.5625em;
  color: #808a94;
  margin-bottom: 70px;
}
/*投票大页面*/
.activity-datail-ul{ 
  border-bottom: 1px solid #d1dbdc;
  overflow: hidden;
}
.activity-datail-ul li{
  margin:0 3.125%;
  border-bottom: 1px solid #d1dbdc;
  padding:5px 0 ;
}
.activity-datail-ul li:last-child{
  border-bottom:0;
 }
 .activity-datail-ul .lc-img{
  background: url(../img/loc.jpg) left center no-repeat;
  background-size:14px 18px; 
  padding-left:20px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
 }
 .activity-datail-ul .lc-img span{
   font-size: 0.5625em;
   color:#969696;
 }
 .activity-datail-ul  .lc-img p{
    color:#2d3e50;
    font-size:0.9375em;
  }
 .a-money{
   background: url(../img/a-money.jpg) left center no-repeat;
   width:100%;
   height: 20px;
   background-size:16px 16px; 
  padding-left:20px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  color:#2d3e50;
    font-size:0.9375em;
 }
 .a-time{
  background: url(../img/a-clock.jpg) left center no-repeat;
  width:100%;
  background-size:16px 16px; 
  padding-left:20px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  color:#2d3e50;
    font-size:0.9375em;
 }
 .activity-datail-info{
  border-top:1px solid #d1dbdc;
 }
 .activity-datail-info>div{
  margin:3.125%;
 }
 .activity-datail-info h2{
  font-size: 0.9375em;
  color:#808a94;
  line-height: 35px;
  border-bottom: 1px solid #eee;
 }
  .activity-datail-info .a-info{
    padding:5px 0;
    color:#808a94;
    font-size: 0.8125em;
    line-height: 1.5;
  }
 .activity-datail-info .a-info em{
    color:#f0559c;
    font-size:0.9375em;
    font-style: normal;
    display: inline-block;
    padding-bottom: 5px;
 }
.activity-footer-wrap{overflow: hidden;
position: relative;
padding: 25px 0 21px;
border-bottom: 1px solid #eee;
}
.activity-tip {
background: url(../img/recommend.png) no-repeat;
position: absolute;
top: 17px;
left: 22px;
width: 76px;
height: 17px;
background-size: cover;
}
.activity-footer-content {
border-radius: 5px;
border: 1px solid #f0559c;
padding: 23px 13px 23px;
overflow: hidden;
background-color: #feedf5;
}
.activity-footer-wrap p {
color: #2d3e50;
font-size: 12px;
line-height: 1.5;
}
.vote-title{
  font-size: 0.75em;
  color:#808a94;
}
.map-info{
  width:100%;
  overflow: hidden;
}
.map-info img{
  border:1px solid #eee;
  max-width:100%;
}
/*团购详情*/
.tg-detail{
  width:100%;
  overflow: hidden;
}
.tg-detail h3{
  font-size: 0.75em;
  padding-bottom: 5px;
  margin:5px 10px 0 10px;
  border-bottom: 1px solid #eee;
  color:#808a94;
}
.tg-detail-table{
  font-size: 0.75em;
  color:#828894;
  padding:0 8px;
  line-height: 1.5;
  width:100%;
  box-sizing:border-box;
}
.tg-detail-table tr{
  width:100%;
}
.tg-detail-table tr td:nth-child(2n){
  width:35%;
  text-align: center;
}
.tg-detail-table tr td:nth-child(3n){
  width:35%;
  text-align: right;
}
.blank-text{
  color:#2e3d50;
  font-size: 0.9375em;
}
.dotted-line{
  border-bottom: 1px dotted #eee;
}
.red-text{
  color:#f64e9b;
}
.floor-daogang{
  position: relative;
}
/*楼层导航*/
.search-floor{
  background:url(../img/search-icon.jpg)center 0 no-repeat;
  height: 15px;
  width:21px;
  display: inline-block;
  background-size:cover;
  position: absolute;
  right:108px;
  top:4px;
}
.select{
  background: #fff;
  border:1px solid #c8c8c8;
  width:86px;
  height: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  line-height: 25px;
  position: absolute;
  right: 3.125%;
  display: inline-block;
}
.select em{
  font-style: normal;
  color:#575757;
  padding-right:10px;
  background: url(../img/arrow-down.png) right center no-repeat;
  display: inline-block;
  background-size:8px 5px;
}
.option{
 width:86px;
 position: absolute;
 right:3.125%;
 top:30px;
 display: none;
 z-index: 200;
 overflow: hidden
}
.option ul {
  overflow: hidden;
  border:1px solid #c8c8c8;
  padding-bottom:2.5px;
  background: #f5f5f5;
  width:86px;
  font-size: 0.75em;
   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.option ul li{
  height: 25px;
  line-height: 25px;
   box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color:#575757;
  text-align: center;
  width:86px;
  background: #fff;
  border-bottom: 1px solid #c8c8c8;
}
.option ul li.current{
  color:#ff4d85;
}
/*silde*/
.swiper-container{
  width: 100%;
  height: 90px;
}
 .swiper-slide {
  width: 100%;
  height: 90px;
}