@charset "utf-8";
*{ margin:0px; padding:0px;}
html,body{ width:100%; min-height:100%; font-size:12px; color:#2d2d2d; font-family:"microsoft YaHei","宋体",Arial; background: #e7e8eb;}
a{ color:#2d2d2d; text-decoration:none;cursor:pointer;}
a:hover{ color:#cf0000; text-decoration:none}
img,a img{ border:0px;}
ul{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
ul li{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
form{ margin:0; padding:0; list-style:none}
.clear{ width:100%; height:0px; line-height:0px; clear:both}

#tree{
	overflow-x: hidden;
}

.lvse{
	color: #44b549;
}
.huise{
	color: #d9dadc;
}
.huise2{
	color: #898989;
}

.size-14{
	font-size: 14px;
}


/*公用按钮*/
a.icon_70{
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #d9dadc;
	background: #fff;
	border-radius: 3px;
	display: block;
	text-indent: 0px;
}
a.icon_70.checked,a.icon_70:hover{
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
	border-radius: 3px;
	display: block;
	text-indent: 0px;
}

/*公用绿色按钮*/
a.Button{
	width: 155px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
a.Button.checked{
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
}
.bg1{
	background: url("../images/icon_time.png") 100% 50% no-repeat;
}
.bg1:hover,.bg1.checked{
	background: url("../images/icon_time2.png") 100% 50% no-repeat;
}

/*公用绿色按钮end*/
.page{
	padding: 20px 20px;
	height: 30px;
} 
.page span{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	float: right;
	margin-left: 10px;
}
.page input{
	width: 60px;
	height: 28px;
	border: 1px solid #d9dadc;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 3px;
	float: right;
	margin-left: 10px;
}
a.page,a.icon-page{
	height: 28px;
	border: 1px solid #d9dadc;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 3px;
	text-align: center;
	float: right;
	display: inline-block;
	margin-left: 10px;
}
a.icon-page{
	padding: 0 15px;
	background: url("../images/icon_page.png") 50% 50% no-repeat #e7e8eb;
}

.shopsButton{
	width: 360px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
}

.shopsButton_w_160{
	width: 160px;
}
.shopsButton_w_100{
	width: 100%;
}
.shopsButton_w_100 a.Button{
	width: 131px;
}	
.shopsButton_w_100 a:last-child{
	margin-right: 0px;
	float: right;
}

/*主体*/
.con{
	width: 100%;
	min-width: 1024px;
	height: 621px;
	padding-top: 100px;
	background: url("../images/bg.png") 50% 0px no-repeat;
}
.login-bg{
	width: 100%;
	height: 100%;
	background:#fff;opacity:.40;filter:alpha(opacity=40);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.login-center{
	padding: 20px 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.login{
	width: 330px;
	height: 255px;
	padding: 20px 60px;
	margin: 0 auto;
	border: 1px solid #d3dde4;
	position: relative;
}
.login-title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #f97e76;
}
.login-user{
	margin: 20px 0;
	border: 1px solid #d5d6db;
	border-bottom: 0px;
	position: relative;
	background: #fff;
}
.login-user p{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #d5d6db;	
}
.login-user p span{
	display: inline-block;
	float: left;
	width: 45px;
	height: 20px;
	margin-top: 10px;
}
.login-user p input{
	display: inline-block;
	float: left;
	width: 260px;
	height: 25px;
	margin-top: 7px;
	padding: 0px 10px;
	color: #898989;
	line-height: 20px;
	border: 0px;
}
.icon-user{
	background: url("../images/icon_user.png") 50% 50% no-repeat;
}
.icon-password{
	background: url("../images/icon_password.png") 50% 50% no-repeat;
}

.login-button{
	width: 100%;
	height: 40px;
	margin: 20px 0 10px 0;
}
.login-button a{
	width: 200px;
	height: 40px;
	margin: 0 auto;
	background:#1ca823;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-radius: 3px;
	display: block;
	font-size: 18px;
}
/*首页----top.html*/
.top{
	/*width: 100%;*/
	padding: 0 20px;
	height: 60px;
	min-width: 1024px;
	border-top: 2px solid #44b549;
	border-bottom: 1px solid #d9dadc;
	background: #fff;
}
.topH{
	margin-bottom: 40px;
}
.top-main{
	width: 1198px;
	min-width: 1004px;
	margin: 0 auto;
}
.top-left{
	width: 500px;
	height: 60px;
	float: left;	
}
.top-left .logo{
	width: 50px;
	height: 50px;
	float: left;
	margin: 3px 6px 0 0;
	background: url("../images/logo.png") no-repeat;
}
.top-left span{
	display: inline-block;
	float: left;
	font-size: 22px;
	line-height: 60px;
	color: #676767;
}
.top-right{
	width: 300px;
	height: 40px;
	padding: 10px 0;
	float: right;
}
.top-right span{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: right;	
}

/*首页----left.html*/
.left{
	width: 210px;
	height: 100%;
	/*border:1px solid #d9dadc;*/
	background: #fff;
}
/*树状dtree*/
div#tree {
	/*position: absolute;*/
	height: 100%;
	width: 100%;
}
#tree ul{
	width: 100%;
	padding: 0px;
	margin:0px;
}
#tree ul li{
	width: 100%;
	padding: 0px;
}
span.titletop{
	font-size: 14px;
	color: #1ca823;
	font-weight: bold;
}

span.fancytree-node{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-indent: 20px;
	font-size: 14px;
	border-bottom:1px solid #d9dadc;
	position: relative;
	display: block;
}
span.fancytree-node:hover{
	background: #ececed;
	border-bottom:1px solid #d9dadc;
	display: block;
}
span.fancytree-expander{
	position: absolute;
	top: 25px;
	left: 125px;		
}
.fancytree-exp-c span.fancytree-expander:hover{
	background-position: 0px;
}
span.fancytree-empty, span.fancytree-vline, span.fancytree-expander, span.fancytree-icon, span.fancytree-checkbox, span.fancytree-radio, span.fancytree-drag-helper-img, #fancytree-drop-marker{
	background: url("icons.gif") ;
	width: 13px;
	height: 10px;
	background-position: 0px;
}
span.fancytree-empty:hover, span.fancytree-vline:hover, span.fancytree-expander:hover, span.fancytree-icon:hover, span.fancytree-checkbox:hover, span.fancytree-radio:hover, span.fancytree-drag-helper-img:hover, #fancytree-drop-marker:hover{
	background: url("icons.gif") ;
	width: 13px;
	height: 10px;
	background-position: 0px;
}
.fancytree-exp-e span.fancytree-expander, .fancytree-exp-ed span.fancytree-expander{
	background-position: 0px;
}
.fancytree-exp-e span.fancytree-expander:hover, .fancytree-exp-ed span.fancytree-expander:hover{
	background-position: 0px;
}
span.fancytree-icon{
	display: none;
}

ul.fancytree-container {
	/*height: 100%;*/
	/*width: 100%;*/
}
span.fancytree-node.fancytree-active, span.fancytree-node.fancytree-selected{
	/*border:1px solid #d9dadc;*/
	background:#fff;
}
.fancytree-ico-c{
	background: #f5f5f7;
}
span.external span.fancytree-title:after {
	
	background: #fff;
	padding-right: 13px;
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active, .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, span.fancytree-node.fancytree-active:hover, span.fancytree-node.fancytree-selected:hover{
	background: #fff;
	border-color:#d9dadc;
}


/*角色列表 start*/
.role-min-width{
	width: 1198px;
	margin: 0 auto;
}
.role{
	min-width: 1004px;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.role-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}
.role-main{
	margin: 0 30px;
	height: auto;
	overflow: auto;
	padding: 20px 0px;
}
.role-main p{
	width: 100%;
	padding-bottom: 20px;
}
.role-main p span{
	display: block;
	line-height: 30px;
	width: 100%;
	height: 30px;
}
.role-main p strong{
	display: block;
	font-size: 14px;
	line-height: 30px;
}
.role-main p span font{
	display: inline-block;
	float: left;
	width: 70px;
}
.role-main p span select{
	display: inline-block;
	float: left;
	width: 180px;
	height: 28px;
	border: 1px solid #d9dadc;
}
.role-main p span input{
	width: 160px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
.role-main p span textarea{
	width: 350px;
	height: 115px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
.role-main p span font.msg{
	width: 300px;
	padding-left: 10px;
	color: #9c9c9c;
}

/*新建角色 start*/
.role-new{
	width: 100%;
	height: auto;
}
.role-new ul li{
	float: left;
	height: auto;
	line-height: 30px;
	margin-bottom: 10px;
}
.role-new ul li.w_100{
	width: 100%;
}
.role-new ul li.name{
	width: 90px;
}
.role-new ul li.name2{
	width: 35px;
}
.role-new ul li.line{
	width: 15px;
}
.role-new ul li.detail{
	width: 92%;
}
.role-new ul li.maxH{
	height: 120px;
}
.role-new ul li.m-b-0{
	margin-bottom: 0px;
}
.role-new ul li.m-b-20{
	margin-bottom: 20px;
}


.role-new ul li select{
	display: inline-block;
	float: left;
	width: 160px;
	height: 28px;
	border: 1px solid #d9dadc;
}
.role-new ul li input{
	width: 160px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.role-new ul li textarea{
	width: 370px;
	height: 115px;
	min-width: 370px;
	min-height: 115px;
	max-width: 370px;
	max-height: 115px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
.role-new ul li textarea.maxW{
	width: 692px;
	min-width: 692px;
	max-width: 692px;
	margin-right: 10px;
}
.role-new ul li span{
	display: inline-block;
	float: left;
	width: 75px;
	padding-right: 10px;
}
.role-new ul li span.maxW{
	width: 167px;
}
.role-new ul li span.minW{
	width: 35px;
	padding-right: 0px;
}
.role-new ul li span.line{
	width: 15px;
	padding-right: 0px;
}
.role-new ul li span.msg{
	width: 250px;
	color: #9c9c9c;
}
.role-new ul li span.error{
	width: 250px;
	color: red;
}
.role-new ul li span.msg.center{
	margin-top: 45px;
}

.role-set{
	width: 100%;
}
.role-set1{
	width: 275px;
	height: auto;
	overflow: auto;
	float: left;
}
.role-set2{
	width: 34px;
	height: auto;
	float: left;
	margin: 50px 15px 0 15px;
}
.role-set1 strong{
	display: block;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
}
.role-set1-user{
	width: 270px;
	height: 200px;
	padding: 0px;
	border: 1px solid #d5d6db;
}
.role-set1-user span{
	display: block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.role-set1-user span:hover{
	background: #e1e1e1;
}
.role-set1-user span.deep{
	background: #e1e1e1;
}

.role-set2 a{
	display: block;
	width: 34px;
	height: 34px;
	margin-bottom: 10px;
}
.role-set2 a.icon1{
	background: url(../images/icon1.png) no-repeat;
}
.role-set2 a.icon1:hover,.role-set2 a.icon1.checked{
	background: url(../images/icon1_2.png) no-repeat;
}
.role-set2 a.icon2{
	background: url(../images/icon2.png) no-repeat;
}
.role-set2 a.icon2:hover,.role-set2 a.icon2.checked{
	background: url(../images/icon2_2.png) no-repeat;
}
.role-set2 a.icon3{
	background: url(../images/icon3.png) no-repeat;
}
.role-set2 a.icon3:hover,.role-set2 a.icon3.checked{
	background: url(../images/icon3_2.png) no-repeat;
}
.role-set2 a.icon4{
	background: url(../images/icon4.png) no-repeat;
}
.role-set2 a.icon4:hover,.role-set2 a.icon4.checked{
	background: url(../images/icon4_2.png) no-repeat;
}

/*新建角色 end*/

table.rolelist{
	border: 1px solid #d9dadc;
	border-bottom: 0px;
}
table.rolelist tr td{
	height: 40px;
	padding: 10px 0;
	text-align: left;
	padding-left: 10px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
}
/* table.rolelist tr:first-child td{
	height: 40px;
	background: #f4f5f9;
	text-align: left;
	padding: 0px;
	padding-left: 10px;
	border-bottom: 1px solid #d9dadc;
} */
table.rolelist tr.headTr td{
	height: 40px;
	background: #f4f5f9;
	text-align: left;
	padding: 0px;
	padding-left: 10px;
	border-bottom: 1px solid #d9dadc;
}
table.rolelist.next{
	margin-bottom: 20px;
	border-top: 0px;
}
table.rolelist-main{
	
}
table.rolelist-main tr:first-child td{
	height: 40px;
	background: none;
	text-align: left;
	padding: 0px;
	padding-left: 10px;
	border-bottom: none;
}

/*角色列表 end*/

/*账号列表 start*/
.account{
	min-width: 1004px;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.account-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}

.account-main{
	margin: 20px 30px 0 30px;
	height: auto;
	overflow: auto;
}
.account-list{
	width: 100%;
}
table.accounttable{
	margin: 20px 0 0 0;
	border: 1px solid #d9dadc;
	border-bottom: 0px;		
}
table.accounttable tr td{
	height: 60px;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
}
table.accounttable tr:first-child td{
	height: 40px;
	background: #f4f5f9;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
}
table.accounttable tr td.p-l-0{
	padding-left: 0px;
}
table.searchExact tr td{
	height: 40px;
}
table.searchExact input{
	width: 90px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
table.searchExact input.max{
	width: 170px;
}
table.searchExact select{
	width: 112px;
	height: 28px;
	border: 1px solid #d9dadc;
}
a.btnsearchExact{
	width: 95px;
	height: 30px;
	background: #1ba722;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

/*账号列表 end*/

/*提示信息遮罩弹出框 */
.MsgBoxBg,.MsgBoxBgTip{
	background-color:#d5d6d9; 
	left:0; 
	opacity:0.65; 
	position:absolute; 
	top:0; 
	z-index:99; 
	filter:alpha(opacity=65); 
	-moz-opacity:0.65; 
	-khtml-opacity:0.65;
}
.MsgBox{
	background-color:#fff; 
	height:auto; 
	left:50%; 
	margin:-200px 0 0 -200px; 
	position:fixed !important; /* 浮动对话框 */ 
	position:absolute; 
	top:50%;  
	z-index:100; 
	display:none; 
	padding:20px 30px;
	border:1px solid #c5cace; 
}
.MsgBoxConfirm,.MsgBoxTip{
	background-color:#fff; 
	height:auto; 
	left:50%; 
	margin:-200px 0 0 -200px; 
	position:fixed !important; /* 浮动对话框 */ 
	position:absolute; 
	top:50%;  
	z-index:100; 
	display:none; 
}
.MsgBoxTitle{
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #3a3a3a;
	color: #fff;
	font-size: 14px;
}
.MsgBoxMain{
	padding:20px 30px;
	border:1px solid #c5cace; 
	border-top:none;
	overflow: auto;
}
.MsgBoxMain p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #3a3a3a;
	max-width:350px;
	padding-bottom:10px;
}
.MsgBox p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #3a3a3a;
	max-width:350px;
}
.MsgBox a{
	float: left;
	display: inline-block;
	margin: 20px 10px 0 10px;
}
/*提示信息遮罩弹出框 end*/

ul.typeahead li{
	float:none;
	height:26px;
	margin-bottom:5px;
}
/*table表格样式*/
.shopSelectList{
	margin: 20px 0 0 0;
	border: 1px solid #d9dadc;
	border-bottom: 0px;
}

.shopSelectList table tr td{
	height: 70px;
	padding: 10px 0;
	text-align: left;
	padding-left:20px;
	border-bottom: 1px solid #d9dadc;
}
.shopSelectList table tr:first-child td{
	height: 40px;
	background:#f4f5f9;
}
#brandSearch{
	display: inline-block;
	float: left;
	width: 95px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #44b549;
	border-radius: 3px;
	background: #44b549;	
	color: #fff;
	text-align: center;
}
.delshowcoupon{
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
	border-radius: 3px;
	display: block;
	text-indent: 0px;
	float:left;
}
#addCouponTable-head tr td {
width: 30px;
height: 5px;
}

table.couponlist{
	border: 1px solid #d9dadc;
	border-bottom: 0px;
	margin-bottom: 10px;
}
table.couponlist tr td{
	height: 20px;
	padding: 2px 0;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
}
table.couponlist thead tr:first-child td{
	height: 20px;
	background: #f4f5f9;
	text-align: left;
	padding: 0px;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
}
table.couponlist tr td .checkbox{
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}