<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.osm.entity.ApplicationFormMapper" >
  <resultMap id="ApplicationFormMapper" type="com.rongyi.easy.osm.entity.ApplicationFormEntity" 
  	extends="com.rongyi.easy.osm.entity.ApplicationFormEntityMapper.BaseResultMap">
  </resultMap>
  <insert id="insertAndGetId" parameterType="com.rongyi.easy.osm.entity.ApplicationFormEntity" 
  	useGeneratedKeys="true" keyProperty="id">
    insert into appeal_form (id, order_no, order_item_no, 
      buyer_id, weidian_id, pic_urls, 
      status, reject_reason, appeal_result, 
      create_at, seller_time, express_info_id, 
      refund_reason_id, 
      refund_type_id, agent_create_at, agent_comment, 
      end_at, appeal_comment)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderItemNo,jdbcType=VARCHAR}, 
      #{buyerId,jdbcType=VARCHAR}, #{weidianId,jdbcType=VARCHAR}, #{picUrls,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{rejectReason,jdbcType=VARCHAR}, #{appealResult,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{sellerTime,jdbcType=TIMESTAMP}, #{expressInfoId,jdbcType=VARCHAR}, 
      #{refundReasonId,jdbcType=BIGINT}, 
      #{refundTypeId,jdbcType=BIGINT}, #{agentCreateAt,jdbcType=TIMESTAMP}, #{agentComment,jdbcType=VARCHAR}, 
      #{endAt,jdbcType=TIMESTAMP}, #{appealComment,jdbcType=VARCHAR})
  </insert>
  
  <select id="selectByCondition" parameterType="java.util.Map" resultMap="ApplicationFormMapper">
  	select * from appeal_form;
  </select>
  
  <select id="selectById" parameterType="java.util.Map" resultMap="ApplicationFormMapper">
  	select * from appeal_form where id = #{id};
  </select>
  
  <update id="updateAll" parameterType="com.rongyi.easy.osm.entity.ApplicationFormEntity">
	update appeal_form 
	set
		order_no = #{orderNo},
		order_item_no = #{orderItemNo},
		buyer_id = #{buyerId},
		weidian_id = #{weidianId},
		status = #{status},
		reject_reason = #{rejectReason},
		appeal_result = #{appealResult},
		seller_time = #{sellerTime},
		express_info_id = #{expressInfoId},
		refund_reason_id = #{refundReasonId},
		refund_type_id = #{refundTypeId},
		agent_create_at = #{agentCreateAt},
		agent_comment = #{agentComment},
		end_at = #{endAt},
		appeal_comment = #{appealComment}
	where id = #{id};
  </update>
</mapper>