<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.osm.entity.OrderFormMapper" >
  <resultMap id="OrderEntityMapper" type="com.rongyi.easy.osm.entity.OrderFormEntity" 
  	extends="com.rongyi.easy.osm.entity.OrderFormEntityMapper.BaseResultMap">
  </resultMap>
  
  <insert id="insert" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity" >
<!--   		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >  -->
<!-- 	      	SELECT LAST_INSERT_ID() AS id -->
<!-- 	    </selectKey> -->
	    INSERT INTO order_form (
	    	id, 
	    	order_no, 
	    	total_amount, 
	      	express_fee, 
	      	disconnt_fee, 
	      	express_info_id,
	      	address_id,
	      	status, 
	      	status_route, 
	      	create_at, 
	      	status_hold_ms, 
	      	next_status_time, 
	      	buyer_id, 
	      	weidian_id, 
	      	payment_id_list, 
	      	is_comment,
	      	buyer_comment,
	      	order_type,
	      	order_source,
	      	coupon_id,
	      	guide_id,
	      	internal_coupon_id
	     )
	    SELECT
	    	#{id,jdbcType=INTEGER}, 
	    	#{orderNo,jdbcType=VARCHAR}, 
	    	#{totalAmount,jdbcType=DECIMAL}, 
	      	#{expressFee,jdbcType=DECIMAL}, 
	      	#{disconntFee,jdbcType=DECIMAL}, 
	      	#{expressInfoId,jdbcType=VARCHAR}, 
	      	#{addressId,jdbcType=VARCHAR},
	      	#{status,jdbcType=VARCHAR}, 
	      	#{statusRoute,jdbcType=VARCHAR}, 
	      	#{createAt,jdbcType=TIMESTAMP}, 
	      	#{statusHoldMs,jdbcType=BIGINT}, 
	      	#{nextStatusTime,jdbcType=TIMESTAMP}, 
	      	#{buyerId,jdbcType=VARCHAR}, 
	      	#{weidianId,jdbcType=VARCHAR}, 
	      	#{paymentIdList,jdbcType=INTEGER}, 
	      	#{isComment,jdbcType=INTEGER},
	      	#{buyerComment,jdbcType=VARCHAR},
	      	#{orderType,jdbcType=INTEGER},
	      	#{orderSource,jdbcType=INTEGER},
	      	#{couponId,jdbcType=VARCHAR},
	      	#{guideId,jdbcType=VARCHAR}, 
	      	#{internalCouponId,jdbcType=VARCHAR}
	   	FROM dual 
		WHERE NOT EXISTS (SELECT * FROM order_form 
			WHERE order_form.order_no = #{orderNo}); 
  </insert>
  
  <select id="selectByOrderNum" parameterType="java.util.Map" resultMap="OrderEntityMapper">
  	select * from order_form where order_no = #{orderNo};
  </select>
  
  <select id="selectNonClosedOrder" parameterType="java.util.Map" 
  	resultMap="OrderEntityMapper">
  	select * from order_form where status != #{status} limit #{start},#{range};
  </select>
  
  <update id="updateTotalPrice" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
  	update order_form 
  	set 
  		total_amount = #{totalAmount}, 
  		disconnt_fee = #{disconntFee}, 
  		express_fee = #{expressFee} 
 	where order_no = #{orderNo}
  </update>
  
  <update id="updateStatus" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
  	update order_form 
  	set 
  		status = #{status}, 
  		status_route = #{statusRoute}
  	where order_no = #{orderNo}
  </update>

  <update id="updateStatusWithTime" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
    update order_form 
    set 
    	status = #{status}, 
    	status_route = #{statusRoute}, 
    	status_hold_ms = #{statusHoldMs}, 
    	next_status_time = #{nextStatusTime,jdbcType=TIMESTAMP},
    	is_comment = #{isComment,jdbcType=INTEGER}
    where order_no = #{orderNo}
  </update>
  
  <update id="updateStatusAndPaymentIdWithTime" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
    update order_form 
    set 
    	status = #{status}, 
    	status_route = #{statusRoute}, 
    	status_hold_ms = #{statusHoldMs}, 
    	next_status_time = #{nextStatusTime,jdbcType=TIMESTAMP},
    	payment_id_list = #{paymentIdList}
    where order_no = #{orderNo}
  </update>
  
  <update id="updateStatusAndLogisticsBillIdWithTime" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
    update order_form 
    set 
    	status = #{status}, 
    	status_route = #{statusRoute}, 
    	status_hold_ms = #{statusHoldMs}, 
    	next_status_time = #{nextStatusTime,jdbcType=TIMESTAMP},
    	express_info_id = #{expressInfoId}
    where order_no = #{orderNo}
  </update>
  
  <update id="updatePaymentIdByOrderNum" parameterType="java.util.Map">
    update order_form 
    set 
    	payment_id_list = #{paymentIdList}
    where order_no = #{orderNo}
  </update>
  
  <update id="updateIsComment" parameterType="com.rongyi.easy.osm.entity.OrderFormEntity">
    UPDATE order_form 
    SET 
    	is_comment = #{isComment}
    WHERE order_no = #{orderNo}
  </update>
</mapper>
