<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.osm.entity.OrderDetailFormMapper">
	<resultMap id="OrderDetailMapper" type="com.rongyi.easy.osm.entity.OrderDetailFormEntity"
		extends="com.rongyi.easy.osm.entity.OrderDetailFormEntityMapper.BaseResultMap">
	</resultMap>
	
	<select id="selectOrderDetailListByParentNum" parameterType="java.util.Map"
		resultMap="OrderDetailMapper" >
	  select * from order_detail_form where order_no = #{orderNo};	
	</select>

	<select id="selectOrderDetailByOrderNum" parameterType="java.util.Map"
		resultMap="OrderDetailMapper" >
	  select * from order_detail_form where order_item_no = #{orderItemNo};	
	</select>

	<insert id="insert" parameterType="java.util.List">
<!-- 		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" > -->
<!-- 	      	SELECT LAST_INSERT_ID() AS id -->
<!-- 	    </selectKey> -->
		insert into order_detail_form (
			id,
			order_item_no, 
			order_no,
			commodity_mid, 
			unit_price, 
			quantity,
			refund_amount, 
			real_amount, 
			status,
			appeal_times, 
			refund_times, 
			is_refunded,
			is_judged, 
			appeal_id, 
			payment_id_list,
			commodity_spec_mid,
			coupon_id,
			commodity_commission,
			refund_discount_info
		)
		values 
		<foreach collection="list" item="item" index="index" separator="," >  
			(
				#{item.id,jdbcType=INTEGER}, 
				#{item.orderItemNo,jdbcType=VARCHAR},
				#{item.orderNo,jdbcType=VARCHAR},
				#{item.commodityMid,jdbcType=VARCHAR}, 
				#{item.unitPrice,jdbcType=DECIMAL}, 
				#{item.quantity,jdbcType=INTEGER},
				#{item.refundAmount,jdbcType=DECIMAL}, 
				#{item.realAmount,jdbcType=DECIMAL},
				#{item.status,jdbcType=VARCHAR},
				#{item.appealTimes,jdbcType=INTEGER}, 
				#{item.refundTimes,jdbcType=INTEGER},
				#{item.isRefunded,jdbcType=INTEGER},
				#{item.isJudged,jdbcType=INTEGER}, 
				#{item.appealId,jdbcType=INTEGER}, 
				#{item.paymentIdList,jdbcType=INTEGER},
				#{item.commoditySpecMid,jdbcType=VARCHAR},
				#{item.couponId,jdbcType=VARCHAR},
				#{item.commodityCommission,jdbcType=DECIMAL},
				#{item.refundDiscountInfo,jdbcType=VARCHAR}
			 )
		</foreach>
	</insert>
	
	<update id="updateStatus" parameterType="com.rongyi.easy.osm.entity.OrderDetailFormEntity">
		update order_detail_form set status = #{status} where order_item_no = #{orderItemNo};
	</update>
	
	<update id="updateStatusRefundAdult" parameterType="com.rongyi.easy.osm.entity.OrderDetailFormEntity">
		update order_detail_form 
		set 
			status = #{status}, 
			appeal_times = #{appealTimes},
			refund_times = #{refundTimes},
			refund_amount = #{refundAmount},
			is_refunded = #{isRefunded},
			appeal_id = #{appealId},
			is_judged = ${isJudged}
		where order_item_no = #{orderItemNo};
	</update>
	
	<update id="updatePaymentIdByOrderNum" parameterType="java.util.Map">
		update order_detail_form 
		set 
			payment_id_list = #{paymentIdList} 
		where order_item_no = #{orderItemNo};
	</update>
</mapper>