<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_logo" property="userLogo" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="is_cooperation" property="isCooperation" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_disabled" property="isDisabled" jdbcType="INTEGER" />
    <result column="device_uuid" property="deviceUuid" jdbcType="VARCHAR" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="share_code" property="sharCode" jdbcType="VARCHAR" />
    <result column="user_desc" property="userDesc" jdbcType="VARCHAR" />
    <result column="push_id" property="pushId" jdbcType="VARCHAR" />
	<result column="use_code" property="useCode" jdbcType="VARCHAR" />
	<result column="jsessionid" property="jsessionid" jdbcType="VARCHAR" />
	<result column="isOrdering" property="isOrdering" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_logo, role_id, user_phone, user_pwd, user_name, user_nick_name, user_status, 
    account_id, create_by, create_at, update_by, update_at, version, is_disabled, device_uuid,
    card_id,share_code,use_code,jsessionid,isOrdering
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rmmm_user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rmmm_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rmmm_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntityExample" >
    delete from rmmm_user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntity" >
    insert into rmmm_user_info (id, user_logo, role_id, 
      user_phone, user_pwd, user_name, 
      user_nick_name, user_status, account_id,
      create_by, create_at, update_by, 
      update_at, version, is_disabled, 
      device_uuid, card_id,share_code,use_code,jsessionid,isOrdering)
    values (#{id,jdbcType=INTEGER}, #{userLogo,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{userPhone,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNickName,jdbcType=VARCHAR}, #{userStatus,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{isDisabled,jdbcType=INTEGER}, 
      #{deviceUuid,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR},#{sharCode,jdbcType=VARCHAR}),
      #{useCode,jdbcType=VARCHAR},#{jsessionid,jdbcType=VARCHAR},#{isOrdering,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntity" >
    insert into rmmm_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userLogo != null" >
        user_logo,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userNickName != null" >
        user_nick_name,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
      <if test="deviceUuid != null" >
        device_uuid,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="shareCode != null" >
        share_code,
      </if>
       <if test="useCode != null" >
        use_code,
      </if>
       <if test="jsessionid != null" >
        jsessionid,
      </if>
      <if test="isOrdering != null" >
        isOrdering,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userLogo != null" >
        #{userLogo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null" >
        #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=INTEGER},
      </if>
      <if test="deviceUuid != null" >
        #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="sharCode != null" >
        #{sharCode,jdbcType=VARCHAR},
      </if>
       <if test="useCode != null" >
        #{useCode,jdbcType=VARCHAR},
      </if>
       <if test="jsessionid != null" >
        #{jsessionid,jdbcType=VARCHAR},
      </if>
      <if test="isOrdering != null" >
        #{isOrdering,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntityExample" resultType="java.lang.Integer" >
    select count(*) from rmmm_user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rmmm_user_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userLogo != null" >
        user_logo = #{record.userLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null" >
        user_pwd = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userNickName != null" >
        user_nick_name = #{record.userNickName,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null" >
        user_status = #{record.userStatus,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.isDisabled != null" >
        is_disabled = #{record.isDisabled,jdbcType=INTEGER},
      </if>
      <if test="record.deviceUuid != null" >
        device_uuid = #{record.deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rmmm_user_info
    set id = #{record.id,jdbcType=INTEGER},
      user_logo = #{record.userLogo,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=INTEGER},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_pwd = #{record.userPwd,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_nick_name = #{record.userNickName,jdbcType=VARCHAR},
      user_status = #{record.userStatus,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      is_disabled = #{record.isDisabled,jdbcType=INTEGER},
      device_uuid = #{record.deviceUuid,jdbcType=VARCHAR},
      card_id = #{record.cardId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntity" >
    update rmmm_user_info
    <set >
      <if test="userLogo != null" >
        user_logo = #{userLogo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null" >
        user_nick_name = #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDisabled != null" >
        is_disabled = #{isDisabled,jdbcType=INTEGER},
      </if>
      <if test="deviceUuid != null" >
        device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="useCode != null" >
        use_code = #{useCode,jdbcType=VARCHAR},
      </if>
      <if test="jsessionid != null" >
        jsessionid = #{jsessionid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.rmmm.entity.RmmmUserInfoEntity" >
    update rmmm_user_info
    set user_logo = #{userLogo,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_nick_name = #{userNickName,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      is_disabled = #{isDisabled,jdbcType=INTEGER},
      device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      use_code = #{useCode,jdbcType=VARCHAR},
      jsessionid = #{jsessionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>