<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.rmmm.entity.UserLabelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.rmmm.entity.UserLabelEntity" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.rongyi.easy.rmmm.entity.UserLabelEntity" >
    insert into user_label (user_id, label_id, user_type
      )
    values (#{userId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.rmmm.entity.UserLabelEntity" >
    insert into user_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>