@charset "utf-8";
*{ margin:0px; padding:0px;}
html,body{ width:100%; height:100%; font-size:12px; color:#222222; font-family:"microsoft YaHei","宋体",Arial; background: white;}
a{ color:#222222; text-decoration:none;cursor:pointer;}
a:hover{ color:#cf0000; text-decoration:none}
img,a img{ border:0px;}
ul{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
ul li{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
form{ margin:0; padding:0; list-style:none}
.clear{ width:100%; height:0px; line-height:0px; clear:both}


.lvse{
	color: #44b549;
}
.huise{
	color: #d9dadc;
}
.huise2{
	color: #898989;
}

.size-14{
	font-size: 14px;
}



/*公用按钮*/
a.icon_70{
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #d9dadc;
	background: #fff;
	border-radius: 3px;
	display: block;
	text-indent: 0px;
}
a.icon_70.checked,a.icon_70:hover{
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
	border-radius: 3px;
	display: block;
	text-indent: 0px;
}

.shopsButton{
	width: 360px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
}
.shopsButton_w_160{
	width: 160px;
}

/*公用绿色按钮*/
a.Button{
	width: 155px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
a.Button.checked{
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
}
.bg1{
	background: url("../images/icon_time.png") 100% 50% no-repeat;
}
.bg1:hover,.bg1.checked{
	background: url("../images/icon_time2.png") 100% 50% no-repeat;
}


/*首页----top.html*/
.top{
	/*width: 100%;*/
	padding: 0 20px;
	height: 60px;
	min-width: 1024px;
	border-top: 2px solid #44b549;
	border-bottom: 1px solid #d9dadc;
	background: #fff;
}
.topH{
	margin-bottom: 40px;
}
.top-main{
	width: 1198px;
	min-width: 1004px;
	margin: 0 auto;
}
.top-left{
	width: 500px;
	height: 60px;
	float: left;
}
.top-left .logo{
	width: 50px;
	height: 50px;
	float: left;
	margin: 3px 6px 0 0;
	background: url("../images/logo.png") no-repeat;
}
.top-left span{
	display: inline-block;
	float: left;
	font-size: 22px;
	line-height: 60px;
	color: #676767;
}
.top-right{
	width: 300px;
	height: 40px;
	padding: 10px 0;
	float: right;
}
.top-right span{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: right;
}


/*新建优惠券 start*/
.coupon-min-width{
	width: 1198px;
	margin: 0 auto;
}
.coupon{
	min-width: 1004px;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.coupon-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}
.coupon-main{
	margin: 0 30px;
	height: auto;
	overflow: auto;
	padding: 20px 0px;
}


.coupon-new{
	width: 100%;
	height: auto;
}
.coupon-new-title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #44b549;
}
.coupon-new-title span{
	display: inline-block;
	float: left;
	width: 200px;
}
.coupon-new-title a{
	display: inline-block;
	float: right;
	width: 95px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #44b549;
	border-radius: 3px;
	background: #44b549;
	color: #fff;
	text-align: center;
}
.coupon-new ul{
	width: 50%;
	float: left;
}
.coupon-new ul li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.coupon-new ul li.maxH{
	height: 110px;
}
.coupon-new ul li.li1{
	width: 70px;
}
.coupon-new ul li.li2{
	width: 430px;
}
.coupon-new ul li .text{
	width: 160px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.role-new ul li .select{
	display: inline-block;
	float: left;
	width: 180px;
	height: 28px;
	border: 1px solid #d9dadc;
}
.coupon-new ul li .msg{
	width: 205px;
	color: #9c9c9c;
	display: inline-block;
	float: left;
	padding-right: 10px;
}
.coupon-new ul li .msgMax{
	width: 390px;
}
.coupon-new ul li .texMaxW{
	width: 390px;
	height: 75px;
	min-width: 390px;
	min-height: 75px;
	max-width: 390px;
	max-height: 75px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
.w_100{
	width: 100%;
	height: auto;
	overflow: auto;
}

table.couponlist{
	border: 1px solid #d9dadc;
	border-bottom: 0px;
	margin-bottom: 10px;
}
table.couponlist tr td{
	height: 40px;
	padding: 10px 0;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
}
table.couponlist tr:first-child td{
	height: 40px;
	background: #f4f5f9;
	text-align: left;
	padding: 0px;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
}
table.couponlist tr td .checkbox{
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}


table.couponrelelist{
	border: 1px solid #d9dadc;
	border-bottom: 0px;
	margin-bottom: 10px;
}
table.couponrelelist tr td{
	height: 40px;
	padding: 3px 0;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
}
table.couponrelelist tr:first-child td{
	height: 40px;
	background: #f4f5f9;
	text-align: left;
	padding: 0px;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
}
table.couponrelelist tr td .checkbox{
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

.couponPic{
	width: 100%;
	height: 30px;
}
.couponPic a,.couponPic span{
	display: inline-block;
	float: left;
	line-height: 20px;
}
.couponPic span{
	padding: 0 10px;
}



.active-pic{
	width: 90%;
	border: 1px solid #d9dadc;
	margin-bottom: 15px;
}
.active-pic-title{
	height: 30px;
	border-bottom: 1px solid #d9dadc;
	padding: 0 10px;
	line-height: 30px;
	background: #e7e8eb;
}
.active-pic-title span{
	display: inline-block;
	float: left;
	width: 70px;
	height: 30px;
	overflow: hidden;
	margin-right: 5px;
}
.active-pic-img{
	padding: 10px;
	height: auto;
	overflow: auto;
	height: 100px;
}
.pic{
	width: 100%;
}
.pic a{
	width: 90px;
	height: 65px;
	border: 1px solid #d9dadc;
	float: left;
	position: relative;
	margin-right: 10px;
}
.pic-text{
	width: 100%;
	height: auto;
	line-height: 20px;
	margin-bottom: 10px;
	color: #898989;
}

.info{
	width: 100%;
	height: 30px;
}
.info input{
	display: inline-block;
	float: left;
	margin-top: 9px;
	margin-right: 5px;
}
.info span{
	width: 100px;
	height: 30px;
	display: inline-block;
	float: left;
	line-height: 30px;
}

/*日期控件*/
.time-input{
	width: 187px;
	height: 30px;
	float: left;
	background: #fff;
}
.time-input input{
	width: 145px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	float: left;
	border: 0px;
	padding: 0 30px 0 10px;
	border: 1px solid #d9dadc;
	cursor: pointer;
}

.bg1{
	background: url("../images/icon_time.png") 100% 50% no-repeat;
}
.bg1:hover,.bg1.checked{
	background: url("../images/icon_time2.png") 100% 50% no-repeat;
}
.bg2{
	background: url("../images/icon_date.png") 100% 50% no-repeat;
}
.bg2.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}
.bg2:hover,.bg2.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}

/*日期控件*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.timeSpan{
	height: 30px;
	padding: 0 8px;
	float: left;
	line-height: 30px;
}

/*新建优惠券 end*/
.check-info{
	margin-left: 52px;
	margin-top: 3px;
}

