@charset "utf-8";
*{ margin:0px; padding:0px;}
html,body{ width:100%; height:100%; font-size:12px; color:#2d2d2d; font-family:"microsoft YaHei","宋体",Arial; background: #e7e8eb;}
a{ color:#2d2d2d; text-decoration:none;cursor:pointer;}
a:hover{ color:#cf0000; text-decoration:none}
img,a img{ border:0px;}
ul{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
ul li{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
form{ margin:0; padding:0; list-style:none}
.clear{ width:100%; height:0px; line-height:0px; clear:both}


.main{
	min-width: 1004px;
	height: auto;
	overflow: auto;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.main-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}
.main-chart{
	margin: 0 30px;
	height: 600px;
	/*background: red;*/
}


/*一级筛选 按钮*/
.mainBtn,.mainBtn2{
	width: 100%;
	height: 40px;
	margin: 20px auto;
}

.mainBtn a,.mainBtn2 a{
	display: inline-block;
	float: left;
	width: 158px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #d5d6db;
	background: #fff;
	border-radius: 3px;
	margin-right: 10px;
}
.mainBtn a.checked,.mainBtn a:hover,.mainBtn2 a.checked,.mainBtn2 a:hover{
	background: #1ca823;
	color: #fff;
	border: 1px solid #1ca823;
}



/*一级筛选 列表*/
.mcList{
	width: 100%;
	height: auto;
	/*height: 600px;*/
	margin: 0 auto;
	display: none;
}
.mcList-title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #1ba923;
	line-height: 30px;
}
.mcList-data{
	width: 100%;
	height: auto;
	/*height: 400px;*/
	margin: 0 auto;
}
.mcList-left{
	width: 500px;
	height: 400px;
	float: left;
}
.mcList-left-Btn{
	width: 165px;
	height: 30px;
	margin: 0 auto;
}
.mcList-left-Btn a{
	display: inline-block;
	float: left;
	width: 68px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #d5d6db;
	background: #fff;
	border-radius: 3px;
	margin-right: 10px;
}
.mcList-left-Btn a.checked,.mcList-left-Btn a:hover{
	background: #1ca823;
	color: #fff;
	border: 1px solid #1ca823;
}
.mcList-left-Btn a.unchecked{
	background: #dfdfdf;
	color: #fff;
	border: 1px solid #d5d6db;
	cursor: default;
}

.mcList-left-table{
	width: 100%;
	margin: 0 auto;
}




/*二级筛选 按钮*/
.mcList-right{
	width: 70px;
	height: 400px;
	float: left;
}
.mcList-right a{
	display: inline-block;
	float: left;
	width: 68px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #d5d6db;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 10px;
}
.mcList-right a.checked,.mcList-right a:hover{
	background: #1ca823;
	color: #fff;
	border: 1px solid #1ca823;
}

/*三级筛选 按钮*/

table.searchExact tr td,table.searchExact2 tr td{
	height: 40px;
}
a.btnsearchExact{
	width: 68px;
	height: 28px;
	border: 1px solid #1ba722;
	background: #1ba722;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	display: inline-block;
}



/*日期控件*/
.time-input{
	width: 187px;
	height: 30px;
	float: left;
	background: #fff;
}
.time-input input,table.searchExact .time-input input{
	width: 145px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	float: left;
	border: 0px;
	padding: 0 30px 0 10px;
	border: 1px solid #d9dadc;
	cursor: pointer;
}
.bg2{
	background: url("../images/icon_date.png") 100% 50% no-repeat;
}
.bg2.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}
.bg2:hover,.bg2.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}



