body {
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei" arial;
}

h1,h2,h3,h4,h5,h6,a,button,div,input,ul,li,img,dl,dt,dd,ol,table,tr,td,progress
	{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	border: 0;
	font-weight: normal;
}

p {
	color: #2d3e50;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 11px
}

p:nth-child(1) {
	font-size: 20px;
	color: #2d3e50;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 10px;
}

div {
	color: #2d3e50;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 11px
}

.brandDetailButton {
	background: url(../img/button_ng_pink.png) no-repeat;
	color: #fff;
	height: 25px;
	width: 80px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	border: 0;
	outline: 0;
	display: inline-block;
}

/*�°汾*/
 .brandDetailButtonv5_6{
    background:url(../img/new/goto_buttion.png) no-repeat;
	color:#fff;
	height:20px;
	width:90px; 
	line-height:25px;
	text-align:center; 
	text-decoration:none;
	font-size:15px;
	font-weight:600;
	border:0;
	outline: 0;
	display:inline-block;
}

 .brandDetailButtong{
    background:url(../img/new/goto_group.png) no-repeat;
	color:#fff;
	height:28px;
	width:90px; 
	line-height:25px;
	text-align:center; 
	text-decoration:none;
	font-size:19px;
	font-weight:600;
	border:0;
	outline: 0;
	display:inline-block;
}


/**
ͶƱ
**/
.clearFix {
	overflow: hidden;
	clear: both;
}

.vote {
	overflow: hidden;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.vote div:first-child {
	margin: 0 5px;
	overflow: hidden;
}

.vote h2 {
	color: #808a94;
	font-size: 14px;
	padding: 8px 0;
}

.vote .vote-datail {
	border: 1px solid #c1cfd9;
	background: #fff;
	margin-bottom: 20px;
}

.vote .vote-datail form {
	display: block;
	padding: 10px 10px 0 10px;
	overflow: hidden;
}

.vote progress.check {
	width: 100%;
	height: 5px;
	border: 0;
	background-color: #e6e6e6;
	color: #f06b75; /*IE10*/
}

.vote progress.check::-moz-progress-bar {
	background: #f06b75;
}

.vote progress.check::-webkit-progress-bar {
	background: #e6e6e6;
}

.vote progress.check::-webkit-progress-value {
	background: #f06b75;
}

.vote progress {
	width: 100%;
	height: 5px;
	border: 0;
	background-color: #e6e6e6;
	color: #f7b5ba; /*IE10*/
}

.vote progress::-moz-progress-bar {
	background: #f7b5ba;
}

.vote progress::-webkit-progress-bar {
	background: #e6e6e6;
}

.vote progress::-webkit-progress-value {
	background: #f7b5ba;
}

.vote ul {
	display: block;
	overflow: hidden;
}

.vote ul li {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-bottom: 6px;
	position: relative;
}

.vote li input {
	display: inline-block;
	float: left;
}

li input[type="radio"] {
	width: 13px;
	height: 13px;
	opacity: 0;
}

.vote li span.radio {
	background: url(../img/radio.png) no-repeat;
	background-position: left -18px;
	background-size: cover;
	width: 16px;
	height: 16px;
	position: absolute;
	display: inline-block;
	left: 0;
	margin-top: 6px;
}

.vote li span.check {
	background: url(../img/radio.png) no-repeat;
	background-position: left top;
	background-size: cover;
	width: 16px;
	height: 16px;
	position: absolute;
	display: inline-block;
	left: 0;
}

.vote .vote-right {
	float: right;
	width: 91%;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mz-box-sizing: border-box;
	-o-box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 0;
}

.vote .vote-right p span {
	position: absolute;
	right: 0;
	font-size: 9px;
}

.vote .vote-right p {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	width: 80%;
	word-break:break-all;
}

.vote .submit-btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	width: 100px;
	height: 35px;
	line-height: 38px;
	background: url(../img/button-1.png) no-repeat;
	background-size: cover;
	font-family: "Microsoft YaHei";
}

.vote .submit-btn-check {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	width: 100px;
	height: 35px;
	line-height: 38px;
	background: url(../img/button-2.png) no-repeat;
	background-size: cover;
	font-family: "Microsoft YaHei";
}

.signature {
	margin: 10px 0;
	overflow: hidden;
}

.signature p.signature-text {
	font-size: 9px;
	color: #808a94;
	line-height: 1.4;
	padding-left: 5px;
	margin: 0;
	border-left: 2px solid #d1dbdc;
	font-weight: normal;
}

.vote-right .progress {
	width: 100%;
	height: 5px;
	background: #e6e6e6;
	position: relative;
	margin-top: 5px;
}

.vote-right .progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	background: #f06b75;
	width: 10%;
	height: 5px;
	margin: 0;
	padding: 0;
}

.vote-right .progress-bar-less {
	background: #f7b5ba;
	position: absolute;
	left: 0;
	top: 0;
	height: 5px;
	margin: 0;
	padding: 0;
}

.vote-num {
	position: absolute;
	right: 0;
	bottom: 10px;
}