<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.va.entity.VirtualAccountDetailEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.va.entity.VirtualAccountDetailEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="sign" property="sign" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="INTEGER" />
    <result column="settlement_account_no" property="settlementAccountNo" jdbcType="VARCHAR" />
    <result column="settlement_account_name" property="settlementAccountName" jdbcType="VARCHAR" />
    <result column="application_no" property="applicationNo" jdbcType="VARCHAR" />
    <result column="payment_id" property="paymentId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="collected_at" property="collectedAt" jdbcType="TIMESTAMP" />
    <result column="is_collected" property="isCollected" jdbcType="BIT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_detail_no" property="orderDetailNo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, amount, sign, item_type, settlement_account_no, settlement_account_name,
    application_no, payment_id, remark, create_at, collected_at, is_collected
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from virtual_account_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from virtual_account_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntityExample" >
    delete from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity" >
    insert into virtual_account_detail (id, user_id, amount,
      sign, item_type, settlement_account_no, 
      settlement_account_name, application_no, payment_id, 
      remark, create_at, collected_at, 
      is_collected)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{sign,jdbcType=INTEGER}, #{itemType,jdbcType=INTEGER}, #{settlementAccountNo,jdbcType=VARCHAR}, 
      #{settlementAccountName,jdbcType=VARCHAR}, #{applicationNo,jdbcType=VARCHAR}, #{paymentId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{collectedAt,jdbcType=TIMESTAMP}, 
      #{isCollected,jdbcType=BIT})
    insert into virtual_account_detail (id, virtual_account_id, amount,
      sign, item_type, settlement_account_no, 
      order_no, order_detail_no, remark, 
      create_at)
    values (#{id,jdbcType=INTEGER}, #{virtualAccountId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{sign,jdbcType=INTEGER}, #{itemType,jdbcType=INTEGER}, #{settlementAccountNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{orderDetailNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity" >
    insert into virtual_account_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
        </if>
      <if test="virtualAccountId != null" >
        virtual_account_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="settlementAccountNo != null" >
        settlement_account_no,
      </if>
      <if test="settlementAccountName != null" >
        settlement_account_name,
      </if>
      <if test="applicationNo != null" >
        application_no,
      </if>
      <if test="paymentId != null" >
        payment_id,
        </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderDetailNo != null" >
        order_detail_no,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="collectedAt != null" >
        collected_at,
      </if>
      <if test="isCollected != null" >
        is_collected,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=INTEGER},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="settlementAccountNo != null" >
        #{settlementAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="settlementAccountName != null" >
        #{settlementAccountName,jdbcType=VARCHAR},
      </if>
      <if test="applicationNo != null" >
        #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=VARCHAR},
        </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDetailNo != null" >
        #{orderDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="collectedAt != null" >
        #{collectedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isCollected != null" >
        #{isCollected,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntityExample" resultType="java.lang.Integer" >
    select count(*) from virtual_account_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update virtual_account_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=INTEGER},
      </if>
      <if test="record.itemType != null" >
        item_type = #{record.itemType,jdbcType=INTEGER},
      </if>
      <if test="record.settlementAccountNo != null" >
        settlement_account_no = #{record.settlementAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.settlementAccountName != null" >
        settlement_account_name = #{record.settlementAccountName,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationNo != null" >
        application_no = #{record.applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentId != null" >
              </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDetailNo != null" >
        order_detail_no = #{record.orderDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.collectedAt != null" >
        collected_at = #{record.collectedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isCollected != null" >
        is_collected = #{record.isCollected,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update virtual_account_detail
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      sign = #{record.sign,jdbcType=INTEGER},
      item_type = #{record.itemType,jdbcType=INTEGER},
      settlement_account_no = #{record.settlementAccountNo,jdbcType=VARCHAR},
      settlement_account_name = #{record.settlementAccountName,jdbcType=VARCHAR},
      application_no = #{record.applicationNo,jdbcType=VARCHAR},
      payment_id = #{record.paymentId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      collected_at = #{record.collectedAt,jdbcType=TIMESTAMP},
      is_collected = #{record.isCollected,jdbcType=BIT}
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      order_detail_no = #{record.orderDetailNo,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity" >
    update virtual_account_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=INTEGER},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="settlementAccountNo != null" >
        settlement_account_no = #{settlementAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="settlementAccountName != null" >
        settlement_account_name = #{settlementAccountName,jdbcType=VARCHAR},
      </if>
      <if test="applicationNo != null" >
        application_no = #{applicationNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null" >
        payment_id = #{paymentId,jdbcType=VARCHAR},
</if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDetailNo != null" >
        order_detail_no = #{orderDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="collectedAt != null" >
        collected_at = #{collectedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isCollected != null" >
        is_collected = #{isCollected,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.va.entity.VirtualAccountDetailEntity" >
    update virtual_account_detail
    set user_id = #{userId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      sign = #{sign,jdbcType=INTEGER},
      item_type = #{itemType,jdbcType=INTEGER},
      settlement_account_no = #{settlementAccountNo,jdbcType=VARCHAR},
      settlement_account_name = #{settlementAccountName,jdbcType=VARCHAR},
      application_no = #{applicationNo,jdbcType=VARCHAR},
      payment_id = #{paymentId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      collected_at = #{collectedAt,jdbcType=TIMESTAMP},
      is_collected = #{isCollected,jdbcType=BIT}
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_detail_no = #{orderDetailNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>