<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:kie="http://drools.org/schema/kie-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://drools.org/schema/kie-spring
        http://drools.org/schema/kie-spring-2.0.0.xsd 
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd" >

	<kie:kmodule id="kmodule">
		<kie:kbase name="kbase" eventProcessingMode="stream"
			packages="rules">
			<kie:ksession name="ksession" type="stateful">
			</kie:ksession>
		</kie:kbase>
	</kie:kmodule>
	
	<bean id="kiePostProcessor" class="org.kie.spring.KModuleBeanFactoryPostProcessor"/>
	
	<context:component-scan base-package="com.rongyi.osm.mq" />
	<context:component-scan base-package="com.rongyi.osm.knowledge" />
	<context:component-scan base-package="com.rongyi.osm.listener" />
</beans>