<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="${catalina.home}/logs" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{logid}] [%file:%line] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="bizz"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/easy-rpb-info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>300</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{logid}] [%file:%line] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="error"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/easy-rpb-error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>300</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{logid}] [%file:%line] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.rongyi.trade">
        <level value="INFO" />
        <appender-ref ref="bizz" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="bizz" />
        <appender-ref ref="error" />
    </root>

</configuration>