<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.rpb.mapper.UnionCouponLogMapper">
	<resultMap id="BaseResultMap"
		type="com.rongyi.easy.rpb.entity.UnionCouponLogEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="msg_type" property="msgType" jdbcType="VARCHAR" />
		<result column="msg_txn_code" property="msgTxnCode" jdbcType="VARCHAR" />
		<result column="msg_crrltn_id" property="msgCrrltnId" jdbcType="VARCHAR" />
		<result column="msg_sender" property="msgSender" jdbcType="VARCHAR" />
		<result column="msg_time" property="msgTime" jdbcType="TIMESTAMP" />
		<result column="msg_sys_sn" property="msgSysSn" jdbcType="VARCHAR" />
		<result column="msg_ver" property="msgVer" jdbcType="VARCHAR" />
		<result column="req_serial_no" property="reqSerialNo" jdbcType="VARCHAR" />
		<result column="two_req_serial_no" property="twoReqSerialNo"
			jdbcType="VARCHAR" />
		<result column="shop_no" property="shopNo" jdbcType="VARCHAR" />
		<result column="term_no" property="termNo" jdbcType="VARCHAR" />
		<result column="coupon_no" property="couponNo" jdbcType="VARCHAR" />
		<result column="pay_no" property="payNo" jdbcType="VARCHAR" />
		<result column="term_sp_chnl_no" property="termSpChnlNo"
			jdbcType="VARCHAR" />
		<result column="trans_crrltn_no" property="transCrrltnNo"
			jdbcType="VARCHAR" />
		<result column="orig_amt" property="origAmt" jdbcType="DOUBLE" />
		<result column="avl_amt" property="avlAmt" jdbcType="DOUBLE" />
		<result column="pay_mode" property="payMode" jdbcType="INTEGER" />
		<result column="enc_card_no" property="encCardNo" jdbcType="VARCHAR" />
		<result column="part_card_no" property="partCardNo" jdbcType="VARCHAR" />
		<result column="sp_pwd" property="spPwd" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, msg_type, msg_txn_code, msg_crrltn_id, msg_sender, msg_time,
		msg_sys_sn, msg_ver,
		req_serial_no, two_req_serial_no, shop_no, term_no, coupon_no,pay_no,
		term_sp_chnl_no, trans_crrltn_no,
		orig_amt, avl_amt, pay_mode, enc_card_no, part_card_no, sp_pwd, sign
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from union_coupon_log
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from union_coupon_log
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.rongyi.easy.rpb.entity.UnionCouponLogEntity"
		useGeneratedKeys="true" keyProperty="id">
		insert into union_coupon_log (msg_type, msg_txn_code, msg_crrltn_id,
		msg_sender, msg_time, msg_sys_sn,
		msg_ver, req_serial_no, two_req_serial_no,
		shop_no, term_no, coupon_no,pay_no,
		term_sp_chnl_no, trans_crrltn_no, orig_amt,
		avl_amt, pay_mode, enc_card_no,
		part_card_no, sp_pwd, sign
		)
		values (#{msgType,jdbcType=VARCHAR}, #{msgTxnCode,jdbcType=VARCHAR},
		#{msgCrrltnId,jdbcType=VARCHAR},
		#{msgSender,jdbcType=VARCHAR}, #{msgTime,jdbcType=TIMESTAMP}, #{msgSysSn,jdbcType=VARCHAR},
		#{msgVer,jdbcType=VARCHAR}, #{reqSerialNo,jdbcType=VARCHAR},
		#{twoReqSerialNo,jdbcType=VARCHAR},
		#{shopNo,jdbcType=VARCHAR}, #{termNo,jdbcType=VARCHAR}, #{couponNo,jdbcType=VARCHAR},
		#{payNo,jdbcType=VARCHAR},
		#{termSpChnlNo,jdbcType=VARCHAR}, #{transCrrltnNo,jdbcType=VARCHAR}, #{origAmt,jdbcType=DOUBLE},
		#{avlAmt,jdbcType=DOUBLE}, #{payMode,jdbcType=INTEGER},
		#{encCardNo,jdbcType=VARCHAR},
		#{partCardNo,jdbcType=VARCHAR}, #{spPwd,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.rongyi.easy.rpb.entity.UnionCouponLogEntity"
		useGeneratedKeys="true" keyProperty="id">
		insert into union_coupon_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			msg_type,
			msg_txn_code,
			msg_crrltn_id,
			msg_sender,
			msg_time,
			msg_sys_sn,
			msg_ver,
			req_serial_no,
			two_req_serial_no,
			shop_no,
			term_no,
			coupon_no,
			pay_no,
			term_sp_chnl_no,
			trans_crrltn_no,
			orig_amt,
			avl_amt,
			pay_mode,
			enc_card_no,
			part_card_no,
			sp_pwd,
			sign,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{msgType,jdbcType=VARCHAR},
			#{msgTxnCode,jdbcType=VARCHAR},
			#{msgCrrltnId,jdbcType=VARCHAR},
			#{msgSender,jdbcType=VARCHAR},
			#{msgTime,jdbcType=TIMESTAMP},
			#{msgSysSn,jdbcType=VARCHAR},
			#{msgVer,jdbcType=VARCHAR},
			#{reqSerialNo,jdbcType=VARCHAR},
			#{twoReqSerialNo,jdbcType=VARCHAR},
			#{shopNo,jdbcType=VARCHAR},
			#{termNo,jdbcType=VARCHAR},
			#{couponNo,jdbcType=VARCHAR},
			#{payNo,jdbcType=VARCHAR},
			#{termSpChnlNo,jdbcType=VARCHAR},
			#{transCrrltnNo,jdbcType=VARCHAR},
			#{origAmt,jdbcType=DOUBLE},
			#{avlAmt,jdbcType=DOUBLE},
			#{payMode,jdbcType=INTEGER},
			#{encCardNo,jdbcType=VARCHAR},
			#{partCardNo,jdbcType=VARCHAR},
			#{spPwd,jdbcType=VARCHAR},
			#{sign,jdbcType=VARCHAR},
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.rpb.entity.UnionCouponLogEntity">
		update union_coupon_log
		<set>
			<if test="msgType != null">
				msg_type = #{msgType,jdbcType=VARCHAR},
			</if>
			<if test="msgTxnCode != null">
				msg_txn_code = #{msgTxnCode,jdbcType=VARCHAR},
			</if>
			<if test="msgCrrltnId != null">
				msg_crrltn_id = #{msgCrrltnId,jdbcType=VARCHAR},
			</if>
			<if test="msgSender != null">
				msg_sender = #{msgSender,jdbcType=VARCHAR},
			</if>
			<if test="msgTime != null">
				msg_time = #{msgTime,jdbcType=TIMESTAMP},
			</if>
			<if test="msgSysSn != null">
				msg_sys_sn = #{msgSysSn,jdbcType=VARCHAR},
			</if>
			<if test="msgVer != null">
				msg_ver = #{msgVer,jdbcType=VARCHAR},
			</if>
			<if test="reqSerialNo != null">
				req_serial_no = #{reqSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="twoReqSerialNo != null">
				two_req_serial_no = #{twoReqSerialNo,jdbcType=VARCHAR},
			</if>
			<if test="shopNo != null">
				shop_no = #{shopNo,jdbcType=VARCHAR},
			</if>
			<if test="termNo != null">
				term_no = #{termNo,jdbcType=VARCHAR},
			</if>
			<if test="couponNo != null">
				coupon_no = #{couponNo,jdbcType=VARCHAR},
			</if>
			<if test="payNo != null">
				pay_no = #{payNo,jdbcType=VARCHAR},
			</if>
			<if test="termSpChnlNo != null">
				term_sp_chnl_no = #{termSpChnlNo,jdbcType=VARCHAR},
			</if>
			<if test="transCrrltnNo != null">
				trans_crrltn_no = #{transCrrltnNo,jdbcType=VARCHAR},
			</if>
			<if test="origAmt != null">
				orig_amt = #{origAmt,jdbcType=DOUBLE},
			</if>
			<if test="avlAmt != null">
				avl_amt = #{avlAmt,jdbcType=DOUBLE},
			</if>
			<if test="payMode != null">
				pay_mode = #{payMode,jdbcType=INTEGER},
			</if>
			<if test="encCardNo != null">
				enc_card_no = #{encCardNo,jdbcType=VARCHAR},
			</if>
			<if test="partCardNo != null">
				part_card_no = #{partCardNo,jdbcType=VARCHAR},
			</if>
			<if test="spPwd != null">
				sp_pwd = #{spPwd,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				sign = #{sign,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rongyi.easy.rpb.entity.UnionCouponLogEntity">
		update union_coupon_log
		set msg_type = #{msgType,jdbcType=VARCHAR},
		msg_txn_code = #{msgTxnCode,jdbcType=VARCHAR},
		msg_crrltn_id = #{msgCrrltnId,jdbcType=VARCHAR},
		msg_sender = #{msgSender,jdbcType=VARCHAR},
		msg_time = #{msgTime,jdbcType=TIMESTAMP},
		msg_sys_sn = #{msgSysSn,jdbcType=VARCHAR},
		msg_ver = #{msgVer,jdbcType=VARCHAR},
		req_serial_no = #{reqSerialNo,jdbcType=VARCHAR},
		two_req_serial_no = #{twoReqSerialNo,jdbcType=VARCHAR},
		shop_no = #{shopNo,jdbcType=VARCHAR},
		term_no = #{termNo,jdbcType=VARCHAR},
		coupon_no = #{couponNo,jdbcType=VARCHAR},
		pay_no = #{payNo,jdbcType=VARCHAR},
		term_sp_chnl_no = #{termSpChnlNo,jdbcType=VARCHAR},
		trans_crrltn_no = #{transCrrltnNo,jdbcType=VARCHAR},
		orig_amt = #{origAmt,jdbcType=DOUBLE},
		avl_amt = #{avlAmt,jdbcType=DOUBLE},
		pay_mode = #{payMode,jdbcType=INTEGER},
		enc_card_no = #{encCardNo,jdbcType=VARCHAR},
		part_card_no = #{partCardNo,jdbcType=VARCHAR},
		sp_pwd = #{spPwd,jdbcType=VARCHAR},
		sign = #{sign,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByMsgtxCodeAndTransNo" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from union_coupon_log
		where msg_txn_code = #{msgTxnCode,jdbcType=VARCHAR}
		and trans_crrltn_no = #{transCrrltnNo,jdbcType=VARCHAR}
	</select>
</mapper>