@charset "utf-8";
*{ margin:0px; padding:0px;}
html,body{ width:100%; height:100%; font-size:12px; color:#2d2d2d; font-family:"microsoft YaHei","宋体",Arial; background: #e7e8eb;}
a{ color:#2d2d2d; text-decoration:none;cursor:pointer;}
a:hover{ color:#cf0000; text-decoration:none}
img,a img{ border:0px;}
ul{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
ul li{ list-style:none; overflow:hidden; margin:0px; padding:0px;}
form{ margin:0; padding:0; list-style:none}
.clear{ width:100%; height:0px; line-height:0px; clear:both}


.lvse{
	color: #44b549;
}
.huise{
	color: #d9dadc;
}
.huise2{
	color: #898989;
}


/*公用绿色按钮*/
a.Button{
	width: 155px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
a.Button.checked{
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
}

/*公用绿色按钮end*/
.page{
	padding: 20px 20px;
	height: 30px;
} 
.page span{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	float: right;
	margin-left: 10px;
}
.page input{
	width: 60px;
	height: 28px;
	border: 1px solid #d9dadc;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 3px;
	float: right;
	margin-left: 10px;
}
a.page,a.icon-page,a.icon-page-left{
	height: 28px;
	border: 1px solid #d9dadc;
	line-height: 28px;
	padding: 0 10px;
	border-radius: 3px;
	text-align: center;
	float: right;
	display: inline-block;
	margin-left: 10px;
}
a.icon-page{
	padding: 0 15px;
	background: url("../images/icon_page.png") 50% 50% no-repeat #e7e8eb;
}
a.icon-page-left{
	padding: 0 15px;
	background: url("../images/icon_page_left.png") 50% 50% no-repeat #e7e8eb;
}

.shopsButton{
	width: 360px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
}
.shopsButton_w_160{
	width: 160px;
}
.shopsButton_w_100{
	width: 100%;
}
.shopsButton_w_100 a.Button{
	width: 131px;
}	
.shopsButton_w_100 a:last-child{
	margin-right: 0px;
	float: right;
}


/*首页----top.html*/
.top{
	/*width: 100%;*/
	padding: 0 20px;
	height: 60px;
	min-width: 1024px;
	border-top: 2px solid #44b549;
	border-bottom: 1px solid #d9dadc;
	background: #fff;
}
.topH{
	margin-bottom: 40px;
}
.top-main{
	width: 1198px;
	min-width: 1004px;
	margin: 0 auto;
}
.top-left{
	width: 500px;
	height: 60px;
	float: left;	
}
.top-left .logo{
	width: 50px;
	height: 50px;
	float: left;
	margin: 3px 6px 0 0;
	background: url("../images/logo.png") no-repeat;
}
.top-left span{
	display: inline-block;
	float: left;
	font-size: 22px;
	line-height: 60px;
	color: #676767;
}
.top-right{
	width: 300px;
	height: 40px;
	padding: 10px 0;
	float: right;
}
.top-right span{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: right;	
}

/*首页----left.html*/
.left{
	width: 210px;
	height: 100%;
	/*border:1px solid #d9dadc;*/
	background: #fff;
}
/*树状dtree*/
div#tree {
	/*position: absolute;*/
	height: 100%;
	width: 100%;
}
#tree ul{
	width: 100%;
	padding: 0px;
	margin:0px;
}
#tree ul li{
	width: 100%;
	padding: 0px;
}
span.titletop{
	font-size: 14px;
	color: #1ca823;
	font-weight: bold;
}

span.fancytree-node{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-indent: 20px;
	font-size: 14px;
	border-bottom:1px solid #d9dadc;
	position: relative;
	display: block;
}
span.fancytree-node:hover{
	background: #ececed;
	border-bottom:1px solid #d9dadc;
	display: block;
}
span.fancytree-expander{
	position: absolute;
	top: 25px;
	left: 125px;		
}
.fancytree-exp-c span.fancytree-expander:hover{
	background-position: 0px;
}
span.fancytree-empty, span.fancytree-vline, span.fancytree-expander, span.fancytree-icon, span.fancytree-checkbox, span.fancytree-radio, span.fancytree-drag-helper-img, #fancytree-drop-marker{
	background: url("icons.gif") ;
	width: 13px;
	height: 10px;
	background-position: 0px;
}
span.fancytree-empty:hover, span.fancytree-vline:hover, span.fancytree-expander:hover, span.fancytree-icon:hover, span.fancytree-checkbox:hover, span.fancytree-radio:hover, span.fancytree-drag-helper-img:hover, #fancytree-drop-marker:hover{
	background: url("icons.gif") ;
	width: 13px;
	height: 10px;
	background-position: 0px;
}
.fancytree-exp-e span.fancytree-expander, .fancytree-exp-ed span.fancytree-expander{
	background-position: 0px;
}
.fancytree-exp-e span.fancytree-expander:hover, .fancytree-exp-ed span.fancytree-expander:hover{
	background-position: 0px;
}
span.fancytree-icon{
	display: none;
}

ul.fancytree-container {
	/*height: 100%;*/
	/*width: 100%;*/
}
span.fancytree-node.fancytree-active, span.fancytree-node.fancytree-selected{
	/*border:1px solid #d9dadc;*/
	background:#fff;
}
.fancytree-ico-c{
	background: #f5f5f7;
}
span.external span.fancytree-title:after {
	
	background: #fff;
	padding-right: 13px;
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active, .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, span.fancytree-node.fancytree-active:hover, span.fancytree-node.fancytree-selected:hover{
	background: #fff;
	border-color:#d9dadc;
}






/*会员设置 超级管理员 start*/
.memSuper{
	min-width: 1004px;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.memSuper-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}

.memSuper-main{
	margin: 20px 30px 0 30px;
	height: auto;
	overflow: auto;
}
.memSuper-search{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
.memSuper-search span{
	display: inline-block;
	float: left;
	line-height: 30px;
	width: 70px;
}
.memSuper-search span.span1{
	width: auto;
	padding-right: 5px;
}
.memSuper-search input{
	width: 180px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.memSuper-search input.max{
	width: 300px;
}
.memSuper-search a{
	display: inline-block;
	float: left;
	line-height: 30px;
	padding-right: 20px;
}
a.btnsearch{
	display: inline-block;
	float: left;
	line-height: 30px;
	width: 70px;
	height: 30px;
	background: #1ca823;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 0px;
}
.c-green{
	color: #1ca823;
	text-decoration: underline;
}
.memSuper-search-exact{
	width: 100%;
}
.memSuper-search-exact-title{
	padding: 0 15px 0 20px;
	height: 40px;
	background: #f4f5f9;
	border: 1px solid #e7e6eb;
}
.memSuper-search-exact-title span{
	display: inline-block;
	float: left;
	margin-right: 15px;
	line-height: 40px;
}
.memSuper-search-exact-title a{
	width: 20px;
	height: 20px;
	background: url(../images/icon_1.png) 50% 50% no-repeat;
	display: inline-block;
	float: right;
	line-height: 40px;
	cursor: pointer;
	margin-top: 10px;
}
.memSuper-search-exact-title a.bg{
	background: url(../images/icon_up.png) 50% 50% no-repeat;

}
.memSuper-search-exact-main{
	padding: 15px;
	height: auto;
	overflow: auto;
	background: #fff;
	border: 1px solid #e7e6eb;
	border-top: 0px;
	display: none;
}
table.searchExact tr td{
	height: 40px;
	font-size: 12px;
}
table.searchExact input{
	height: 28px;
	padding: 0 10px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
}
table.searchExact input.max{
	width: 170px;
}
table.searchExact input.max2{
	width: 190px;
}
table.searchExact input.min{
	width: 65px;
}
a.btnsearchExact{
	width: 95px;
	height: 30px;
	background: #1ba722;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}
.memSuper-list{
	width: 100%;
}
table.memSupertable{
	margin: 20px 0 0 0;
	border: 1px solid #d9dadc;
	border-bottom: 0px;	
}
table.memSupertable tr td{
	height: 70px;
	padding: 10px 0;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
	word-break: break-all;
	font-size:12px;	
}
table.memSupertable tr:first-child td{
	height: 40px;
	background: #f4f5f9;
	padding: 10px 0;
	text-align: left;
	padding-left: 20px;
	border-bottom: 1px solid #d9dadc;
}

/*日期控件*/
.date-input{
	width: 192px;
	height: 30px;
	float: left;
	background: #fff;
}
.date-input input{
	width: 170px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	float: left;
	border: 0px;
	padding: 0 30px 0 10px;
	border: 1px solid #d9dadc;
	cursor: pointer;
}
.date-input input.bg{
	background: url("../images/icon_date.png") 100% 50% no-repeat;
}
.date-input input.bg.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}
.date-input input.bg:hover,.date-input input.bg.checked{
	background: url("../images/icon_date2.png") 100% 50% no-repeat;
}

.memDetail-min-width{
	width: 1198px;
	margin: 0 auto;
}
.memDetail{
	min-width: 1004px;
	min-height: 100%;
	background: #fff;
	padding-bottom: 20px;
}
.memDetail-title{
	margin: 0 30px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d9dadc;
	font-size: 14px;
}
.memDetail-main{
	margin: 0 30px;
	height: auto;
	overflow: auto;
	padding: 20px 0px;
}
.memDetail-main-left{
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}
.memDetail-main-right{
	width: 50%;
	height: auto;
	overflow: auto;
	float: right;
}

.memDetail-main-left p,.memDetail-main-right p{
	width: 100%;
	color: #1ca823;
	line-height: 30px;
	font-size: 14px;
}
.memDetail-main-left ul{
	width: 100%;
}
.memDetail-main-left ul li{
	float: left;
	height: 30px;
	line-height: 30px;
	color: #222222;
	margin-top: 20px;
}
.memDetail-main-left ul li.name{
	width: 60px;
}
.memDetail-main-left ul li.bar{
	width: 30px;
	text-align: center;
}
.memDetail-main-left ul li.data{
	width: 84%;
}





/*会员设置 超级管理员 end*/



