<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.settle.mapper.xml.BussinessMapper">
	<resultMap id="BaseResultMap" type="com.rongyi.easy.settle.entity.BussinessInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="config_id" property="configId" jdbcType="INTEGER" />
		<result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
		<result column="pay_name" property="payName" jdbcType="VARCHAR" />
		<result column="blank_name" property="blankName" jdbcType="VARCHAR" />
		<result column="blank_address" property="blankAddress"
			jdbcType="VARCHAR" />
		<result column="biz_address" property="bussinessAddress"
			jdbcType="VARCHAR" />
		<result column="biz_email" property="bussinessEmail"
			jdbcType="VARCHAR" />
		<result column="biz_account" property="bussinessAccount"
			jdbcType="VARCHAR" />
		<result column="contact_name" property="contactName" jdbcType="VARCHAR" />
		<result column="contact_phone" property="contactPhone"
			jdbcType="VARCHAR" />
		<result column="contact_weixin" property="contactWeixin"
			jdbcType="VARCHAR" />
		<result column="contact_qq" property="contactQq" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, config_id, pay_account, pay_name, blank_name, blank_address,
		biz_address,
		biz_email, biz_account, contact_name, contact_phone, contact_weixin,
		contact_qq, create_at, is_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from biz_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from biz_info
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.rongyi.easy.settle.entity.BussinessInfo"
		useGeneratedKeys="true" keyProperty="id">
		insert into biz_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			config_id,
			pay_account,
			pay_name,
			blank_name,
			blank_address,
			biz_address,
			biz_email,
			biz_account,
			contact_name,
			contact_phone,
			contact_weixin,
			contact_qq,
			create_at,
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{configId,jdbcType=INTEGER},
			#{payAccount,jdbcType=VARCHAR},
			#{payName,jdbcType=VARCHAR},
			#{blankName,jdbcType=VARCHAR},
			#{blankAddress,jdbcType=VARCHAR},
			#{bussinessAddress,jdbcType=VARCHAR},
			#{bussinessEmail,jdbcType=VARCHAR},
			#{bussinessAccount,jdbcType=VARCHAR},
			#{contactName,jdbcType=VARCHAR},
			#{contactPhone,jdbcType=VARCHAR},
			#{contactWeixin,jdbcType=VARCHAR},
			#{contactQq,jdbcType=VARCHAR},
			#{createAt,jdbcType=TIMESTAMP},
			<if test="isDelete != null">
				#{isDelete,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.rongyi.easy.settle.entity.BussinessInfo">
		update biz_info
		<set>
			<if test="configId != null">
				config_id = #{configId,jdbcType=INTEGER},
			</if>
			<if test="payAccount != null">
				pay_account = #{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="payName != null">
				pay_name = #{payName,jdbcType=VARCHAR},
			</if>
			<if test="blankName != null">
				blank_name = #{blankName,jdbcType=VARCHAR},
			</if>
			<if test="blankAddress != null">
				blank_address = #{blankAddress,jdbcType=VARCHAR},
			</if>
			<if test="bussinessAddress != null">
				biz_address = #{bussinessAddress,jdbcType=VARCHAR},
			</if>
			<if test="bussinessEmail != null">
				biz_email = #{bussinessEmail,jdbcType=VARCHAR},
			</if>
			<if test="bussinessAccount != null">
				biz_account = #{bussinessAccount,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				contact_name = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactPhone != null">
				contact_phone = #{contactPhone,jdbcType=VARCHAR},
			</if>
			<if test="contactWeixin != null">
				contact_weixin = #{contactWeixin,jdbcType=VARCHAR},
			</if>
			<if test="contactQq != null">
				contact_qq = #{contactQq,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByConfigId" parameterType="com.rongyi.easy.settle.entity.BussinessInfo">
		update biz_info
		<set>
			<if test="configId != null">
				config_id = #{configId,jdbcType=INTEGER},
			</if>
			<if test="payAccount != null">
				pay_account = #{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="payName != null">
				pay_name = #{payName,jdbcType=VARCHAR},
			</if>
			<if test="blankName != null">
				blank_name = #{blankName,jdbcType=VARCHAR},
			</if>
			<if test="blankAddress != null">
				blank_address = #{blankAddress,jdbcType=VARCHAR},
			</if>
			<if test="bussinessAddress != null">
				biz_address = #{bussinessAddress,jdbcType=VARCHAR},
			</if>
			<if test="bussinessEmail != null">
				biz_email = #{bussinessEmail,jdbcType=VARCHAR},
			</if>
			<if test="bussinessAccount != null">
				biz_account = #{bussinessAccount,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				contact_name = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactPhone != null">
				contact_phone = #{contactPhone,jdbcType=VARCHAR},
			</if>
			<if test="contactWeixin != null">
				contact_weixin = #{contactWeixin,jdbcType=VARCHAR},
			</if>
			<if test="contactQq != null">
				contact_qq = #{contactQq,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=TINYINT},
			</if>
		</set>
		where config_id = #{configId,jdbcType=INTEGER}
	</update>
		<select id="selectByConfigId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from biz_info
		where config_id = #{configId,jdbcType=INTEGER}
	</select>
	</mapper>
