<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.settle.mapper.SmDivideAccountMapper">
	<resultMap id="BaseResultMap" type="com.rongyi.easy.settle.entity.SmDivideAccount">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="mall_id" property="mallId" jdbcType="INTEGER" />
		<result column="bill_date" property="billDate" jdbcType="DATE" />
		<result column="bill_batch_no" property="billBatchNo" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" jdbcType="INTEGER" />
		<result column="unit_num" property="unitNum" jdbcType="INTEGER" />
		<result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
		<result column="rebate_amount" property="rebateAmount" jdbcType="INTEGER" />
		<result column="mall_point" property="mallPoint" jdbcType="INTEGER" />
		<result column="settle_amount" property="settleAmount" jdbcType="INTEGER" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
		<result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="TINYINT" />
	</resultMap>
	<resultMap id="VoResultMap" type="com.rongyi.settle.vo.DivideAccountVo" extends="BaseResultMap">
		<result column="orderId" property="orderId" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="subOrderId" property="subOrderId" jdbcType="INTEGER" />
		<result column="unit_price" property="unitPrice" jdbcType="INTEGER" />
		<result column="unit_count" property="unitCount" jdbcType="INTEGER" />
		<result column="total_amount" property="totalAmount" jdbcType="INTEGER" />
		<result column="coupon_id" property="couponId" jdbcType="VARCHAR" />
		<result column="mall_id" property="mallId" jdbcType="VARCHAR" />
		<result column="shop_id" property="shopId" jdbcType="VARCHAR" />
		<result column="mallMid" property="mallMid" jdbcType="VARCHAR" />
		<result column="shopMid" property="shopMid" jdbcType="VARCHAR" />
		<result column="orderType" property="orderType" jdbcType="VARCHAR" />
		<result column="totalAmount" property="totalAmount" jdbcType="VARCHAR" />
		<result column="totalQuantity" property="totalQuantity" jdbcType="Integer" />
	</resultMap>

	<sql id="Base_Column_List">
		id, mall_id, bill_date, bill_batch_no, order_num, unit_num, pay_amount, rebate_amount,
		mall_point,
		settle_amount, create_by, update_by, create_at, update_at, is_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sm_divide_account
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sm_divide_account
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.rongyi.easy.rpb.entity.SmDivideAccount">
		insert into sm_divide_account (id, mall_id, bill_date,
		bill_batch_no,
		order_num, unit_num,
		pay_amount, rebate_amount, mall_point,
		settle_amount, create_by, update_by,
		create_at, update_at,
		is_delete
		)
		values (#{id,jdbcType=INTEGER}, #{mallId,jdbcType=INTEGER}, #{billDate,jdbcType=DATE},
		#{billBatchNo,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{unitNum,jdbcType=INTEGER},
		#{payAmount,jdbcType=INTEGER}, #{rebateAmount,jdbcType=INTEGER}, #{mallPoint,jdbcType=INTEGER},
		#{settleAmount,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
		#{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.rongyi.easy.rpb.entity.SmDivideAccount">
		insert into sm_divide_account
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mallId != null">
				mall_id,
			</if>
			<if test="billDate != null">
				bill_date,
			</if>
			<if test="billBatchNo != null">
				bill_batch_no,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="unitNum != null">
				unit_num,
			</if>
			<if test="payAmount != null">
				pay_amount,
			</if>
			<if test="rebateAmount != null">
				rebate_amount,
			</if>
			<if test="mallPoint != null">
				mall_point,
			</if>
			<if test="settleAmount != null">
				settle_amount,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mallId != null">
				#{mallId,jdbcType=INTEGER},
			</if>
			<if test="billDate != null">
				#{billDate,jdbcType=DATE},
			</if>
			<if test="billBatchNo != null">
				#{billBatchNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNum != null">
				#{orderNum,jdbcType=INTEGER},
			</if>
			<if test="unitNum != null">
				#{unitNum,jdbcType=INTEGER},
			</if>
			<if test="payAmount != null">
				#{payAmount,jdbcType=INTEGER},
			</if>
			<if test="rebateAmount != null">
				#{rebateAmount,jdbcType=INTEGER},
			</if>
			<if test="mallPoint != null">
				#{mallPoint,jdbcType=INTEGER},
			</if>
			<if test="settleAmount != null">
				#{settleAmount,jdbcType=INTEGER},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateAt != null">
				#{updateAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.rpb.entity.SmDivideAccount">
		update sm_divide_account
		<set>
			<if test="mallId != null">
				mall_id = #{mallId,jdbcType=INTEGER},
			</if>
			<if test="billDate != null">
				bill_date = #{billDate,jdbcType=DATE},
			</if>
			<if test="billBatchNo != null">
				bill_batch_no = #{billBatchNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum,jdbcType=INTEGER},
			</if>
			<if test="unitNum != null">
				unit_num = #{unitNum,jdbcType=INTEGER},
			</if>
			<if test="payAmount != null">
				pay_amount = #{payAmount,jdbcType=INTEGER},
			</if>
			<if test="rebateAmount != null">
				rebate_amount = #{rebateAmount,jdbcType=INTEGER},
			</if>
			<if test="mallPoint != null">
				mall_point = #{mallPoint,jdbcType=INTEGER},
			</if>
			<if test="settleAmount != null">
				settle_amount = #{settleAmount,jdbcType=INTEGER},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rongyi.easy.rpb.entity.SmDivideAccount">
		update sm_divide_account
		set mall_id = #{mallId,jdbcType=INTEGER},
		bill_date = #{billDate,jdbcType=DATE},
		bill_batch_no = #{billBatchNo,jdbcType=VARCHAR},
		order_num =
		#{orderNum,jdbcType=INTEGER},
		unit_num = #{unitNum,jdbcType=INTEGER},
		pay_amount = #{payAmount,jdbcType=INTEGER},
		rebate_amount = #{rebateAmount,jdbcType=INTEGER},
		mall_point = #{mallPoint,jdbcType=INTEGER},
		settle_amount =
		#{settleAmount,jdbcType=INTEGER},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_by = #{updateBy,jdbcType=VARCHAR},
		create_at = #{createAt,jdbcType=TIMESTAMP},
		update_at = #{updateAt,jdbcType=TIMESTAMP},
		is_delete =
		#{isDelete,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<!-- 分页查询分账记录 -->
	<select id="findPageList" parameterType="com.rongyi.easy.rpb.dto.DivideAccountDto" resultMap="VoResultMap">
		select
		<include refid="Base_Column_List" />
		from
		sm_divide_account
		where is_delete = 0
		<if test="orderby == null">
			order by create_at desc
		</if>
		<if test="currentPage != null">
			limit
			#{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>

	<!-- 查询商品订单 -->
	<select id="findProductOrderList" parameterType="com.rongyi.easy.rpb.dto.DivideAccountDto" resultMap="VoResultMap">
		SELECT
		of.id,
		of.order_no,
		of.weidian_id shop_id,
		of.total_amount,
		sum(odf.quantity) totalQuantity,
		1 orderType
		FROM
		ry_osm.order_form of
		INNER JOIN ry_osm.order_event oe ON of.order_no = oe.order_no
		AND oe.type = 19
		INNER JOIN ry_osm.order_detail_form
		odf ON of.order_no = odf.order_no
		WHERE
		of.order_source IN (0, 2)
		AND oe.create_at >= #{accountDate} - 1
		AND oe.create_at <![CDATA[ < ]]>
		#{accountDate}
		And EXISTS (select 1 from weixin_mch wm where of.weixin_app_id = wm.app_id And wm.is_rongyi_pay = 0)
		GROUP BY
		of.id,
		of.order_no
		ORDER BY
		oe.create_at DESC
	</select>

	<!-- 查询卡券订单 -->
	<select id="findTradeOrderList" parameterType="com.rongyi.easy.rpb.dto.DivideAccountDto" resultMap="VoResultMap">
		SELECT
		tor.id orderId,
		tor.order_no,
		tso.id subOrderId,
		tso.unit_price,
		tso.unit_count,
		tuo.coupon_id,
		tuo.mall_id mallMid,
		tuo.shop_id shopMid,
		2 orderType
		FROM
		ry_trade.trade_order tor
		INNER JOIN ry_trade.trade_sub_order tso ON tor.order_no = tso.order_no
		INNER JOIN ry_trade.trade_user_code tuo ON
		tor.id = tuo.order_id
		AND tso.id = tuo.sub_order_id
		WHERE
		tor.source IN (1, 2)
		AND tuo.STATUS = 2
		AND tuo.use_time >= #{accountDate} - 1
		AND tuo.use_time <![CDATA[ < ]]>
		#{accountDate}
		AND TRIM(tuo.shop_id) != ""
		And EXISTS (select 1 from weixin_mch wm where tor.weixin_app_id = wm.app_id
		And wm.is_rongyi_pay = 0)
		ORDER BY
		tuo.use_time DESC
	</select>
</mapper>