<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.settle.mapper.StatementConfigMapper">
    <resultMap id="BaseResultMap" type="com.rongyi.easy.settle.vo.StatementConfigVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="cooperate_type" property="cooperateType"
                jdbcType="TINYINT"/>
        <result column="biz_id" property="bussinessId" jdbcType="VARCHAR"/>
        <result column="biz_type" property="bussinessType" jdbcType="TINYINT"/>
        <result column="biz_code" property="bussinessCode" jdbcType="VARCHAR"/>
        <result column="biz_name" property="bussinessName" jdbcType="VARCHAR"/>
        <result column="biz_real_address" property="bussinessRealAddress"
                jdbcType="VARCHAR"/>
        <result column="link_shop_op" property="linkShopOp" jdbcType="TINYINT"/>
        <result column="link_role" property="linkRole" jdbcType="TINYINT"/>
        <result column="link_type" property="linkType" jdbcType="TINYINT"/>
        <result column="count_cycle" property="countCycle" jdbcType="TINYINT"/>
        <result column="cycle_start_time" property="cycleStartTime"
                jdbcType="TIMESTAMP"/>
        <result column="cycle_end_time" property="cycleEndTime"
                jdbcType="TIMESTAMP"/>
        <result column="cycle_day" property="cycleDay" jdbcType="TINYINT" />
        <result column="cycle_regular_day" property="cycleRegularDay" jdbcType="VARCHAR" />
        <result column="is_loop" property="isLoop" jdbcType="TINYINT"/>
        <result column="verify_type" property="verifyType" jdbcType="TINYINT"/>
        <result column="gen_header_time" property="generateHeaderTime"
                jdbcType="VARCHAR"/>
        <result column="gen_hm_time" property="generateHmTime"
                jdbcType="VARCHAR"/>
        <result column="send_time" property="sendTime" jdbcType="TIME"/>
        <result column="datum_type" property="datumType" jdbcType="TINYINT"/>
        <result column="pay_mode" property="payMode" jdbcType="TINYINT"/>
        <result column="regular_day" property="regularDay" jdbcType="VARCHAR"/>
        <result column="roll_day" property="rollDay" jdbcType="VARCHAR"/>
        <result column="roll_type" property="rollType" jdbcType="TINYINT"/>
        <result column="effect_start_time" property="effectStartTime"
                jdbcType="TIMESTAMP"/>
        <result column="effect_end_time" property="effectEndTime"
                jdbcType="TIMESTAMP"/>
        <result column="pay_channel" property="payChannel" jdbcType="TINYINT"/>
        <result column="contract_no" property="contractNo" jdbcType="VARCHAR"/>
        <result column="link_rule_code" property="linkedRuleCode"
                jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="pay_account" property="payAccount" jdbcType="VARCHAR"/>
        <result column="generate_time" property="generateTime"
                jdbcType="VARCHAR"/>
        <result column="pay_name" property="payName" jdbcType="VARCHAR"/>
        <result column="blank_name" property="blankName" jdbcType="VARCHAR"/>
        <result column="blank_address" property="blankAddress"
                jdbcType="VARCHAR"/>
        <result column="biz_address" property="bussinessAddress"
                jdbcType="VARCHAR"/>
        <result column="biz_email" property="bussinessEmail" jdbcType="VARCHAR"/>
        <result column="biz_account" property="bussinessAccount"
                jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone"
                jdbcType="VARCHAR"/>
        <result column="contact_weixin" property="contactWeixin"
                jdbcType="VARCHAR"/>
        <result column="contact_qq" property="contactQq" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        pbc.id, rule_code, cooperate_type, biz_id, biz_type,
        biz_code, biz_name,biz_real_address,link_shop_op,link_role,link_type, count_cycle,
        cycle_start_time,
        cycle_end_time,
        is_loop, verify_type,
        gen_header_time, gen_hm_time,
        send_time,
        datum_type, pay_mode, regular_day, roll_day, roll_type,
        effect_start_time,
        effect_end_time, pay_channel, contract_no,
        link_rule_code, `status`, pbc.create_at,
        pbc.is_delete,
        pbc.create_by,bi.pay_account,pbc.gen_hm_time as
        generate_time,bi.pay_name,bi.blank_name,bi.blank_address,bi.biz_address,bi.biz_email,
        bi.biz_account,bi.contact_name,bi.contact_phone,bi.contact_weixin,bi.contact_qq,
        pbc.cycle_day, pbc.cycle_regular_day
    </sql>
    
    <sql id="Config_Column_List">
	    id
		,rule_code
		,cooperate_type
		,biz_id
		,biz_type
		,biz_code
		,biz_name
		,biz_real_address
		,link_type
		,link_shop_op
		,link_role
		,count_cycle
		,cycle_start_time
		,cycle_end_time
		,cycle_day
		,cycle_regular_day
		,is_loop
		,verify_type
		,gen_header_time
		,gen_hm_time
		,send_time
		,datum_type
		,pay_mode
		,regular_day
		,roll_day
		,roll_type
		,effect_start_time
		,effect_end_time
		,pay_channel
		,contract_no
		,link_rule_code
		,status
		,create_at
		,is_delete
		,create_by
    </sql>

    <sql id="Base_list_where_clause">
        <if test="statusList != null and statusList != ''">
            and pbc.status in
            <foreach collection="statusList" index="index" item="item"
                     open="(" separator="," close=")">
                #{item,jdbcType=TINYINT}
            </foreach>
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 商户类型 -->
        <if test="bussinessType != null and bussinessType != ''">
            AND biz_type = #{bussinessType}
        </if>
        <!-- 商户名称 -->
        <if test="bussinessName != null and bussinessName != ''">
            AND biz_name like
            concat('%',#{bussinessName,jdbcType=VARCHAR},'%')
        </if>
        <!-- 规则编码 -->
        <if test="ruleCode != null and ruleCode != ''">
            AND rule_code like
            concat('%',#{ruleCode,jdbcType=VARCHAR},'%')
        </if>
        <!-- 创建时间 -->
        <!--<if test="createAtStart != null and createAtStart != ''">
            AND pbc.create_at >= #{createAtStart}
        </if>
        <if test="createAtEnd != null and createAtEnd != ''">
            AND #{createAtEnd} >= pbc. create_at
        </if>-->
        <!-- 生效开始 -->
        <if test="effectBegin != null and effectBegin != ''">
            AND pbc.effect_start_time >= #{effectBegin}
        </if>
        <!-- 生效结束 -->
        <if test="effectEnd != null and effectEnd != ''">
            AND #{effectEnd} >= pbc.effect_start_time
        </if>
    </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        *
        from
        payment_bill_config pbc
        where pbc.id=
        #{id,jdbcType=INTEGER}
    </select>
    <delete id="updateDelete" parameterType="java.lang.Integer">
        update
        payment_bill_config
        set is_delete = #{is_delete,jdbcType=INTEGER}
        where
        id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.rongyi.easy.settle.entity.StatementConfig"
            useGeneratedKeys="true" keyProperty="id">
        insert into payment_bill_config (rule_code, cooperate_type, biz_type,
        biz_id,biz_code, biz_name,biz_real_address,link_shop_op,link_role,link_type, count_cycle,
        cycle_start_time,
        cycle_end_time, is_loop,
        verify_type, gen_header_time,
        gen_hm_time,
        send_time, datum_type, pay_mode,
        regular_day, roll_day,
        roll_type,
        effect_start_time, effect_end_time, pay_channel,
        contract_no,
        link_rule_code,
        <if test="status != null">
            `status`,
        </if>
        create_at,
        <if test="isDelete != null">
            is_delete,
        </if>
        create_by,
        cycle_day,
        cycle_regular_day
        )
        values (#{ruleCode,jdbcType=VARCHAR},
        #{cooperateType,jdbcType=TINYINT},
        #{bussinessType,jdbcType=TINYINT},
        #{bussinessId,jdbcType=INTEGER},
        #{bussinessCode,jdbcType=VARCHAR},
        #{bussinessName,jdbcType=VARCHAR},
        #{bussinessRealAddress,jdbcType=VARCHAR},
        #{linkShopOp,jdbcType=TINYINT},
        #{linkRole,jdbcType=TINYINT},
        #{linkType,jdbcType=TINYINT},
        #{countCycle,jdbcType=TINYINT},
        #{cycleStartTime,jdbcType=TIMESTAMP},
        #{cycleEndTime,jdbcType=TIMESTAMP}, #{isLoop,jdbcType=TINYINT},
        #{verifyType,jdbcType=TINYINT},
        #{generateHeaderTime,jdbcType=VARCHAR},
        #{generateHmTime,jdbcType=TIME},
        #{sendTime,jdbcType=TIME},
        #{datumType,jdbcType=TINYINT}, #{payMode,jdbcType=TINYINT},
        #{regularDay,jdbcType=VARCHAR}, #{rollDay,jdbcType=VARCHAR},
        #{rollType,jdbcType=TINYINT},
        #{effectStartTime,jdbcType=TIMESTAMP},
        #{effectEndTime,jdbcType=TIMESTAMP}, #{payChannel,jdbcType=TINYINT},
        #{contractNo,jdbcType=VARCHAR}, #{linkedRuleCode,jdbcType=VARCHAR},
        <if test="status != null">
            #{status,jdbcType=TINYINT},
        </if>
        #{createAt,jdbcType=TIMESTAMP},
        <if test="isDelete != null">
            is_delete = #{isDelete,jdbcType=TINYINT},
        </if>
        #{createBy,jdbcType=VARCHAR},
        #{cycleDay,jdbcType=TINYINT},
        #{cycleRegularDay,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.rongyi.easy.settle.entity.StatementConfig">
        update payment_bill_config
        <set>
            <if test="ruleCode != null">
                rule_code = #{ruleCode,jdbcType=VARCHAR},
            </if>
            <if test="cooperateType != null">
                cooperate_type = #{cooperateType,jdbcType=TINYINT},
            </if>
            <if test="bussinessType != null">
                biz_type = #{bussinessType,jdbcType=TINYINT},
            </if>
            <if test="bussinessCode != null">
                biz_code = #{bussinessCode,jdbcType=VARCHAR},
            </if>
            <if test="bussinessName != null">
                biz_name = #{bussinessName,jdbcType=VARCHAR},
            </if>
            <if test="bussinessRealAddress != null">
                biz_real_address =
                #{bussinessRealAddress,jdbcType=VARCHAR},
            </if>
            <if test="linkShopOp != null" >
                link_shop_op = #{linkShopOp,jdbcType=TINYINT},
            </if>
            <if test="linkRole != null" >
                link_role = #{linkRole,jdbcType=TINYINT},
            </if>
            <if test="linkType != null" >
                link_type = #{linkType,jdbcType=TINYINT},
            </if>
            <if test="countCycle != null">
                count_cycle = #{countCycle,jdbcType=TINYINT},
            </if>
            <if test="cycleStartTime != null">
                cycle_start_time = #{cycleStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cycleEndTime != null">
                cycle_end_time = #{cycleEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isLoop != null">
                is_loop = #{isLoop,jdbcType=TINYINT},
            </if>
            <if test="verifyType != null">
                verify_type = #{verifyType,jdbcType=TINYINT},
            </if>
            <if test="generateHeaderTime != null">
                gen_header_time = #{generateHeaderTime,jdbcType=VARCHAR},
            </if>
            <if test="generateHmTime != null">
                gen_hm_time = #{generateHmTime,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIME},
            </if>
            <if test="datumType != null">
                datum_type = #{datumType,jdbcType=TINYINT},
            </if>
            <if test="payMode != null">
                pay_mode = #{payMode,jdbcType=TINYINT},
            </if>
            <if test="regularDay != null">
                regular_day = #{regularDay,jdbcType=VARCHAR},
            </if>
            <if test="rollDay != null">
                roll_day = #{rollDay,jdbcType=VARCHAR},
            </if>
            <if test="rollType != null">
                roll_type = #{rollType,jdbcType=TINYINT},
            </if>
            <if test="effectStartTime != null">
                effect_start_time =
                #{effectStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="effectEndTime != null">
                effect_end_time = #{effectEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payChannel != null">
                pay_channel = #{payChannel,jdbcType=TINYINT},
            </if>
            <if test="contractNo != null">
                contract_no = #{contractNo,jdbcType=VARCHAR},
            </if>
            <if test="linkedRuleCode != null">
                link_rule_code = #{linkedRuleCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="cycleDay != null">
                cycle_day = #{cycleDay,jdbcType=TINYINT},
            </if>
            <if test="cycleRegularDay != null">
                cycle_regular_day = #{cycleRegularDay,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectPageList" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        payment_bill_config pbc left join biz_info bi on pbc.id =
        bi.config_id
        <where>
            <include refid="Base_list_where_clause"/>
        </where>
        <if test="orderby != null">
            order by ${orderby} ${orderVa}
        </if>
        <if test="orderby == null">
            order by create_at desc
        </if>
        <if test="currentPage != null">
            limit
            #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>
    </select>
    <select id="validateIsExist" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        select
        count(1)
        from  payment_bill_config pbc
        left join biz_info bi on pbc.id=bi.config_id
        left join config_shop  sc on pbc.id=sc.config_id
        left join ry_rmmm.shop_info si on sc.shop_id=si.shop_mid
        <where>
            <if test="cooperateType!=null">
                and pbc.cooperate_type=#{cooperateType}
            </if>
            <if test="bussinessType!=null">
                and pbc.biz_type = #{bussinessType}
            </if>
            <if test="bussinessId!=null">
                and pbc.biz_id = #{bussinessId}
            </if>
            <if test="status!=null">
                and pbc.status = #{status}
            </if>
            <if test="statuses!=null">
                and pbc.status in
                <foreach collection="statuses" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="linkRole!=null">
                and pbc.link_role = #{linkRole}
            </if>
            <if test="effectEndTime!=null and effectStartTime!=null">
                and #{effectEndTime} > pbc.effect_start_time
                and pbc.effect_end_time > #{effectStartTime}
            </if>
            <if test="shopMysqlId!=null">
                and si.id=#{shopMysqlId}
            </if>
            <if test="shopId!=null">
                and sc.shop_id=#{shopId}
            </if>
            <if test="userId!=null">
                and sc.real_user_list like concat('%', #{userId}, '%')
            </if>
            <if test="nowTime!=null">
                and #{nowTime} > pbc.effect_start_time and pbc.effect_end_time > #{nowTime}
            </if>
            <!-- update exclude config -->
            <if test="excludeId!=null and excludeId!=''">
                and pbc.id &lt;&gt; #{excludeId}
            </if>
        </where>
    </select>

    <select id="selectPageListCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        select
        count(pbc.id)
        from
        payment_bill_config pbc
        <where>
            <include refid="Base_list_where_clause"/>
        </where>
    </select>

    <select id="selectForSchedule" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT
      <include refid="Config_Column_List" />
        FROM payment_bill_config
        WHERE `status`=1 
        	AND is_delete=0 
        	AND #{currentTime,jdbcType=TIMESTAMP} BETWEEN effect_start_time AND effect_end_time
    </select>

    <select id="selectForScheduleSpacing" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT
      <include refid="Config_Column_List" />
        FROM payment_bill_config
        WHERE `status`=1 
        	AND is_delete=0
            AND count_cycle = #{cycleType,jdbcType=TINYINT}
        	AND DATE_ADD(#{currentTime,jdbcType=TIMESTAMP}, INTERVAL -IFNULL(cycle_day, 1) DAY) BETWEEN effect_start_time AND effect_end_time
    </select>

    <select id="selectForScheduleJumping" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        SELECT
      <include refid="Config_Column_List" />
        FROM payment_bill_config
        WHERE `status`=1 
        	AND is_delete=0
            AND count_cycle = #{cycleType,jdbcType=TINYINT}
            AND DATEDIFF(#{currentTime,jdbcType=TIMESTAMP}, effect_end_time) &lt;= 31
            AND DATEDIFF(#{currentTime,jdbcType=TIMESTAMP}, effect_start_time) &gt;= 0
    </select>

    <update id="updateStatusByIds" parameterType="map">
        update payment_bill_config
        set status=#{status, jdbcType=INTEGER}
        <where>
            <if test="ids != null">
                AND id in
                <foreach item="item" index="index" collection="ids" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <select id="selectByRuleCode" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select
        *
        from payment_bill_config
        where rule_code =
        #{ruleCode,jdbcType=VARCHAR}
    </select>
    <select id="selectConfigInfoById" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        payment_bill_config pbc left join biz_info bi on pbc.id
        =bi.config_id
        where pbc.id=
        #{id,jdbcType=INTEGER}
    </select>
    <select id="selectStatementConfigByMap" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment_bill_config pbc left join biz_info bi on pbc.id = bi.config_id
        <where>
            <if test="ids!=null">
                and pbc.id in
                <foreach collection="ids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="checkEffectStart!=null">
                and now() > pbc.effect_start_time
            </if>
        </where>
    </select>
</mapper>