<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.usercenter.entity.MalllifeUserInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.usercenter.entity.MalllifeUserInfoEntity" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="TINYINT" />
    <result column="is_disable" property="isDisable" jdbcType="TINYINT" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="im_id" property="imId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="dev_uuid" property="devUuid" jdbcType="VARCHAR" />
    <result column="idfa" property="idfa" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="terminal_type" property="terminalType" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="login_red" property="loginRed" jdbcType="TINYINT" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="push_id" property="pushId" jdbcType="VARCHAR" />
    <result column="last_login_at" property="lastLoginAt" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="share_code" property="shareCode" jdbcType="VARCHAR" />
    <result column="regist_ip" property="registIp" jdbcType="VARCHAR" />
    <result column="public_num_id" property="publicNumId" jdbcType="VARCHAR" />
    <result column="login_times" property="loginTimes" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.rongyi.easy.usercenter.entity.MalllifeUserInfoEntity" >
    insert into malllife_user_info (id, user_name, password, 
      email, phone, version, 
      head_img, open_id, im_id, 
      nick_name, channel, dev_uuid, 
      idfa, device_type, terminal_type, 
      gender, login_red, update_at, 
      create_at, push_id, last_login_at, 
      last_login_ip, share_code, regist_ip,public_num_id,login_times
      )
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{version,jdbcType=TINYINT}, 
      #{headImg,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{imId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{devUuid,jdbcType=VARCHAR}, 
      #{idfa,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, #{terminalType,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{loginRed,jdbcType=TINYINT}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{createAt,jdbcType=TIMESTAMP}, #{pushId,jdbcType=VARCHAR}, #{lastLoginAt,jdbcType=TIMESTAMP}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{shareCode,jdbcType=VARCHAR}, #{registIp,jdbcType=VARCHAR}
      , #{publicNumId,jdbcType=VARCHAR}, #{loginTimes,jdbcType=INTEGER}
      )
  </insert>

</mapper>