<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.usercenter.entity.MalllifeUserClickEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.usercenter.entity.MalllifeUserClickEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="click_id" property="clickId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="dev_id" property="devId" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="is_disabled" property="isDisabled" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, click_id, type, status, user_id, dev_id, create_at, update_at, is_disabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from malllife_user_click
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from malllife_user_click
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>