<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    
    <dubbo:application name="${dubbo.applicationName}"  />
    <!--  使用zookeeper注册中心暴露服务地址 测试上用   用dubbo协议在20881端口暴露服务  
    	host="192.168.1.173"指定服务器地址，运行cmc的服务器 -->
    <dubbo:registry address="${dubbo.address}" file="${dubbo.applicationName}/dubbo.cache"/>  
    <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    
    <!-- 配置超时时间 -->
    <dubbo:consumer timeout="${dubbo.timeout}"/>
    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
    <dubbo:reference interface="com.rongyi.rss.solr.MallService" id="solrMallService"  version="${dubbo.version}" check="false"/>
    <!-- 查询买家信息 -->
    <dubbo:reference interface="com.rongyi.rss.malllife.roa.user.ROAMalllifeUserService" id="rOAMallLifeUserService"  version="${dubbo.version}" check="false"/>
    <!-- 查询卖家信息 -->    
    <dubbo:reference interface="com.rongyi.rss.mallshop.user.ROAUserService" id="rOAUserService"  version="${dubbo.version}" check="false"/>    
    <!-- 生成提现流水号 -->    
    <dubbo:reference interface="com.rongyi.rss.rpb.OrderNoGenService" id="orderNoGenService"  version="${dubbo.version}" check="false"/>    
    
    <!--  商场店铺信息-->
 	<dubbo:reference id="mallService" interface="com.rongyi.rss.roa.ROAMallService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="shopService" interface="com.rongyi.rss.roa.ROAShopService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="roaCooperationMallService" interface="com.rongyi.rss.mallshop.shop.ROACooperationMallService"  version="${dubbo.version}" check="false"/>
  	<dubbo:reference id="roaShopService" interface="com.rongyi.rss.mallshop.shop.ROAShopService"  version="${dubbo.version}" check="false"/> 
  	<!-- 根据订单查询买家信息 -->
  	<dubbo:reference id="roaOrderFormService" interface="com.rongyi.rss.mallshop.order.ROAOrderFormService"  version="${dubbo.version}" check="false"/> 
  	<dubbo:reference id="roaOrderDetailFormService" interface="com.rongyi.rss.mallshop.order.ROAOrderDetailFormService"  version="${dubbo.version}" check="false"/> 
  	<dubbo:reference id="rOAOrderService" interface="com.rongyi.rss.mallshop.order.ROAOrderService"  version="${dubbo.version}" check="false"/>
  	<!-- 发送佣金变化状态 -->
	<dubbo:reference id="rOACommodityCommissionService" interface="com.rongyi.rss.mallshop.order.ROACommodityCommissionService" version="${dubbo.version}" check="false" />
	<!-- rpb服务接口 -->
	<dubbo:reference interface="com.rongyi.rss.rpb.IRpbService" id="rpbService"  version="${dubbo.version}" check="false"/>
	<!-- 用户现金券  -->
	<dubbo:reference interface="com.rongyi.rss.coupon.mall.shop.MSUserCouponService" id="mSUserCouponService"  version="${dubbo.version}" check="false"/>
	<dubbo:reference interface="com.rongyi.rss.roa.ROAVirtualAccountGeneralService" id="rOAVirtualAccountGeneralService" version="${dubbo.version}" check="false"/>

	<!-- 获取系统参数 -->
	<dubbo:reference interface="com.rongyi.rss.gcc.RmmmSettingsService" id="rmmmSettingsService" version="${dubbo.version}" check="false" />
	
	<!-- 商品信息 -->
	<dubbo:reference interface="com.rongyi.rss.malllife.roa.ROACommodityService" id="rOACommodityService" version="${dubbo.version}" check="false" />
	<!-- redis -->
	<dubbo:reference interface="com.rongyi.rss.malllife.roa.ROARedisService" id="rOARedisService" version="${dubbo.version}" check="false" />
	<!-- 根据订单号查询优惠券信息 -->
	<!-- 黑名单列表 -->
	<dubbo:reference interface="com.rongyi.rss.cheat.IAntiCheatService" id="antiCheatService"  version="${dubbo.version}" check="false"/>
	<!--交易中心-->
	<dubbo:reference id="roaProxyCouponOrderService" interface="com.rongyi.rss.tradecenter.RoaProxyCouponOrderService" version="${dubbo.version}" check="false"/>
	<!-- 用户使用红包记录 -->
	<dubbo:reference id="roaUserRedenvelopeService" interface="com.rongyi.rss.coupon.RoaUserRedenvelopeService" version="${dubbo.version}" check="false"/>
	<!-- 用户优惠券记录 -->	
	<dubbo:reference interface="com.rongyi.rss.tradecenter.ProxyUserCouponService" id="proxyUserCouponService"  version="${dubbo.version}" check="false"/>
	<!-- 优惠券模板信息 -->
	<dubbo:reference interface="com.rongyi.rss.coupon.RoaCouponService" id="roaCouponService"  version="${dubbo.version}" check="false"/>
	<!-- 购物车订单接口 -->
	<dubbo:reference interface=" com.rongyi.rss.tradecenter.osm.IOrderCartService" id="iOrderCartService"  version="${dubbo.version}" check="false"/>

	<dubbo:reference interface="com.rongyi.rss.tradecenter.RoaProxyUserCouponService" id="roaProxyUserCouponService"  version="${dubbo.version}" check="false"/>
	<!-- 商品信息 -->
	<dubbo:reference interface="com.rongyi.rss.solr.McmcCommoditySolrService" id="mcmcCommoditySolrService"  version="${dubbo.version}" check="false"/>
	<!-- 商品信息 -->
	<dubbo:reference interface="com.rongyi.rss.bsoms.IUserInfoService" id="iUserInfoService"  version="${dubbo.version}" check="false"/>
	<!-- 商品信息 -->
	<dubbo:reference interface="com.rongyi.rss.tradecenter.osm.IOrderQueryService" id="iOrderQueryService" timeout="60000"  version="${dubbo.version}" check="false"/>
	<!-- 商品信息 -->
	<dubbo:reference interface="com.rongyi.rss.mcmc.CommodityService" id="commodityService" timeout="60000"  version="${dubbo.version}" check="false"/>
	<!-- 大运营后台用户权限查询 -->
	<dubbo:reference interface="com.rongyi.rss.ryoms.ROARyUserService" id="ryUserServiceryUserService" version="${dubbo.version}" check="false" />
	<!-- 商家后台用户权限查询 -->
	<dubbo:reference interface="com.rongyi.rss.roa.ROAUserInfoService" id="userInfoService" version="${dubbo.version}" check="false" />
	<!-- 优惠券子订单查询 -->
	<dubbo:reference interface="com.rongyi.rss.tradecenter.ITradeOrderService" id="iTradeOrderService" version="${dubbo.version}" check="false" />
	<!-- 优惠券userCode查询 -->
	<dubbo:reference interface="com.rongyi.rss.tradecenter.ITradeUserCodeService" id="iTradeUserCodeService" version="${dubbo.version}" check="false" />

</beans>
