<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.rpb.mapper.PaymentEntityExtMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.rpb.domain.PaymentEntityExt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="payment_order_id" property="paymentOrderId" jdbcType="INTEGER" />
    <result column="mch_info_id" property="mchInfoId" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="pos_no" property="posNo" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payment_order_id, mch_info_id, store_id, pos_no, memo, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from payment_order_ext
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from payment_order_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.rpb.domain.PaymentEntityExt" >
    insert into payment_order_ext (id, payment_order_id, mch_info_id, 
      store_id, pos_no, memo,create_at,
      update_at)
    values (#{id,jdbcType=INTEGER}, #{paymentOrderId,jdbcType=INTEGER}, #{mchInfoId,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=VARCHAR}, #{posNo,jdbcType=VARCHAR},  #{memo,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP},
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.rpb.domain.PaymentEntityExt" >
    insert into payment_order_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paymentOrderId != null" >
        payment_order_id,
      </if>
      <if test="mchInfoId != null" >
        mch_info_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="posNo != null" >
        pos_no,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paymentOrderId != null" >
        #{paymentOrderId,jdbcType=INTEGER},
      </if>
      <if test="mchInfoId != null" >
        #{mchInfoId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="posNo != null" >
        #{posNo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.rpb.domain.PaymentEntityExt" >
    update payment_order_ext
    set payment_order_id = #{paymentOrderId,jdbcType=INTEGER},
      mch_info_id = #{mchInfoId,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=VARCHAR},
      pos_no = #{posNo,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPaymentOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from payment_order_ext
    where payment_order_id = #{paymentOrderId,jdbcType=INTEGER}
  </select>
</mapper>