<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.rpb.mapper.PaymentEntityMapper">
    <resultMap id="BaseResultMap" type="com.rongyi.easy.rpb.domain.PaymentEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNum" jdbcType="VARCHAR"/>
        <result column="order_type" property="orderType" jdbcType="INTEGER"/>
        <result column="order_price" property="orderPrice" jdbcType="DOUBLE"/>
        <result column="pay_no" property="payNo" jdbcType="VARCHAR"/>
        <result column="pay_amount" property="amountMoney" jdbcType="DOUBLE"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="trade_type" property="tradeType" jdbcType="INTEGER"/>
        <result column="create_at" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="end_at" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="pay_channel" property="payChannel" jdbcType="INTEGER"/>
        <result column="out_account" property="outAccount" jdbcType="VARCHAR"/>
        <result column="in_account" property="inAccount" jdbcType="VARCHAR"/>
        <result column="order_title" property="title" jdbcType="VARCHAR"/>
        <result column="shop_id" property="showNum" jdbcType="INTEGER"/>
        <result column="draw_user_id" property="drawUserId" jdbcType="VARCHAR"/>
        <result column="pay_name" property="payName" jdbcType="VARCHAR"/>
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR"/>
        <result column="refund_rejected" property="refundRejected"
                jdbcType="VARCHAR"/>
        <result column="weixin_mch_id" property="weixinMchId" jdbcType="INTEGER"/>
        <result column="ali_seller_id" property="aliSellerId" jdbcType="VARCHAR"/>
        <result column="wechat_mch_id" property="wechatMchId" jdbcType="VARCHAR"/>
        <result column="ry_mch_id" property="ryMchId" jdbcType="VARCHAR"/>
        <result column="ry_app_id" property="ryAppId" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="TINYINT"/>
        <result column="org_channel" property="orgChannel" jdbcType="TINYINT"/>
        <result column="pay_scene" property="payScene" jdbcType="TINYINT"/>
        <result column="tianyi_pay_id" property="tianyiPayId" jdbcType="INTEGER"/>
        <result column="attach" property="attach" jdbcType="VARCHAR"/>

    </resultMap>
    <resultMap id="BaseResultMapVo" type="com.rongyi.easy.rpb.vo.v6.PaymentEntityVo" extends="BaseResultMap">
        <result column="mch_info_id" property="mchInfoId" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="pos_no" property="posNo" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, order_no,order_type,order_price,pay_no,pay_amount,
		status,trade_type,create_at,
		end_at,pay_channel,out_account,in_account,order_title,shop_id,draw_user_id,pay_name,batch_no,refund_rejected,weixin_mch_id,
		ali_seller_id,wechat_mch_id,ry_mch_id,ry_app_id,source,org_channel ,pay_scene,tianyi_pay_id,attach
	</sql>

    <insert id="insert" parameterType="com.rongyi.easy.rpb.domain.PaymentEntity"
            useGeneratedKeys="true" keyProperty="id">

        insert into payment_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payNo != null">
                pay_no,
            </if>
            <if test="orderNum != null">
                order_no,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="orderPrice != null">
                order_price,
            </if>
            <if test="amountMoney != null">
                pay_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tradeType != null">
                trade_type,
            </if>
            <if test="createTime != null">
                create_at,
            </if>
            <if test="finishTime != null">
                end_at,
            </if>
            <if test="payChannel != null">
                pay_channel,
            </if>
            <if test="outAccount != null">
                out_account,
            </if>
            <if test="inAccount != null">
                in_account,
            </if>
            <if test="title != null">
                order_title,
            </if>
            <if test="showNum != null">
                shop_id,
            </if>
            <if test="drawUserId != null">
                draw_user_id,
            </if>
            <if test="payName != null">
                pay_name,
            </if>
            <if test="batchNo != null">
                batch_no,
            </if>
            <if test="refundRejected != null">
                refund_rejected,
            </if>
            <if test="weixinMchId != null">
                weixin_mch_id,
            </if>
            <if test="aliSellerId != null">
                ali_seller_id,
            </if>
            <if test="wechatMchId != null">
                wechat_mch_id,
            </if>
            <if test="ryMchId != null">
                ry_mch_id,
            </if>
            <if test="ryAppId != null">
                ry_app_id,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="orgChannel != null">
                org_channel,
            </if>
            <if test="payScene != null">
                pay_scene ,
            </if>
            <if test="tianyiPayId != null">
                tianyi_pay_id ,
            </if>
            <if test="attach != null">
                attach ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payNo != null">
                #{payNo,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderPrice != null">
                #{orderPrice,jdbcType=VARCHAR},
            </if>
            <if test="amountMoney != null">
                #{amountMoney,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="tradeType != null">
                #{tradeType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payChannel != null">
                #{payChannel,jdbcType=INTEGER},
            </if>
            <if test="outAccount != null">
                #{outAccount,jdbcType=VARCHAR},
            </if>
            <if test="inAccount != null">
                #{inAccount,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=INTEGER},
            </if>
            <if test="showNum != null">
                #{showNum,jdbcType=INTEGER},
            </if>
            <if test="drawUserId != null">
                #{drawUserId,jdbcType=VARCHAR},
            </if>
            <if test="payName != null">
                #{payName,jdbcType=VARCHAR},
            </if>
            <if test="batchNo != null">
                #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="refundRejected != null">
                #{refundRejected,jdbcType=INTEGER},
            </if>
            <if test="weixinMchId != null">
                #{weixinMchId,jdbcType=INTEGER},
            </if>
            <if test="aliSellerId != null">
                #{aliSellerId,jdbcType=VARCHAR},
            </if>
            <if test="wechatMchId != null">
                #{wechatMchId,jdbcType=VARCHAR},
            </if>
            <if test="ryMchId != null">
                #{ryMchId,jdbcType=VARCHAR},
            </if>
            <if test="ryAppId != null">
                #{ryAppId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=TINYINT},
            </if>
            <if test="orgChannel != null">
                #{orgChannel,jdbcType=TINYINT},
            </if>
            <if test="payScene != null">
                #{payScene,jdbcType=TINYINT} ,
            </if>
            <if test="tianyiPayId != null">
                #{tianyiPayId,jdbcType=VARCHAR} ,
            </if>
            <if test="attach != null">
                #{attach,jdbcType=VARCHAR} ,
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.rpb.domain.PaymentEntity">
        update payment_order
        <set>
            <if test="payNo != null">
                pay_no = #{payNo,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_no = #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice,jdbcType=VARCHAR},
            </if>
            <if test="amountMoney != null">
                pay_amount = #{amountMoney,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="tradeType != null">
                trade_type = #{tradeType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_at = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                end_at = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payChannel != null">
                pay_channel = #{payChannel,jdbcType=INTEGER},
            </if>
            <if test="outAccount != null">
                out_account = #{outAccount,jdbcType=VARCHAR},
            </if>
            <if test="inAccount != null">
                in_account = #{inAccount,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                order_title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="drawUserId != null">
                draw_user_id = #{drawUserId,jdbcType=VARCHAR},
            </if>
            <if test="payName != null">
                pay_name = #{payName,jdbcType=VARCHAR},
            </if>
            <if test="batchNo != null">
                batch_no = #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="refundRejected != null">
                refund_rejected = #{refundRejected,jdbcType=INTEGER},
            </if>
            <if test="weixinMchId != null">
                weixin_mch_id = #{weixinMchId,jdbcType=INTEGER},
            </if>
            <if test="aliSellerId != null">
                ali_seller_id = #{aliSellerId,jdbcType=VARCHAR},
            </if>
            <if test="wechatMchId != null">
                wechat_mch_id = #{wechatMchId,jdbcType=VARCHAR},
            </if>
            <if test="ryMchId != null">
                ry_mch_id = #{ryMchId,jdbcType=VARCHAR},
            </if>
            <if test="ryAppId != null">
                ry_app_id = #{ryAppId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=TINYINT},
            </if>
            <if test="orgChannel != null">
                org_channel = #{orgChannel,jdbcType=TINYINT},
            </if>
            <if test="payScene != null">
                pay_scene = #{payScene,jdbcType=TINYINT} ,
            </if>
            <if test="tianyiPayId != null">
                tianyi_pay_id = #{tianyiPayId,jdbcType=VARCHAR} ,
            </if>
            <if test="attach != null">
                attach = #{attach,jdbcType=VARCHAR} ,
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateListStatusByPayNo" parameterType="com.rongyi.easy.rpb.domain.PaymentEntity">
        update payment_order
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="finishTime != null">
                end_at = #{finishTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pay_no = #{payNo,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.rpb.domain.PaymentEntity">
		update
		payment_order
		set pay_no = #{payNo,jdbcType=VARCHAR},
		set order_no =
		#{orderNum,jdbcType=VARCHAR},
		set order_type =
		#{orderType,jdbcType=INTEGER},
		set order_price =
		#{orderPrice,jdbcType=VARCHAR},
		pay_amount =
		#{amountMoney,jdbcType=DECIMAL},
		status = #{status,jdbcType=INTEGER},
		trade_type = #{tradeType,jdbcType=INTEGER},
		create_at =
		#{createTime,jdbcType=TIMESTAMP},
		end_at =
		#{finishTime,jdbcType=TIMESTAMP},
		pay_channel =
		#{payChannel,jdbcType=INTEGER},
		out_account =
		#{outAccount,jdbcType=VARCHAR},
		in_account =
		#{inAccount,jdbcType=VARCHAR},
		order_title =#{title,jdbcType=VARCHAR},
		draw_user_id =#{drawUserId,jdbcType=VARCHAR},
		pay_name
		=#{payName,jdbcType=VARCHAR},
		batch_no
		=#{batchNo,jdbcType=VARCHAR},
		refund_rejected
		=#{refundRejected,jdbcType=INTEGER}
		where
		id =
		#{id,jdbcType=INTEGER}
	</update>


    <sql id="list_where_clause">
        and status is not null
        <if test="payNo != null and payNo != ''">
            and pay_no like CONCAT('%',#{payNo},'%')
        </if>
        <if test="orderNum != null and orderNum != ''">
            and order_no like CONCAT('%',#{orderNum},'%')
        </if>
        <if test="status != null and status != ''">
            and status like CONCAT('%',#{status},'%')
        </if>
        <if test="tradeType != null and tradeType != ''">
            and trade_type like CONCAT('%',#{tradeType},'%')
        </if>
    </sql>

    <select id="selectPageListBySearch" resultMap="BaseResultMap"
            parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        <where>
            <include refid="list_where_clause"/>
        </where>
        order by status ASC,trade_type DESC,create_at DESC
        limit
        #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>

    <select id="selectPageListCountBySearch" parameterType="java.util.Map"
            resultType="java.lang.Long">
        select
        count(id)
        from payment_order
        <where>
            <include refid="list_where_clause"/>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPayNoAndTradeType" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_no = #{payNo,jdbcType=VARCHAR}
        <if test="tradeType != null and tradeType != ''">
            and trade_type = #{tradeType,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByPayNo" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_no = #{payNo,jdbcType=VARCHAR}
    </select>
    <select id="selectByOrderNum" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where order_no = #{orderNum,jdbcType=VARCHAR}
        <if test="tradeType != null">
            and trade_type = #{tradeType,jdbcType=INTEGER}
        </if>
        <if test="payChannel != null">
            and pay_channel = #{payChannel,jdbcType=INTEGER}
        </if>
        <if test="status != null and status != ''">
            and status =#{status,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectByOrderNumAndTradeType" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where order_no = #{orderNum,jdbcType=VARCHAR}
        <if test="tradeType != null and tradeType != ''">
            and trade_type = #{tradeType,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and status =#{status,jdbcType=INTEGER}
        </if>
        <if test="payChannel != null">
            and pay_channel =#{payChannel,jdbcType=INTEGER}
        </if>
        limit 0,1

    </select>

    <delete id="deleteByPayNo" parameterType="java.lang.String">
		delete from
		payment_order where pay_no = #{payNo,jdbcType=VARCHAR}
	</delete>

    <select id="selectByOrderNumAndBatchNo" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where order_no = #{orderNum,jdbcType=VARCHAR}
        and
        batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>
    <select id="selectByPayNoAndPayChannelAndTradeType" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_no = #{payNo,jdbcType=VARCHAR}
        and trade_type = #{tradeType,jdbcType=INTEGER}
        <if test="payChannel != null">
            and pay_channel = #{payChannel,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and status =
            #{status,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectByBatchNoAndStatus" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where batch_no = #{batchNo,jdbcType=VARCHAR}
        and
        status = #{status,jdbcType=INTEGER}
    </select>

    <select id="selectByTradeTypeAndRefundRejected" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where trade_type = #{tradeType,jdbcType=INTEGER}
        and
        pay_channel = #{payChannel,jdbcType=INTEGER}
        and refund_rejected =
        #{refundRejected,jdbcType=INTEGER}
        and status =
        #{status,jdbcType=INTEGER}
        /*去除只能退今天之前的退款,退当前任务执行时间之前的所有可退款项*/
        <!--and #{today,jdbcType=TIMESTAMP} > create_at-->
    </select>
    <update id="updateRefundRejected" parameterType="java.lang.Integer">
        update payment_order
        <set>
            refund_rejected = #{refundRejected,jdbcType=INTEGER},
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="valiadteStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where status =
        #{status,jdbcType=INTEGER}
        and id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>
    <update id="updateByIds" parameterType="java.lang.Integer">
        update payment_order
        <set>
            status = #{status,jdbcType=INTEGER},
        </set>
        where id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectByWithLock" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where id = #{id,jdbcType=INTEGER}
        for update
    </select>

    <select id="selectByOrderNoAndPayChannelWithLock" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_channel = #{payChannel,jdbcType=INTEGER} AND trade_type = 0 AND order_no = #{orderNo,jdbcType=VARCHAR}
        limit 0,1
        for update
    </select>

    <select id="selectByPayNoAndOrderNo" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_no = #{payNo,jdbcType=VARCHAR}
        and
        order_no = #{orderNo,jdbcType=VARCHAR}
        <if test="status != null and status != ''">
            and status =
            #{status,jdbcType=INTEGER}
        </if>
        <if test="tradeType != null and tradeType != ''">
            and trade_ype =
            #{tradeType,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByPayNoWithLock" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where pay_no = #{payNo,jdbcType=VARCHAR}
        and trade_type = #{tradeType,jdbcType=INTEGER}
        <if test="payChannel != null">
            and pay_channel = #{payChannel,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and status =
            #{status,jdbcType=INTEGER}
        </if>
        limit 0,1
        for update
    </select>

    <select id="batchQueryByOrderNos" resultMap="BaseResultMap"
            parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where trade_type = #{tradeType,jdbcType=INTEGER} and status = 2
        <if test="tradeType == 0">
            and  pay_no in
            <foreach collection="orderNoList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test=" tradeType == 1">
            and order_no
            in (select order_no from payment_order where trade_type = 0 and status = 2 and pay_no in
              <foreach collection="orderNoList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        order by
        instr(
        #{orderNoList}
        ,CONCAT(pay_no))

    </select>

	<update id="updateStatusList" parameterType="java.util.Map">
		update payment_order set payer_recon_flag = #{payerReconFlag}
		where pay_no in
			<foreach collection="payNoList" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
	</update>
	
	 <select id="findList" resultMap="BaseResultMap"
            parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from payment_order
        where status = #{status}
<!--           and trade_type = #{tradeType} -->
          and pay_channel = #{payChannel}
			<if test="tradeTypeList != null and tradeTypeList.size() > 0">
				and trade_type in
				 <foreach item="item" index="index" collection="tradeTypeList" open="("
                 separator="," close=")">
	            #{item}
	            </foreach>
			</if>
          and DATE_FORMAT(end_at, '%Y-%m-%d') = DATE_FORMAT(#{endAt}, '%Y-%m-%d')
          and source in(3,4)
    </select>

    <select id="queryListByParam" parameterType="java.util.Map" resultMap="BaseResultMapVo">
        select
        po.id, order_no,order_type,order_price,pay_no,pay_amount,
        status,trade_type,po.create_at,
        end_at,pay_channel,out_account,in_account,order_title,shop_id,draw_user_id,pay_name,batch_no,refund_rejected,weixin_mch_id,
        ali_seller_id,wechat_mch_id,ry_mch_id,ry_app_id,source,org_channel,pay_scene,mch_info_id,store_id,pos_no,poe.memo
        from payment_order po
        left join payment_order_ext poe on po.id = poe.payment_order_id
        where source in (3,4)
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="payChannel != null  and payChannel != -1 ">
                and pay_channel = #{payChannel,jdbcType=INTEGER}
            </if>
            <if test="payChannel == null || payChannel == -1 ">
                and pay_channel in (0,1,2,3)
            </if>
            <if test="payerReconflag != null and payerReconflag != -1">
                and payer_recon_flag = #{payerReconflag,jdbcType=INTEGER}
            </if>
            <if test="ryMchId != null and ryMchId != ''">
                and ry_mch_id = #{ryMchId,jdbcType=VARCHAR}
            </if>
            <if test="tradeType != null and tradeType != -1">
                and trade_type = #{tradeType,jdbcType=INTEGER}
            </if>
            <if test="tradeType == null || tradeType == '' || tradeType== -1">
                and trade_type in (0,1)
            </if>
            <if test="status != null and status != -1">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="status == null || status == '' || status == -1">
                and status = 2
            </if>
            <if test="payScene != null">
                and pay_scene = #{payScene}
            </if>
            <if test="startTime != null and startTime != ''">
                and end_at &gt;= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endTime != null and endTime != ''">
                and end_at &lt;= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
            </if>
        order by po.create_at desc
        <if test="startIndex !=null and pageSize !=null">
            limit #{startIndex},#{pageSize}
        </if>
    </select>

    <select id="queryCountByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        select  count(*)
        from payment_order
        where source in (3,4)
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="payChannel != null and payChannel != -1">
            and pay_channel = #{payChannel,jdbcType=INTEGER}
        </if>
        <if test="payChannel == null || payChannel == -1 ">
                and pay_channel in (0,1,2,3)
        </if>
        <if test="payerReconflag != null and payerReconflag != -1">
            and payer_recon_flag = #{payerReconflag,jdbcType=INTEGER}
        </if>
        <if test="tradeType != null and tradeType != -1">
            and trade_type = #{tradeType,jdbcType=INTEGER}
        </if>
        <if test="tradeType == null || tradeType == '' || tradeType== -1">
            and trade_type in (0,1)
        </if>
        <if test="status != null and status != -1">
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="status == null || status == '' || status == -1">
            and status = 2
        </if>
        <if test="ryMchId != null and ryMchId != ''">
            and ry_mch_id = #{ryMchId,jdbcType=VARCHAR}
        </if>
        <if test="payScene != null">
            and pay_scene = #{payScene}
        </if>
        <if test="startTime != null and startTime != ''">
            and end_at &gt;= STR_TO_DATE(#{startTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endTime != null and endTime != ''">
            and end_at &lt;= STR_TO_DATE(#{endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
        </if>
    </select>
</mapper>

