<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->  
    <dubbo:application name="${dubbo.applicationName}" />  
    <!-- 使用multicast广播注册中心暴露发现服务地址 -->  
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->  
    <dubbo:registry address="${dubbo.address}" file="${dubbo.applicationName}/dubbo.cache"/>  
    <!-- 生成远程服务代理，可以和本地bean一样使用demoService -->  
    <dubbo:reference id="rmmmSettingsService" interface="com.rongyi.rss.gcc.RmmmSettingsService"  version="${dubbo.version}"  check="true"/>
    <dubbo:reference id="oSMMcmcCommodityService" interface="com.rongyi.rss.mcmc.StockService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="roaCouponService" interface="com.rongyi.rss.coupon.RoaCouponService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="roaUserRedenvelopeService" interface="com.rongyi.rss.coupon.RoaUserRedenvelopeService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="roaOrderService" interface="com.rongyi.rss.mallshop.order.ROAOrderService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="scoreService" interface="com.rongyi.rss.integral.IntegralService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="mallLifeUserService" interface="com.rongyi.rss.malllife.roa.user.ROAMalllifeUserService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="commentService" interface="com.rongyi.rss.mcmc.CommentService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="personManagementServicek" interface="com.rongyi.rss.roa.ROAPersonManagementService"  version="${dubbo.version}" check="false"/>
    <dubbo:reference id="msobOrderEventService" interface="com.rongyi.rss.msob.IOrderEventService" version="${dubbo.version}" check="false"/>
<!--     <bean id="demoController" class="com.rongyi.roa.web.controller.demo.DemoController"> 和本地服务一样使用远程服务 -->
<!-- 	    <property name="memberService" ref="memberService" /> -->
<!-- 	</bean> -->
</beans>  