<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${mq.host}" username="${mq.username}" password="${mq.password}"
		port="${mq.port}" virtual-host="${mq.virtualhost}" channel-cache-size="25" />

	<rabbit:admin connection-factory="connectionFactory" />

	<!-- queue 队列声明 -->
	<rabbit:queue id="queue_osm" durable="true" auto-delete="false"
		exclusive="false" name="${mq.queuename}" />
	<rabbit:queue id="osm_fact_insert" durable="true"
		auto-delete="false" exclusive="false" name="osm_fact_insert" />
	<rabbit:queue id="osm_fact_update" durable="true"
		auto-delete="false" exclusive="false" name="osm_fact_update" />
	<rabbit:queue id="osm_fact_delete" durable="true"
		auto-delete="false" exclusive="false" name="osm_fact_delete" />

	<!-- exchange queue binging key 绑定 -->
	<rabbit:direct-exchange name="${mq.exchange}"
		durable="true" auto-delete="false" id="core_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="queue_osm" key="${mq.routingkey}" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	<rabbit:direct-exchange name="${mq.exchange}"
		durable="true" auto-delete="false" id="core_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="osm_fact_insert" key="osm_add" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	<rabbit:direct-exchange name="${mq.exchange}"
		durable="true" auto-delete="false" id="core_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="osm_fact_update" key="osm_edit" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	<rabbit:direct-exchange name="${mq.exchange}"
		durable="true" auto-delete="false" id="core_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="osm_fact_delete" key="osm_del" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!-- 消息处理者 start -->
	<bean id="receiver" class="com.rongyi.osm.mq.SpringAmqpReceiver" />
	<bean id="fact_insert_receiver" class="com.rongyi.osm.mq.OSMFactInsertReceiver" />
	<bean id="fact_update_receiver" class="com.rongyi.osm.mq.OSMFactUpdateReceiver" />
	<bean id="fact_delete_receiver" class="com.rongyi.osm.mq.OSMFactDeleteReceiver" />
	<!-- 消息处理者 end -->

	<rabbit:listener-container id="workListener"
		connection-factory="connectionFactory" acknowledge="manual"
		auto-startup="false" prefetch="1000" concurrency="42">
		<rabbit:listener queues="queue_osm" ref="receiver" />
	</rabbit:listener-container>
	<rabbit:listener-container id="syncInsertListener"
		connection-factory="connectionFactory" acknowledge="manual"
		auto-startup="false" prefetch="1000">
		<rabbit:listener queues="osm_fact_insert" ref="fact_insert_receiver" />
	</rabbit:listener-container>
	<rabbit:listener-container id="syncUpdateListener"
		connection-factory="connectionFactory" acknowledge="manual"
		auto-startup="false" prefetch="1000">
		<rabbit:listener queues="osm_fact_update" ref="fact_update_receiver" />
	</rabbit:listener-container>
	<rabbit:listener-container id="syncDeleteListener"
		connection-factory="connectionFactory" acknowledge="manual"
		auto-startup="false" prefetch="1000">
		<rabbit:listener queues="osm_fact_delete" ref="fact_delete_receiver" />
	</rabbit:listener-container>

	<rabbit:template id="template" connection-factory="connectionFactory" />

</beans>