<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		">


	<bean id="propertyConfigurer" class="com.rongyi.core.util.PropertyConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/maven_build/01_dev.properties</value>
				<value>file:/data/etc/common/*.properties</value>
				<value>file:/data/etc/projects/easy-rpb.properties</value>
			</list>
		</property>
	</bean>

	<aop:aspectj-autoproxy/>
</beans>
