<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		">


<bean id="springContextUtil"
		class="com.rongyi.core.framework.spring.context.utils.SpringContextUtil"></bean>
	<bean id="propertyConfigurer" class="com.rongyi.core.common.PropertyConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:/properties/config.properties</value>
				<value>classpath:/maven_build/01_dev.properties</value>
				<value>file:/data/etc/common/*.properties</value>
				<value>file:/data/etc/projects/easy-rpb.properties</value>
			</list>
		</property>
	</bean>
	<bean id="idGenService" class="com.rongyi.rpb.service.impl.IdGenService">
		<constructor-arg name="workerId" value="${idgenService.workerId}" type="long"/>
	</bean>

	<bean id="logAdvice" class="com.rongyi.core.common.log.LogAopAdvice"/>

	<aop:config>
		<aop:aspect id="logAop" ref="logAdvice">
			<aop:pointcut id="target" expression="execution(* com.rongyi.rpb.service.impl..*.*(..)) || execution(* com.rongyi.rpb.mq..*.*(..))"/>
			<aop:before method="logIdInit" pointcut-ref="target"/>
			<aop:after method="clear" pointcut-ref="target"/>
			<aop:after-throwing method="clear" pointcut-ref="target"/>
		</aop:aspect>
	</aop:config>

	<aop:aspectj-autoproxy/>
</beans>
