<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- 注意:这里的参数(如用户名、密码)都是针对邮件发送者的 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- 这里我以163为例 -->
		<property name="host" value="${SMTP_HOST}" />
		<property name="port" value="${SMTP_PORT}" />
		<!-- 发送方用户名 -->
		<property name="username" value="${SEND_ADDRESS}" />
		<!-- 发送方密码 -->
		<property name="password" value="${SEND_PASSWORD}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
		<!-- 发送方用户名 -->
		<property name="from" value="${SEND_ADDRESS}" />
	</bean>
</beans>