@charset "utf-8";
*{ margin:0px; padding:0px;}
html,body{ width:100%; height:100%; font-size:12px; color:#3f3f3f; font-family:"microsoft YaHei","宋体",Arial; }
a{ color:#3f3f3f; text-decoration:none;cursor:pointer;}
a:hover{ color:#cf0000; text-decoration:none}
img,a img{ border:0px;}
form{ margin:0; padding:0; list-style:none}
.clear{ width:100%; height:0px; line-height:0px; clear:both}

div.content_wrap {width: 100%; margin: 0 auto; height: auto;}

.zTreeDemoBackground {
	width:100%;
	height:auto;
}

ul.ztree {
	margin-top: 10px;
	height:670px;
	overflow-y:scroll;
	overflow-x:auto;
}
ul.log {
	border: 1px solid #617775;
	background: #f0f6e4;
	width:300px;
	height:170px;
	overflow: hidden;
}
ul.log.small {
	height:45px;
}
ul.log li {
	color: #666666;
	list-style: none;
	padding-left: 10px;
}
ul.log li.dark {
	background-color: #E3E3E3;
}

/* ruler */
div.ruler {
	height:20px; 
	width:220px; 
	background-color:#f0f6e4;
	border: 1px solid #333; 
	margin-bottom: 5px; 
	cursor: pointer;
}
div.ruler div.cursor {
	height:20px; 
	width:30px; 
	background-color:#3C6E31; 
	color:white; 
	text-align: right; 
	padding-right: 5px; 
	cursor: pointer;
}
.box{
	width: 300px;
	height: 200px;
	background: #fff;
	border: 1px solid red;
	position: absolute;
	top: 100px;
	left: 900px;
	z-index: 5;
	display: none;
}



.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li {padding:0; margin:0; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}
.ztree li ul{ margin:0; padding:0 0 0 54px}
.ztree li ul.line{ background:url(../images/zTreeImg/line_conn.gif) 11px 0 repeat-y;}
.ztree li ul.line.level1{margin-left: -19px;}

.ztree li a { margin:0; cursor:pointer; height:36px; line-height:36px;color:#333; background-color: transparent;
	text-decoration:none; vertical-align:top;}
.ztree li a:hover {text-decoration:underline}
.ztree li a.curSelectedNode {padding-top:0px; color:black; height:36px; line-height:36px; opacity:0.8;}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px;border:1px #316AC5 solid;  opacity:0.8;}
.ztree li a.tmpTargetNode_inner {padding-top:0px; background-color:#316AC5; color:white; height:16px;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode_prev {}
.ztree li a.tmpTargetNode_next {}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:36px; margin-right:2px; overflow: hidden;}
.ztree li span.button {line-height:0; margin:0; width:25px; height:36px; display: inline-block; vertical-align:middle;
	border:0 none; cursor: pointer;outline:none;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("../images/zTreeImg/zTreeStandard.png"); *background-image:url("../images/zTreeImg/zTreeStandard.gif")}

.ztree li span.button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li span.button.chk.checkbox_false_full {background-position:0 0}
.ztree li span.button.chk.checkbox_false_full_focus {background-position:0 -14px}
.ztree li span.button.chk.checkbox_false_part {background-position:0 -28px}
.ztree li span.button.chk.checkbox_false_part_focus {background-position:0 -42px}
.ztree li span.button.chk.checkbox_false_disable {background-position:0 -56px}
.ztree li span.button.chk.checkbox_true_full {background-position:-14px 0}
.ztree li span.button.chk.checkbox_true_full_focus {background-position:-14px -14px}
.ztree li span.button.chk.checkbox_true_part {background-position:-14px -28px}
.ztree li span.button.chk.checkbox_true_part_focus {background-position:-14px -42px}
.ztree li span.button.chk.checkbox_true_disable {background-position:-14px -56px}
.ztree li span.button.chk.radio_false_full {background-position:-28px 0}
.ztree li span.button.chk.radio_false_full_focus {background-position:-28px -14px}
.ztree li span.button.chk.radio_false_part {background-position:-28px -28px}
.ztree li span.button.chk.radio_false_part_focus {background-position:-28px -42px}
.ztree li span.button.chk.radio_false_disable {background-position:-28px -56px}
.ztree li span.button.chk.radio_true_full {background-position:-42px 0}
.ztree li span.button.chk.radio_true_full_focus {background-position:-42px -14px}
.ztree li span.button.chk.radio_true_part {background-position:-42px -28px}
.ztree li span.button.chk.radio_true_part_focus {background-position:-42px -42px}
.ztree li span.button.chk.radio_true_disable {background-position:-42px -56px}

.ztree li span.button.switch {width:36px; height:36px}
.ztree li span.button.root_open{background-position:-92px -54px}
.ztree li span.button.root_close{background-position:-74px -54px}

.ztree li span.button.roots_open{background-position:4.5px 9px;background-image:url("../images/zTreeImg/1.png");}
.ztree li span.button.roots_close{background-position:4.5px 9px;background-image:url("../images/zTreeImg/2.png");}

.ztree li span.button.center_open{background-position:4.5px -20px;background-image:url("../images/zTreeImg/1.png");}
.ztree li span.button.center_open.level1{margin-left:-19px;}
.ztree li span.button.center_close{background-position:4.5px -20px;background-image:url("../images/zTreeImg/2.png");}
.ztree li span.button.center_close.level1{margin-left:-19px;}
.ztree li span.button.bottom_open{background-position:4.5px -51.5px;background-image:url("../images/zTreeImg/1.png");}
.ztree li span.button.bottom_open.level1{margin-left:-19px;}
.ztree li span.button.bottom_close{background-position:4.5px -51.5px;background-image:url("../images/zTreeImg/2.png");}
.ztree li span.button.bottom_close.level1{margin-left:-19px;}
.ztree li span.button.noline_open{background-position:-92px -72px}
.ztree li span.button.noline_close{background-position:-74px -72px}

.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position:-56px 0}

.ztree li span.button.center_docu{background-position:0px -19.5px;background-image:url("../images/zTreeImg/7.png");}
ul.ztree li.level0 ul.level0.line li.level1 ul.level1.line li.level2 span.button.center_docu.level2{margin-left:0px;}
.ztree li span.button.center_docu.level2{margin-left: -19px;}
.ztree li span.button.bottom_docu{background-position:0px -56px;background-image:url("../images/zTreeImg/7.png");}
.ztree  li span.button.bottom_docu.level2{margin-left:-19px;}
ul.ztree li.level0 ul.level0.line li.level1 ul.level1.line li.level2 span.button.bottom_docu.level2{margin-left:0px;}
/*span.button.bottom_docu.level2*/
.ztree li span.button.noline_docu{ background:none;}

.ztree li span.button.ico_open{background-image:url("../images/zTreeImg/docu.png");margin-right:4px; background-position:0 18px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_close{width:0;height:0;margin-right:6px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.ico_docu{width:0;height:0;margin-right:2px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.add {
	
}
.ztree li span.button.edit {
	margin-right:2px; 
	vertical-align:top; 
	*vertical-align:middle;
	background:url("../images/zTreeImg/icon_edit.png") 50% 50% no-repeat;
}
.ztree li span.button.edit:hover {
	background:url("../images/zTreeImg/icon_edit2.png") 50% 50% no-repeat;
}
.ztree li span.button.remove {
	margin-right:2px; 
	vertical-align:top; 
	*vertical-align:middle;
	background:url("../images/zTreeImg/icon_del.png") 50% 50% no-repeat;
}
.ztree li span.button.remove:hover {
	background:url("../images/zTreeImg/icon_del2.png") 50% 50% no-repeat;
}

.ztree li span.button.ico_loading{margin-right:2px; background:url(../images/zTreeImg/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:16px; display: inline-block; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-110px -80px; background-image:url("../images/zTreeImg/zTreeStandard.png"); *background-image:url("../images/zTreeImg/zTreeStandard.gif")}

ul.ztree.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/

/*弹出框*/
.brandBox{
	width:480px;
	height:auto;
	border:1px solid #d5d6db;
	background:#fff;
	position:absolute;
	z-index:100;
	left:25%;
	top:10%;
	display:none;
}
.brandBox-title{
	height:40px;
	line-height:40px;
	padding:0 15px;
	background:#3a3a3a;
	color:#fff;
}
.brandBox-main{
	height:auto;
	overflow:auto;
	padding: 15px 30px;
}
.brandBox-search{
	height:30px;
}
.brandBox-search input{
	width:310px;
	height:28px;
	border:1px solid #d5d6db;
	display:inline-block;
	float:left;
	padding:0 10px;
	color:#898989;
}
.brandBox-search input.max_w{
	width: 396px;
}
.brandBox-search a{
	width:80px;
	height:30px;
	display:inline-block;
	float:right;
	text-align:center;
	line-height:30px;
	color:#fff;
	background:#3a3a3a;
	border-radius:3px;
}	
.brandBox-category{
	padding:0 0px;
	overflow:auto;
}
.brandBox-category a{
	/* width:50px; */
	padding: 0 10px;
	height:25px;
	display:inline-block;
	float:left;
	text-align:center;
	line-height:25px;
	margin-right:9px;
	margin-top:10px;
	border:1px solid #d5d6db;
	border-radius:3px;
}
.brandBox-category a.MR_0{
	margin-right:0px;
}
.brandBox-category a:hover,.brandBox-category a.checked{
	background:#1ca823;
	color:#fff;
}
.brandBox-list2{
	height:320px;
	margin-top:10px;
	border:1px solid #d5d6db;
	overflow-y:scroll;
	padding-bottom: 10px;
}
.category{
	width: 100%;
	clear: both;
}
.category-left{
	width: 20%;
	height: auto;
	float: left;
	line-height: 25px;
}
.category-left span{
	display: inline-block;
	width: 70px;
	text-align: center;
	margin-top: 10px;
	background:url("../images/icon_line.jpg") 96% 7px no-repeat;	
}
.category-right{
	width: 320px;
	height: auto;
	float: right;
}
.shopsButton{
	width: 360px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
}
/*公用绿色按钮*/
a.Button{
	width: 155px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #d9dadc;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
a.Button.checked{
	border: 1px solid #44b549;
	background: #44b549;
	color: #fff;
}

