<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.osm.entity.OrderModelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.osm.entity.OrderModelEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weidian_id" property="weidianId" jdbcType="VARCHAR" />
    <result column="guide_id" property="guideId" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="is_disabled" property="isDisabled" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, weidian_id, guide_id, create_at, is_disabled, version, order_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rongyi.easy.osm.entity.OrderModelEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.easy.osm.entity.OrderModelEntityExample" >
    delete from order_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.osm.entity.OrderModelEntity" >
    insert into order_model (id, weidian_id, guide_id, 
      create_at, is_disabled, version, 
      order_price)
    values (#{id,jdbcType=INTEGER}, #{weidianId,jdbcType=VARCHAR}, #{guideId,jdbcType=INTEGER}, 
      #{createAt,jdbcType=TIMESTAMP}, #{isDisabled,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, 
      #{orderPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.osm.entity.OrderModelEntity" >
    insert into order_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="weidianId != null" >
        weidian_id,
      </if>
      <if test="guideId != null" >
        guide_id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="weidianId != null" >
        #{weidianId,jdbcType=VARCHAR},
      </if>
      <if test="guideId != null" >
        #{guideId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rongyi.easy.osm.entity.OrderModelEntityExample" resultType="java.lang.Integer" >
    select count(*) from order_model
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_model
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.weidianId != null" >
        weidian_id = #{record.weidianId,jdbcType=VARCHAR},
      </if>
      <if test="record.guideId != null" >
        guide_id = #{record.guideId,jdbcType=INTEGER},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDisabled != null" >
        is_disabled = #{record.isDisabled,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.orderPrice != null" >
        order_price = #{record.orderPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_model
    set id = #{record.id,jdbcType=INTEGER},
      weidian_id = #{record.weidianId,jdbcType=VARCHAR},
      guide_id = #{record.guideId,jdbcType=INTEGER},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      is_disabled = #{record.isDisabled,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      order_price = #{record.orderPrice,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.osm.entity.OrderModelEntity" >
    update order_model
    <set >
      <if test="weidianId != null" >
        weidian_id = #{weidianId,jdbcType=VARCHAR},
      </if>
      <if test="guideId != null" >
        guide_id = #{guideId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null" >
        is_disabled = #{isDisabled,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.osm.entity.OrderModelEntity" >
    update order_model
    set weidian_id = #{weidianId,jdbcType=VARCHAR},
      guide_id = #{guideId,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      is_disabled = #{isDisabled,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      order_price = #{orderPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>