<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.osm.entity.PaymentEntityMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.osm.entity.PaymentEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="order_detail_num" property="orderDetailNum" jdbcType="INTEGER" />
    <result column="amount_money" property="amountMoney" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="pay_channel" property="payChannel" jdbcType="INTEGER" />
    <result column="out_account" property="outAccount" jdbcType="VARCHAR" />
    <result column="in_account" property="inAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_num, order_detail_num, amount_money, status, trade_type, create_time, finish_time, 
    pay_channel, out_account, in_account
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rongyi.easy.osm.entity.PaymentEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from payment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from payment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.easy.osm.entity.PaymentEntityExample" >
    delete from payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.osm.entity.PaymentEntity" >
    insert into payment (id, order_num, order_detail_num, 
      amount_money, status, trade_type, 
      create_time, finish_time, pay_channel, 
      out_account, in_account)
    values (#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, #{orderDetailNum,jdbcType=INTEGER}, 
      #{amountMoney,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{tradeType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{payChannel,jdbcType=INTEGER}, 
      #{outAccount,jdbcType=VARCHAR}, #{inAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.osm.entity.PaymentEntity" >
    insert into payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderDetailNum != null" >
        order_detail_num,
      </if>
      <if test="amountMoney != null" >
        amount_money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="outAccount != null" >
        out_account,
      </if>
      <if test="inAccount != null" >
        in_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderDetailNum != null" >
        #{orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="amountMoney != null" >
        #{amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="outAccount != null" >
        #{outAccount,jdbcType=VARCHAR},
      </if>
      <if test="inAccount != null" >
        #{inAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rongyi.easy.osm.entity.PaymentEntityExample" resultType="java.lang.Integer" >
    select count(*) from payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update payment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.orderDetailNum != null" >
        order_detail_num = #{record.orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="record.amountMoney != null" >
        amount_money = #{record.amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payChannel != null" >
        pay_channel = #{record.payChannel,jdbcType=INTEGER},
      </if>
      <if test="record.outAccount != null" >
        out_account = #{record.outAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.inAccount != null" >
        in_account = #{record.inAccount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update payment
    set id = #{record.id,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      order_detail_num = #{record.orderDetailNum,jdbcType=INTEGER},
      amount_money = #{record.amountMoney,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      trade_type = #{record.tradeType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      pay_channel = #{record.payChannel,jdbcType=INTEGER},
      out_account = #{record.outAccount,jdbcType=VARCHAR},
      in_account = #{record.inAccount,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.osm.entity.PaymentEntity" >
    update payment
    <set >
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderDetailNum != null" >
        order_detail_num = #{orderDetailNum,jdbcType=INTEGER},
      </if>
      <if test="amountMoney != null" >
        amount_money = #{amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="outAccount != null" >
        out_account = #{outAccount,jdbcType=VARCHAR},
      </if>
      <if test="inAccount != null" >
        in_account = #{inAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.osm.entity.PaymentEntity" >
    update payment
    set order_num = #{orderNum,jdbcType=INTEGER},
      order_detail_num = #{orderDetailNum,jdbcType=INTEGER},
      amount_money = #{amountMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      trade_type = #{tradeType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      pay_channel = #{payChannel,jdbcType=INTEGER},
      out_account = #{outAccount,jdbcType=VARCHAR},
      in_account = #{inAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>