<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${mq.host}" username="${mq.username}" password="${mq.password}" port="${mq.port}"
		virtual-host="${mq.virtualhost}" channel-cache-size="25"/>

	<rabbit:admin connection-factory="connectionFactory" />

	<!-- queue 队列声明 -->
	<rabbit:queue id="listen_queue" durable="true" auto-delete="false"
		exclusive="false" name="${mq.queuename}" />

	<!-- exchange queue binging key 绑定 -->
	<rabbit:direct-exchange name="${mq.exchange}"
		durable="true" auto-delete="false" id="core_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="listen_queue" key="${mq.routingkey}" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<bean id="receiver" class="com.rongyi.va.mq.SpringAmqpReceiver"/>
	
	<rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual" auto-startup="false" prefetch="1000">
		<rabbit:listener queues="listen_queue " ref="receiver" />
	</rabbit:listener-container>
	
	<rabbit:template id="template" connection-factory="connectionFactory" />

</beans>