<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongyi.easy.entity.IntegralRecordMapper" >
  <resultMap id="BaseResultMap" type="com.rongyi.easy.entity.IntegralRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_no" property="memberNo" jdbcType="VARCHAR" />
    <result column="trade_date" property="tradeDate" jdbcType="TIMESTAMP" />
    <result column="gift_id" property="giftId" jdbcType="INTEGER" />
    <result column="gift_num" property="giftNum" jdbcType="INTEGER" />
    <result column="original_each_integral" property="originalEachIntegral" jdbcType="INTEGER" />
    <result column="actual_each_integral" property="actualEachIntegral" jdbcType="INTEGER" />
    <result column="total_use_integral" property="totalUseIntegral" jdbcType="INTEGER" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="issueby" property="issueby" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_no, trade_date, gift_id, gift_num, original_each_integral, actual_each_integral, 
    total_use_integral, action, remark, issueby, created_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rongyi.easy.entity.IntegralRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rmc_integral_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rmc_integral_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rmc_integral_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rongyi.easy.entity.IntegralRecordExample" >
    delete from rmc_integral_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rongyi.easy.entity.IntegralRecord" >
    insert into rmc_integral_record (id, member_no, trade_date, 
      gift_id, gift_num, original_each_integral, 
      actual_each_integral, total_use_integral, action, 
      remark, issueby, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{memberNo,jdbcType=VARCHAR}, #{tradeDate,jdbcType=TIMESTAMP}, 
      #{giftId,jdbcType=INTEGER}, #{giftNum,jdbcType=INTEGER}, #{originalEachIntegral,jdbcType=INTEGER}, 
      #{actualEachIntegral,jdbcType=INTEGER}, #{totalUseIntegral,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{issueby,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rongyi.easy.entity.IntegralRecord" >
    insert into rmc_integral_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberNo != null" >
        member_no,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="giftId != null" >
        gift_id,
      </if>
      <if test="giftNum != null" >
        gift_num,
      </if>
      <if test="originalEachIntegral != null" >
        original_each_integral,
      </if>
      <if test="actualEachIntegral != null" >
        actual_each_integral,
      </if>
      <if test="totalUseIntegral != null" >
        total_use_integral,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="issueby != null" >
        issueby,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null" >
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="giftId != null" >
        #{giftId,jdbcType=INTEGER},
      </if>
      <if test="giftNum != null" >
        #{giftNum,jdbcType=INTEGER},
      </if>
      <if test="originalEachIntegral != null" >
        #{originalEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="actualEachIntegral != null" >
        #{actualEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="totalUseIntegral != null" >
        #{totalUseIntegral,jdbcType=INTEGER},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="issueby != null" >
        #{issueby,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rongyi.easy.entity.IntegralRecordExample" resultType="java.lang.Integer" >
    select count(*) from rmc_integral_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rmc_integral_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.memberNo != null" >
        member_no = #{record.memberNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeDate != null" >
        trade_date = #{record.tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.giftId != null" >
        gift_id = #{record.giftId,jdbcType=INTEGER},
      </if>
      <if test="record.giftNum != null" >
        gift_num = #{record.giftNum,jdbcType=INTEGER},
      </if>
      <if test="record.originalEachIntegral != null" >
        original_each_integral = #{record.originalEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.actualEachIntegral != null" >
        actual_each_integral = #{record.actualEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.totalUseIntegral != null" >
        total_use_integral = #{record.totalUseIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.action != null" >
        action = #{record.action,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.issueby != null" >
        issueby = #{record.issueby,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rmc_integral_record
    set id = #{record.id,jdbcType=INTEGER},
      member_no = #{record.memberNo,jdbcType=VARCHAR},
      trade_date = #{record.tradeDate,jdbcType=TIMESTAMP},
      gift_id = #{record.giftId,jdbcType=INTEGER},
      gift_num = #{record.giftNum,jdbcType=INTEGER},
      original_each_integral = #{record.originalEachIntegral,jdbcType=INTEGER},
      actual_each_integral = #{record.actualEachIntegral,jdbcType=INTEGER},
      total_use_integral = #{record.totalUseIntegral,jdbcType=INTEGER},
      action = #{record.action,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      issueby = #{record.issueby,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongyi.easy.entity.IntegralRecord" >
    update rmc_integral_record
    <set >
      <if test="memberNo != null" >
        member_no = #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null" >
        trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="giftId != null" >
        gift_id = #{giftId,jdbcType=INTEGER},
      </if>
      <if test="giftNum != null" >
        gift_num = #{giftNum,jdbcType=INTEGER},
      </if>
      <if test="originalEachIntegral != null" >
        original_each_integral = #{originalEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="actualEachIntegral != null" >
        actual_each_integral = #{actualEachIntegral,jdbcType=INTEGER},
      </if>
      <if test="totalUseIntegral != null" >
        total_use_integral = #{totalUseIntegral,jdbcType=INTEGER},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="issueby != null" >
        issueby = #{issueby,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongyi.easy.entity.IntegralRecord" >
    update rmc_integral_record
    set member_no = #{memberNo,jdbcType=VARCHAR},
      trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      gift_id = #{giftId,jdbcType=INTEGER},
      gift_num = #{giftNum,jdbcType=INTEGER},
      original_each_integral = #{originalEachIntegral,jdbcType=INTEGER},
      actual_each_integral = #{actualEachIntegral,jdbcType=INTEGER},
      total_use_integral = #{totalUseIntegral,jdbcType=INTEGER},
      action = #{action,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      issueby = #{issueby,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>